[2021-06-09 16:54] theunkn0wn1 opened #490 "How to set up a new arm from URDF for use with moveit2?"
**Is your feature request related to a problem? Please describe.**
I am evaluating moveit2 for use with ROS2 Foxy as part of a club project.
To this end, I am rather confused on how users are to import custom arm models for use with moveit2.
The documentation points [at outdated information](http://moveit2_tutorials.picknik.ai/doc/setup_assistant/setup_assistant_tutorial.html), and it seems this m

[2021-06-09 18:19] nkalupahana opened #491 "macOS moveit_servo build issue"
### Description

When building MoveIt2 from source, I'm getting a strange error when building MoveIt Servo:

[code]
This build was run on CI, so full configuration can be viewed here: https://github.com/nkalupahana/ros2-foxy-macos/runs/2786139463?check_suite_focus=true

Any ideas about what this might be about?

### Your environment
* ROS Distro: Foxy
* OS Version: macOS
* Build details: From sour

[2021-06-10 23:32] vatanaksoytezer commented on #481
The disabled OMPL test was under planning interface, which should be solved similar with #397

[2021-06-14 04:05] Briancbn commented on #412
We have verified that the previous consistent phantom collision doesn't occur any more. We will continue testing and can re-open this if necessary. @chiatseen we can close this issue now.

[2021-06-14 11:30] amadeuszsz opened #496 "Deal with ROS2 service & executors to get current robot states"
I am confused about provide ROS2 service with executors (as it mentioned in [moveit2 demo](https://github.com/ros-planning/moveit2_tutorials/blob/main/doc/move_group_interface/src/move_group_interface_tutorial.cpp)).

I already finished my service, unfortunately it works incorrectly. I mean, it is possible to move real robot, but I couldn't get current states, It works proper in demo mentioned abo

[2021-06-14 12:20] #412 closed

[2021-06-15 05:41] 91fabbai91 opened #499 "build error: urdfdom seems to be missing"
I tried to build moveit2 from source as mentioned on the project page.
Therefore I used a clean installation of Ubuntu 20.04. After that I installed ros2 foxy with the debian package method.
The next step was to install/build moveit2, but I stops immediately when I start the colcon build with
`colcon build --event-handlers desktop_notification- status- --cmake-args -DCMAKE_BUILD_TYPE=Release`

`St

[2021-06-15 09:04] vatanaksoytezer commented on #499
Did you forget to run `rosdep install -r --from-paths . --ignore-src --rosdistro foxy -y` ? It seems the dependencies are not installed as intended. See https://moveit.ros.org/install-moveit2/source/

[2021-06-15 10:23] 91fabbai91 commented on #499
@vatanaksoytezer That's not the case. It says `#All required rosdepts installed successfully`

[2021-06-15 10:35] vatanaksoytezer commented on #499
I presume you have also sourced /opt/ros/foxy/setup.bash right?

[2021-06-15 10:40] 91fabbai91 commented on #499
yes, I did that and used `env | grep ROS` to look at the environment variables.
There are four variables
ROS_VERSION=2
ROS_PYTHON_VERSION=3
ROS_LOCALHOST_ONLY=0
ROS_DISTRO=foxy

Thanks for helping :)

[2021-06-16 12:25] korosava commented on #462
Similar [issue](https://github.com/ros-controls/ros2_controllers/issues/203), closed in the ros2_controllers.

[2021-06-16 18:40] vatanaksoytezer commented on #329
Hey @Drojas251 moveit2 currently works on rolling and galactic. A CI has already been setup for both and currently passing.

There is a nice video that @tylerjw recorded here: https://www.youtube.com/watch?v=FgIK27jN4bk.  Differing from video all the fixes are merged into ros_control and moveit2, so you won't need to checkout these PRs. Current main branch compiles just fine.

[2021-06-16 18:43] Drojas251 commented on #329
@vatanaksoytezer  Wonderful! Thank you!

[2021-06-16 19:36] AndyZe opened #503 "MoveGroupInterface stop() does not work"
I was playing with the MoveGroupInterface tutorial and noticed that `.stop()` does not seem to work. Here's the branch I was working on:

https://github.com/AndyZe/moveit2_tutorials/tree/andyz/move_group_in_depth

My changes are pretty small compared to `main` branch. The problem is, `stop()` does nothing. The robot continues executing until it finishes the trajectory.

[code]

[2021-06-16 20:57] AndyZe commented on #503
It seems like using the action client might be the right way, although this also did not work for me:

[code]

[2021-06-16 22:26] AndyZe commented on #503
I guess ^ fails because there is no Cancel callback defined.

[2021-06-17 04:09] ooeygui opened #504 "Finish Windows port"
This Feature request is to finish the Windows port as started in https://github.com/ros-planning/moveit2/pull/238.

@lilustga and I (@ooeygui) will be working on this; this issue is to capture that workstream for tracking purposes.

[2021-06-17 14:15] AndyZe commented on #503
Note: trajectory_event_publisher_ should be delete, I think. It's only used in the stop() function.

[2021-06-17 16:11] Drojas251 commented on #156
@JafarAbdi  I am having the same issue when building ROS2 Foxy and Moveit2 from source even when running
`rosdep install -r --from-paths . --ignore-src --rosdistro foxy -y`

Any ideas why this dependency is not found?

[2021-06-17 16:17] JafarAbdi commented on #156
Did you run `source /opt/ros/foxy/setup.bash` before building .?

[2021-06-17 16:57] Drojas251 commented on #156
@JafarAbdi Forgive my ignorance, but when you install ROS2 from source you should source the workspace correct?
`source ros2_ws/install/setup.bash`

I sourced the workspace prior to building. Should I run this instead?
`source /opt/ros/foxy/setup.bash`

[2021-06-17 17:08] JafarAbdi commented on #156
That's right if you built ROS2 from source you need to run `source ros2_ws/install/setup.bash` but in this case, you need to install the dependencies from source otherwise, you may run into bugs/segfaults due to ABI incompatibility or get errors about not finding some shared libraries in case building moveit2 succeeded

[2021-06-17 17:18] Drojas251 commented on #156
@JafarAbdi Okay great, that is what I thought. Is there a direct way I can find this list of dependencies needed to build Moveit2 with a ROS2 install from source? Is there a README.md somewhere that walks through the steps up building Moveit2 with ROS2 installed form source?

[2021-06-17 17:28] JafarAbdi commented on #156
You could run the following command in the workspace to get all the dependencies `rosdep install --reinstall --simulate --ignore-src --from-paths .`

[2021-06-17 17:34] Drojas251 commented on #156
@JafarAbdi This command should be ran in the ros2 workspace or moveit2 workspace?

[2021-06-17 17:35] JafarAbdi commented on #156
In moveit2 workspace

[2021-06-17 18:31] Drojas251 commented on #156
@JafarAbdi Great, thank you very much for you help!

[2021-06-17 20:18] AndyZe opened #507 "trajectory_event_publisher_ in MoveGroupInterface seems redundant"
In move_group_interface.cpp, there is a `move_action_client_` and a `trajectory_event_publisher_`. It's not clear to me why we have both. The `trajectory_event_publisher_` is used to interrupt trajectories but nothing else. Shouldn't the `move_action_client_` be able to cancel trajectories too?

(The discussion started [here](https://github.com/ros-planning/moveit2/pull/506#issuecomment-863531348)

[2021-06-17 20:28] AndyZe opened #508 "Add a unit test for MoveGroupInterface stop() method"
Add a unit test for this important bit of functionality. I think it should be added in `moveit_ros/planning_interface/test/move_group_interface_cpp_test.cpp`

[2021-06-18 02:05] chenguang3312 opened #509 "run_moveit_cpp not work"
terminal print:

`[run_moveit_cpp-4] [INFO] [1623981361.976500087] [moveit.ros_planning.planning_pipeline]: Using planning request adapter 'Add Time Optimal Parameterization'
[run_moveit_cpp-4] [INFO] [1623981361.976506719] [moveit.ros_planning.planning_pipeline]: Using planning request adapter 'Fix Workspace Bounds'
[run_moveit_cpp-4] [INFO] [1623981361.976509025] [moveit.ros_planning.planning_pi

[2021-06-18 02:12] chenguang3312 commented on #499
I also encountered the same problem, delete the workspace and re-download and compile the solution。Maybe the system library is not up to date。
try：
`sudo apt update
sudo apt dist-upgrade
rosdep update
`

[2021-06-19 21:16] vatanaksoytezer opened #512 "Clean unused CI job logs of old CI tags from Github Actions"
Only the following CI jobs are being run currently. The rest should be deleted manually to have a much cleaner Actions page:

* Build and Test (Distro)
* Formatting (pre-commit)
* pre-release

![image](https://user-images.githubusercontent.com/13888103/122655625-695f9400-d15c-11eb-9899-efe000118f34.png)

[2021-06-21 05:39] 91fabbai91 commented on #499
@chenguang3312 You are right. I had to delete the workspace and redownload it. I don't understand the issue, but it works so far.

So I will close this issue.

[2021-06-21 05:39] #499 closed

[2021-06-21 18:00] #503 closed

[2021-06-21 21:34] Ace314159 commented on #504
@ooeygui I have a [fork of MoveIt2](https://github.com/Ace314159/moveit2) that builds and properly runs for my team's usage. I didn't create a PR to merge it in since there was already an existing PR for a windows port, and I wanted to get the fixes for the other repos merged in first.

I'd love to combine our efforts and help with finishing the port.

[2021-06-21 22:59] ooeygui commented on #504
@Ace314159 Awesome! Would love to connect and discuss - can you add me to your network on linkedin? https://www.linkedin.com/in/louamadio/

[2021-06-22 00:51] Ace314159 commented on #504
@ooeygui I've sent a request.

[2021-06-25 13:23] #496 closed

[2021-06-25 22:44] RyanDelGizzi opened #516 "Pulling in new moveit2 changes breaks old workspace."
### Description

Receiving build errors on `moveit_ros_visualization` after pulling in latest changes. The error comes from building the mocs and says that `QMetaObject::SuperData` has not been declared.

### Your environment
* ROS Distro: Foxy
* OS Version: Ubuntu 20.04
* Source Build
* Version: [vsctool repos file](https://github.com/ros-planning/moveit2/blob/fb94e78da7d9a16fee53ccc34fbfb2c7af2a

[2021-06-27 09:37] vatanaksoytezer commented on #516
Hi @RyanDelGizzi thanks a lot for reporting! I've never seen this error and don't have much insight. However, I suspect it to be somewhat upstream since you mentioned you didn't update your workspace since January.

Rather then having a fresh Ubuntu install, simply calling `apt-get update && apt-get upgrade` to update your binary dependencies should fix your issue if my suspicion is correct. We al

[2021-06-27 12:25] vatanaksoytezer opened #517 "Setup automated docker builds for Galactic and Rolling"
We already have a automated Foxy docker build (that we also use for moveit2_tutorial industrial_ci).

We need to set up a similar structure for Rolling and Galactic.

[2021-06-28 22:52] RyanDelGizzi commented on #516
Hi @vatanaksoytezer,

Thank you for your attention to the issue. We discovered the failed build was caused by a conflicting build dependency with [ros scxml](https://github.com/swri-robotics/ros_scxml). I'll close the issue. :)

[2021-06-28 22:52] #516 closed

[2021-06-29 20:24] MarqRazz commented on #509
@ChamzasKonstantinos I was running into this same issue the other day and it was because my source code was not up to date. Can you try pulling all of your source repos up to date?

[2021-06-30 01:22] nkalupahana opened #522 "Basic tutorial doesn't work"
### Description

With the latest `moveit2` changes (42efad9), our team's MoveIt code suddenly stopped working. To see if it was an issue with our configuration, we tried the tutorials as well -- but they also seem to be broken. See "Steps to reproduce" for more.

### Your environment
* ROS Distro: Foxy
* OS Version: Ubuntu 20
* Source or Binary build? Source (42efad9)

### Steps to reproduce
- I c

[2021-06-30 02:44] QianBright opened #523 "cannot build moveit core, not providing "FindTinyXML2.cmake""
Ubuntu 20.04 LTS
Linux ubuntu-ros 5.8.0-59-generic #66~20.04.1-Ubuntu SMP Thu Jun 17 11:14:10 UTC 2021 x86_64 x86_64 x86_64 GNU/Linux
ROS2 foxy
moveit2

According to website http://moveit2_tutorials.picknik.ai/doc/getting_started/getting_started.html#install-ros2-and-colcon, I made the following error when I went to `colcon build --event-handlers desktop_notification- status- --cmake-args -DCMAKE_

[2021-06-30 02:56] nkalupahana commented on #522
I've verified this with my old MoveIt2 installation and the latest build of `moveit2_tutorials` (tutorials still work) -- so this seems to be a problem with MoveIt itself and not a quirk of the tutorials. @henningkayser I'm pinging you on this directly because I believe this is a serious regression that should be addressed quickly, especially with Galactic release coming up. Hope that's okay :) an

[2021-06-30 03:04] nkalupahana commented on #523
Did you run `rosdep install -r --from-paths . --ignore-src --rosdistro foxy -y`, like it says on the doc page? That should install everything -- I just did a clean install on an Ubuntu 20 machine about an hour ago and the everything built successfully.

[2021-06-30 03:08] QianBright commented on #523
yes..
[code]

[2021-06-30 03:14] JafarAbdi commented on #523
Can you make sure to update your srdfdom package .? this should be fixed with this [commit](https://github.com/ros-planning/srdfdom/commit/cadab16ca1ecf93e29ecb5b8e14505ccae080ebb)

[2021-06-30 04:31] QianBright commented on #523
When I update srdfdom, the result changes.

But it keeps showing `[Processing: moveit_core]` (when I do `colcon build` again) and doesn't move on to the next step.

[2021-06-30 04:34] JafarAbdi commented on #523
Can you clean your workspace (remove build, install, and log directories) and try again .? also depending on your PC spec. moveit_core may take a while to compile, does your PC freeze .?

[2021-06-30 06:37] JafarAbdi commented on #522
@nkalupahana Do you mind testing https://github.com/ros-planning/moveit2/pull/524 and see if it fixes the problem for you .?

[2021-06-30 06:40] JafarAbdi commented on #475
Fixed by https://github.com/ros-planning/moveit2/pull/505

[2021-06-30 06:40] #475 closed

[2021-06-30 06:45] JafarAbdi commented on #188
This should be fixed in the latest main branch

[2021-06-30 06:45] #188 closed

[2021-06-30 06:46] JafarAbdi commented on #459
I'm going to close this, feel free to reopen it if you still have a problem building moveit2

[2021-06-30 06:46] #459 closed

[2021-06-30 06:50] JafarAbdi commented on #509
I'm pretty sure this's happening because you're using the wrong shared library, a clean build for your workspace should fix it

I'm going to close this issue, please feel free to reopen it if you still have the problem

[2021-06-30 06:50] #509 closed

[2021-06-30 13:43] vatanaksoytezer opened #527 "Panda KDL Singular test failed in a recent CI run on Foxy"
One of the recently added moveit_kinematics test has failed in the recent merge for some reason. The log doesn't show much info about the failure, but we may need to dig a little if this keeps failing. See https://github.com/ros-planning/moveit2/runs/2951969402 for log.

[2021-06-30 14:57] #522 closed

[2021-06-30 15:39] nkalupahana commented on #522
@JafarAbdi could you reopen this issue? This PR doesn't fix the problem -- I have the exact same issue. Y'all might want to run tutorials on `main` right now and see what happens for yourself. I'd be happy to test anything out too, my build machine is just somewhat slow.

https://gist.github.com/nkalupahana/08a294ad16dec6233c914910cf07c2f8

[2021-06-30 15:50] nkalupahana commented on #527
I think this might be related to #522 - also involves panda and KDL

[2021-06-30 15:58] vatanaksoytezer commented on #527
Thanks for the input! However, if that was the case I think we would get an assertion error on IK solving test. Here the test just dies and the other tests involving panda and kdl passes. I strongly think this is something else.

[2021-06-30 16:00] vatanaksoytezer commented on #522
@nkalupahana I just tested the tutorials and moveit2 (and all other upstreams) on main and can't seem to reproduce on Foxy. Do you mind cleaning your workspace, updating all the deps (by pulling and apt-get update / upgrade) and trying again and let us know if the issue persists?

[2021-06-30 16:35] JafarAbdi commented on #522
@nkalupahana Do you mind trying to start the `panda_hand_controller` controller  https://github.com/ros-planning/moveit2_tutorials/pull/95#issuecomment-871364195

[2021-06-30 20:41] #476 closed

[2021-06-30 22:36] vatanaksoytezer opened #529 "Delete rolling and galactic repos files once there are syncs with the latest upstream releases"
We needed those files because some of these packages weren't available for rolling and galactic main repositories. This will be fixed with the syncs. Rolling will have it's sync tomorrow: https://discourse.ros.org/t/preparing-for-rolling-sync-2021-07-01/21169 and Galactic sync is in two weeks from now: https://discourse.ros.org/t/when-is-the-next-galactic-sync/21146

[2021-07-01 03:52] nkalupahana commented on #522
I pulled up a blank VM and it looks like it's all working now -- not sure what was up with that :) #524 fixed it!

[2021-07-01 05:45] Ace314159 commented on #504
I have created #530 which address this.

[2021-07-01 12:03] vatanaksoytezer opened #531 "Add buildfarm badges for Foxy, Galactic and Rolling"

[2021-07-01 17:20] vatanaksoytezer commented on #529
#534 deletes these files for rolling, I will send a follow up PR for galactic.

[2021-07-01 19:28] tom-botbuilt opened #535 "Cannot load/reuse roadmap.graph for Persistent OMPL planners"
### Description

I'm a new MoveIt2 user, and am trying to use the Persistent OMPL planners (i.e., PersistentLazyPRMstar and PersistentLazyPRM). I can generate the `roadmap.graph` file successfully, but trying to reuse it later causes an error message to display.

### Your environment
* ROS Distro: Foxy
* OS Version: Ubuntu 20.04
* Source build, main branch

### Steps to reproduce
I'm following the

[2021-07-02 12:22] aaroosh-07 commented on #431
can i take up this issue

[2021-07-02 12:24] christianlandgraf opened #536 "Moving collision objects in RViz"
### Description

Strange behaviour when loading and moving scene objects.

### Your environment
* ROS Distro: Foxy
* OS Version: Ubuntu 20.04
* Source build, master

### Steps to reproduce
When loading any collision object into the scene, moving it through interactive marker control or the position boxes does not work as expected... (see video below). The position of the interactive marker also ch

[2021-07-02 13:20] JafarAbdi commented on #536
Hi @christianlandgraf, I can't reproduce this, do you mind sharing more info .? what commit hash are you using .?

[2021-07-02 15:39] tom-botbuilt commented on #535
EDIT: I fixed this issue by adding a function to planning_context_manager.cpp; basically re-added the functions that were removed since MoveIt1:

[code]
(See [lines 194-224] (https://docs.ros.org/en/api/moveit_planners_ompl/html/planning__context__manager_8cpp_source.html))

[2021-07-02 15:50] christianlandgraf commented on #536
Hi @JafarAbdi  I'm on the latest commit b8813c34d7576ea32e6549b96a87072d2cff8930 and using the recommended setup from `moveit.repos`. It's quite a strange behaviour...

I am using a custom description file ([this one](https://github.com/PickNikRobotics/UR10e_welding_demo/blob/master/ipa_demo_cell_description/urdf/ipa_ur_demo.urdf.xacro)). If the robot is linked to some other frame, e.g. a table, i

[2021-07-02 21:44] v4hn commented on #535
So you found that [these specializations](https://github.com/ros-planning/moveit/blob/master/moveit_planners/ompl/ompl_interface/src/planning_context_manager.cpp#L194-L224) were removed in the ROS2 port and broke the functionality.
It looks like someone misunderstood the `TODO` at the top and removed the entire block instead of only the conditional...
I will create a corresponding pull-request to

[2021-07-02 23:23] vatanaksoytezer commented on #523
I think the issue is not relevant anymore since it is fixed with https://github.com/ros-planning/srdfdom/commit/cadab16ca1ecf93e29ecb5b8e14505ccae080ebb. Feel free to re-open the issue if your problem persists.

[2021-07-02 23:23] #523 closed

[2021-07-05 10:01] sharath-matada opened #538 "Laptop hangs after building 42/56 files"
Hi,
I'm having building moveit2 on ROS foxy from source. My laptop repeatedly hangs after building 42/56 files.
Any help would be appreciated
I've been following the instructions in the link below
http://moveit2_tutorials.picknik.ai/doc/getting_started/getting_started.html

[2021-07-05 11:48] JafarAbdi commented on #538
This means your PC run out of RAM+SWAP memory, you could fix it by either

1- Lower the number of parallel packages to build & number of threads per package
[code]
where NUMBER1 is the max number of threads per package and NUMBER2 is the max number of parallel packages to build together
2- Or increase the swap memory size

You could see the number of threads for your PC by calling `nproc`

[2021-07-05 11:48] #538 closed

[2021-07-06 13:17] #535 closed

[2021-07-06 18:53] #473 closed

[2021-07-07 04:51] brianyany opened #541 "joint limit loading and overwriting behavior"
A few things:
1. joint_limits.yaml not loaded in the demo apps and not clear how exactly would one go about loading it.
2. When joint_limits.yaml is not loaded, in robot_model_loader.cpp, the configure function would attempts to load the limits but fail (which means there's no pos, vel, or acc limit). Then the call at line 226 to setVariableBounds would overwrite the joint limits read from the urd

[2021-07-08 06:43] NebuDa opened #543 "Failed to detect successful installation of [ros-galactic-random-numbers] and others"
### Description

Overview of your issue here.

### Your environment
* ROS Distro: Galactic
* OS Version: e.g. Ubuntu 20.04
* Binary build
* via https://docs.ros.org/en/galactic/Installation/Ubuntu-Install-Debians.html

### Steps to reproduce
Hi there,
I have installed ROS2 Galactic form Debian packages in Windows Subsystem for Linux2 and it runs great. Now I have tried to install MoveIt2 with http

[2021-07-08 07:03] JafarAbdi commented on #543
For galactic you need to use https://github.com/ros-planning/moveit2/blob/main/moveit2_galactic.repos rather than the one shown in [here](https://moveit.ros.org/install-moveit2/source/#download-source-code)

I opened a PR to fix the tutorial https://github.com/ros-planning/moveit.ros.org/pull/617

[2021-07-08 07:05] #543 closed

[2021-07-08 07:51] JafarAbdi commented on #541
This [PR](https://github.com/ros-planning/moveit2/pull/544) add how to load the joint limits

The joint_limit is initially set to the values from the urdf in [L125](https://github.com/ros-planning/moveit2/blob/main/moveit_ros/planning/robot_model_loader/src/robot_model_loader.cpp#L125), and will only be overridden if `joint_limits.yaml` is loaded

Do you mind sharing a reproducible example .?

[2021-07-08 08:33] NebuDa commented on #543
Thanks a lot. It works.

[2021-07-08 13:47] JafarAbdi commented on #541
You're right, can you test this [PR](https://github.com/ros-planning/moveit2/pull/546) and see if it fixes the bug for you .?

[2021-07-08 14:19] brianyany commented on #541
yep! this PR resolved the joint limits overwritten issue! Thank you for the quick fix.

[2021-07-08 16:58] JafarAbdi opened #547 "Add command line interface to moveit"
Having CLI similar to [ros2controlcli](https://github.com/ros-controls/ros2_control/tree/master/ros2controlcli) that could be used for debugging would be very helpful for users, for example, wrapping some of the following functionalities https://github.com/ros-planning/moveit2/tree/main/moveit_ros/planning/planning_components_tools

[2021-07-08 20:46] Afif-Swaidan opened #548 "Contribution to the development of the new Moveit2 Setup Assistant"
Hello it's Afif Swaidan from Spexal Robotics. We are a Robotics company that is mainly focused on logistics robotics. We already did several projects that utilized ROS navigation for mobile robots and ROS manipulation (Moveit) for robotic arms. We are already migrating to ROS2 as well and we are interested to contribute in the process of migrating MoveIt2 to ROS2.

Since the majority of MoveIt2 Co

[2021-07-09 20:07] v4hn commented on #547
I believe the `moveit_commander_cmdline.py` is meant to serve this purpose. Or do you have something different in mind?
Either way I agree that the commander cmd does not provide enough support for debugging.

[2021-07-10 02:54] davetcoleman commented on #548
We'd love your support in the migration! @henningkayser is the expert in the remaining needs here.

[2021-07-12 16:01] DLu commented on #548
The main issue tracking the migration is https://github.com/ros-planning/moveit2/issues/313

[2021-07-12 19:20] henningkayser commented on #508
@AndyZe do you think you could implement what you had in mind? Ideally, this would be a test that fails to address the possible issue.

[2021-07-12 19:29] henningkayser commented on #507
The `trajectory_event_publisher_` allows stopping trajectories when using `asyncExecute()` or `asyncMove()`. I don't think it's redundant. However, it might be possible to implement the async calls by storing the active goal and future and using that one to terminate the action call. This would require quite some refactoring and testing, though.

[2021-07-12 19:31] Afif-Swaidan commented on #548
@henningkayser Well received,
Thanks!

[2021-07-12 19:31] #548 closed

[2021-07-12 19:38] henningkayser opened #554 "Foxy - Maintenance Branch"
With Rolling/Galactic, there are more and more changes and deprecations that require us to split out Foxy support into a separate maintenance branch. We should make this step with one of the next releases and decide on a maintenance strategy.

[2021-07-14 13:36] ravnicas opened #556 "Planning Request ignores current joint states for unplanned groups"
### Description

I'm building a robot system with several planning groups, since i can access only one controller for all of them.
If planning for the compound group, all planning is executed as expected.

### Problem

The behavior of motion planning is strange in my case:
- if i select the group "both" and move the robots via RViz or via the move group interface, i can move both robots simultaneo

[2021-07-14 16:18] vatanaksoytezer commented on #527
Closing his since the flakiness doesn't seem to be here any more. I will open this back if I observe any CI failures related with these tests.

[2021-07-14 16:18] #527 closed

[2021-07-14 16:21] vatanaksoytezer commented on #329
Closed by #494

[2021-07-14 16:21] #329 closed

[2021-07-16 09:31] JafarAbdi opened #557 "CI is broken for rolling"
### Description

As you can see https://github.com/ros-planning/moveit2/runs/3084812617#step:6:944, CI is failing for rolling with the following error

[code]

[2021-07-16 10:08] JafarAbdi commented on #547
The problem we have here is not having a global parameter server in ROS2, which mean the user have to pass all the parameters used for move_group ([example](https://github.com/ros-planning/moveit2/blob/main/moveit_demo_nodes/run_move_group/launch/run_move_group.launch.py)) to `moveit_commander_cmdline.py` which is a big overhead for users, so my solution is to add a new move group capability that

[2021-07-16 16:45] JafarAbdi commented on #557
Should be fixed by https://github.com/ros2/rosidl/issues/602

[2021-07-19 21:25] vatanaksoytezer commented on #557
We can add this to repos until sync to avoid CI failures @JafarAbdi @henningkayser @tylerjw

[2021-07-20 10:06] lvhao54 opened #559 "1 package failed: rviz_visual_tools"
### Description

1 package failed: rviz_visual_tools.

### Your environment
* ROS2 Distro: [foxy]
* OS Version: e.g. Ubuntu 20.04
* Source build
* If source, which branch
[code]

### Steps to reproduce
Tell us how to reproduce this issue. Attempt to provide a working demo, perhaps using Docker.

### Expected behaviour
build success

### Actual behaviour
[code]

### Backtrace or Console output

Use

[2021-07-20 14:59] vatanaksoytezer opened #560 "Clean Deprecation Warnings"
Once we branch off for Foxy, we need to clean deprecation warnings that are ongoing for rolling and galactic.

[2021-07-20 20:01] vatanaksoytezer commented on #557
They had a fix sync yesterday. This will fix our CI and we can close this issue.

[2021-07-20 21:11] vatanaksoytezer commented on #559
Hello @lvhao54, thanks for reporting!

Neither I or the CI can't reproduce this. Can you send the full log of your failure? Do you have a sourced ROS workspace (`source /opt/ros/foxy/setup.bash`)?

[2021-07-21 02:29] lvhao54 commented on #559
[latest_build.zip](https://github.com/ros-planning/moveit2/files/6852371/latest_build.zip)

[2021-07-21 02:30] lvhao54 commented on #559
[latest_build.zip](https://github.com/ros-planning/moveit2/files/6852373/latest_build.zip)

[2021-07-21 02:36] lvhao54 commented on #559
I exec the sourced ROS Workspace (`source /opt/ros/foxy/setup.bash`).
I wonder if it is related to my installation of QT5.15.2.

[2021-07-22 07:18] #559 closed

[2021-07-22 22:24] #556 closed

[2021-07-26 16:10] nkalupahana commented on #557
Our CI still doesn't seem to be fixed (see rolling CI on #530, #555, any of the new PRs such as #571, etc.). If this is still an issue on ROS's side, I think this and related issues should probably be re-opened.

[2021-07-27 13:14] vatanaksoytezer commented on #557
To clarify the status of Rolling, CI is actually fixed with the sync and then it got broke again with another reason.

The earlier rolling CI fail was related with: https://github.com/ros2/rosidl/issues/602

Now it is: https://github.com/osrf/infrastructure/issues/5

No need for another issue though, we can keep using this one.

[2021-07-27 14:26] vatanaksoytezer commented on #531
Fixed by #561

[2021-07-27 20:11] #491 closed

[2021-07-28 13:49] AndyZe opened #573 "Delete Iterative Parabolic Time Parameterization and Iterative Spline Parameterization"
These plugins both have issues.

Per https://github.com/ros-planning/moveit/issues/1711

[2021-07-28 14:49] AndyZe opened #574 "Parse jerk limits from joint_limits.yaml and add jerk limits to Joint Model"
Let's give MoveIt the functionality of processing jerk limits. They should be optional, just like acceleration limits are now.

[2021-07-29 16:25] nbbrooks commented on #449
I like this idea. Having some more semantic knowledge of what they want to do will give us a better ability to detect errors in the configuration and merge things. Did they meant to have xyz set up in a abnormal manner? Or did the API to the feature being configured just change/extend? Hard to know without semantics.

[2021-07-29 16:41] tylerjw opened #577 "Re-enable rolling-testing CI once it is fixed"
https://github.com/ros-planning/moveit2/pull/576

[2021-07-30 15:25] lorepieri8 commented on #314
+1 to see Python fully supported

[2021-07-30 19:51] #531 closed

[2021-07-30 22:14] henningkayser commented on #554
Done

[2021-07-30 22:14] #554 closed

[2021-08-01 16:21] AndyZe opened #586 "TOTG does not handle mimic joints properly"
The TOTG trajectory processing plugin uses this:

`const std::vector<int>& idx = group->getVariableIndexList();`

[Here](https://github.com/ros-planning/moveit2/pull/571#discussion_r680264144), Henning said that could cause issues with mimic joints.

Perhaps best to replace it with `group->getActiveJointModelNames()`?

[2021-08-02 19:01] odbee opened #588 "able to build moveit on foxy: resource_retriever/retriever.hpp: No such file or directory"
### Description

whenever i try to build the current version of moveit i get an error during the install of geometric_shapes and the build fails.
of course i did `rosdep install -r --from-paths . --ignore-src --rosdistro foxy -y
` before

### My environment
* ROS Distro: Foxy
* OS Version: Ubuntu 20.04
* built from source, master branch

### Steps to reproduce
simply running
`colcon build --event-

[2021-08-02 19:55] tylerjw commented on #588
There is now a [foxy branch of moveit2](https://github.com/ros-planning/moveit2/tree/foxy).  The hpp file you see in your build output only exists on rolling/galactic and the main branch of moveit2 only supports rolling and galactic now.  I'm sorry if this caused you trouble, the branch was made last week.

[2021-08-02 19:58] tylerjw commented on #588
I created PR here to fix the tutorials: https://github.com/ros-planning/moveit2_tutorials/pull/100

[2021-08-03 12:02] odbee commented on #588
hey @tylerjw thannks for your quick reply but this doesnt fix it unfortunately. i think the problem lies in the 'ros2' branch of [geometric shapes](https://github.com/ros-planning/geometric_shapes)  where someone just changed the header file from retriever.h to retriever.hpp as stated here:

https://github.com/ros-planning/geometric_shapes/commit/42a4a0f178749eeb17486bf2263d72a057e8f2f2#diff-95b01

[2021-08-03 13:06] JafarAbdi commented on #588
Should  be fixed in https://github.com/ros-planning/moveit2/pull/589, @odbee could you please review it .?

[2021-08-03 14:07] odbee commented on #588
hey @JafarAbdi unfortunately I dont think i have permission to review, but it doesnt work. when changing the geometric_shapes branch to foxy it collides with srfdom and probably all other packages in the moveit2.repos that dont have a foxy branch because they seem to be behind

[2021-08-03 17:22] tylerjw commented on #588
Do you have local changes to srfdom?  For me at least when working in foxy I'm able to work with just moviet2 checked out and the rest of the stuff installed with rosdep?

Can you post the error you get from building srdfdom with the foxy branch of geometric_shapes?

Thank you for helping us figure out these issues.  Many of us are working on rolling because in ros2 itself there are a bunch of bug

[2021-08-04 15:56] odbee commented on #588
for sure, here you go:
[code]

as i said, it seems like the foxy branch of geometric_shapes is outdated and the best way to fix it would be to update the foxy branch of geometric_shapes to ros2 branch and just change the resource retriever include.

[2021-08-04 16:11] JafarAbdi commented on #588
The CMake config step is failing for `srdfdom`, how is this related to `geometric_shapes` .?

@odbee Can you test this [PR](https://github.com/ros-planning/srdfdom/pull/96) to see if it fixes the srdfdom failure .?

[2021-08-04 16:14] JafarAbdi commented on #588
Also, can you try a clean build of the workspace .? look like your error is similar to https://github.com/ros-planning/moveit2/issues/499

[2021-08-04 16:18] vatanaksoytezer commented on #588
I think that is the issue. Just clean your build and install of your workspace and build making sure to use the same branches in moveit2.repos (in moveit2 foxy branch).

[2021-08-04 16:53] tylerjw commented on #588
Afaik the only real difference between the foxy and ros2 branch of geometric_shapes is the resource retriever include.

[2021-08-04 19:06] vatanaksoytezer commented on #512
Fixed by @tylerjw

[2021-08-04 19:06] #512 closed

[2021-08-10 04:22] tylerjw opened #597 "missing run dependencies for servo demos"
### Description

This is some of the output of running: `ros2 launch moveit_servo servo_teleop.launch.py`.

[code]

What are the run dependencies we are missing?  Have these been released for rolling/galactic?

[2021-08-10 21:55] lydiazoghbi opened #601 "CMake Error - get_target_property called with incorrect number of arguments"
Hi! I'm having the same problem as in #446 with my installation. Basically some packages won't build because of some "get_target_property called with incorrect number of arguments". Using Ubuntu 20.04, Foxy - I'm on branch Foxy (as recommended per the UR driver developers). I'm pasting the error output from the terminal for your reference. I tried the suggestions posted on thread #446 but it didn'

[2021-08-10 22:59] tylerjw commented on #601
What branch of moveit are you using (there is a foxy branch of moveit and many of our upstream repos you might have in your workspace as the main and ros2 branches are now for rolling and galactic)?  Do you mind running `vcs branch` in your src directory and posting the output here?

That being said I looked at the issue you linked to and all I could gather is that person found it was some cmake i

[2021-08-11 03:02] #577 closed

[2021-08-11 03:03] tylerjw commented on #557
I think this is now fixed, re-open if it is not.

[2021-08-11 03:03] #557 closed

[2021-08-11 14:44] lydiazoghbi commented on #601
Hey! I'm using the foxy branch, `vcs branch` returns foxy.

Yeah I linked the previous issue because I was getting the same exact error output, but I don't think it's the same cmake issue on my end. In other words I didn't build with `--cmake-force-configure`.

I am building using `colcon build`. Building with `colcon build --event-handlers desktop_notification- status- --cmake-args -DCMAKE_BUILD_

[2021-08-11 17:51] lydiazoghbi commented on #601
I just created a brand new workspace and followed your suggestions, but still get the same error..

[2021-08-11 18:37] lydiazoghbi commented on #601
Update: I had two ros versions on my system - noetic and foxy. Purging noetic solved the issue. Although I sourced foxy in my workspace, apparently the build was still linking to an .so file in /opt/ros/noetic for some reason (got an error message). Had to completely uninstall noetic and related dependencies. It builds fine now. Thanks for the help!

[2021-08-11 18:37] #601 closed

[2021-08-11 19:15] tylerjw commented on #601
Thank you for documenting that.  I suspect you had a line in your .bashrc that sources the noetic install.  One of the new "features" of ros2 is that it does not try to switch wich version of ros you are working with when you source the ros install.  That means that if you had previously sourced your noetic install in your bashrc and then sourced your foxy install before you built, noetic is still

[2021-08-12 06:53] Briancbn opened #607 "Galactic main pool missing debian files"
### Description

The following packages doesn't seemed to have a `.deb` file in the the main pool. [example](http://packages.ros.org/ros2/ubuntu/pool/main/r/ros-galactic-moveit-ros-planning-interface/) vs [testing-pool](http://packages.ros.org/ros2-testing/ubuntu/pool/main/r/ros-galactic-moveit-ros-planning-interface/).
- moveit-ros-planning-interface
- moveit-ros-move-group
- moveit-kinematics
-

[2021-08-12 16:12] schornakj commented on #607
+1, I'm running into this as well in CI for Galactic. I get errors like this:

[code]

[2021-08-12 16:42] AndyZe opened #608 "Servo modifies the state of the PSM (planning scene monitor)"
`current_state_` is a pointer from the planning scene monitor:

`current_state_ = planning_scene_monitor_->getStateMonitor()->getCurrentState();`

But, it gets modified here:

`current_state_->setJointGroupPositions(joint_model_group_, new_theta);`

I think that might cause some weirdness for anything else that uses the planning scene.

[2021-08-12 18:31] henningkayser commented on #607
@Briancbn you're right, we are simply waiting for the next Galactic sync. Until then, you'll have to stick with the testing version, unfortunately. I'll close this issue when that happened.

[2021-08-12 18:34] henningkayser commented on #608
@AndyZe could you please link the code that you are referring to? `CurrentStateMonitor::getCurrentState()` actually returns a [copy](https://github.com/ros-planning/moveit2/blob/main/moveit_ros/planning/planning_scene_monitor/src/current_state_monitor.cpp#L79), so internal state can be changed with the returned object. Maybe the documentation should be extended, or the function could be renamed to

[2021-08-12 18:40] AndyZe commented on #608
Here:  https://github.com/ros-planning/moveit2/blob/eda24029820019d630901062329a253732a7627d/moveit_ros/moveit_servo/src/servo_calcs.cpp#L723

Thanks, that is good to know. (The documentation could be improved...)

[2021-08-12 18:40] #608 closed

[2021-08-12 21:39] tylerjw commented on #597
I just realized that `servo_teleop.launch.py` is a file only I have locally :facepalm: it is a copy of the file from the tutorial for my own testing.

[2021-08-13 16:55] AndyZe opened #610 "Update adapt_and_plan() method of planning_request_adapter::PlanningRequestAdapter"
The method is meant to be overridden. It has this signature:

[code]

If the planner arg were not const, we wouldn't need to instantiate the "planner" every single time. (For example TOTG or the new Ruckig smoother.)

Originally proposed [here](https://github.com/ros-planning/moveit2/pull/571#discussion_r686447993).

[2021-08-14 14:03] lorepieri8 commented on #459
For future adventurers: I can confirm that the issue was that I was sourcing Noetic/Moveit1 in bashrc.
By making sure to source only foxy I was able to complete the installation.

[2021-08-16 21:36] #397 closed

[2021-08-16 21:43] henningkayser opened #614 "RobotState: Throw exception in case of unknown link transforms"
Related to: https://github.com/ros-planning/moveit2/pull/612

Currently, if a RobotState doesn't know a link frame, [getFrameTransform()](https://github.com/ros-planning/moveit2/blob/main/moveit_core/robot_state/src/robot_state.cpp#L1067) will complain about it and return an identity transform. I think it would be a useful improvement to not only print a warning or error, but actually throw an exc

[2021-08-16 21:58] henningkayser commented on #610
I don't think adapters should be able to actually interfere with the planner instance so const really makes a lot of sense here. The adapter's scope is limited to access the planning response. Also, were is the planner being instantiated repeatedly? If you mean the adapter algorithm or other plugin members, there is nothing stopping us from making them const members. If there is data that should b

[2021-08-17 10:27] v4hn commented on #614
This pattern (`has*` and `get*`) exists in multiple places in MoveIt, doesn't it?
We can change it in ROS2, but I believe the original idea was that MoveIt-based code can run in normal operation without relying on exceptions. `-fno-exceptions` is interesting to some people.

[2021-08-17 15:01] tylerjw opened #615 "global dynamic robot_description"
In ROS 1 we used the global parameter server for one view of the robot_description parameter.  One downside to this is it was immutable and never changed.  In ROS 1 dynamic parameters were per-node, similar to ROS 2 but this was never used for robot_description.

For MoveIt2 we are currently loading that parameter into each node (via python launch files) that needs it to use a similar parameter in

[2021-08-17 15:35] christianlandgraf commented on #536
The error seem to appear when the fixed frame in Rviz and the origin of the layout in MoveIt are different. I'm not sure if this is a common bug or a mistake in my Rviz configuration.
![image](https://user-images.githubusercontent.com/28567122/129756091-42a632cd-b746-4c16-9c92-aba9ebb717c6.png)

[2021-08-17 15:52] tylerjw opened #616 "`moveit_demo_nodes` and `moveit_ros_planning_interface` are missing dependencies"
As pointed out here by @vatanaksoytezer and @henningkayser in https://github.com/ros-planning/moveit2/issues/602#issuecomment-900414924_

We should validate that the dependencies in the demos are up to date so they will work if installed via released debains.

[2021-08-17 17:44] vatanaksoytezer commented on #607
Linking the relevant discourse post to track the next Galactic sync: https://discourse.ros.org/t/when-is-the-next-galactic-sync/21146/5.

[2021-08-17 19:36] JafarAbdi opened #617 "Refactor PSM & CSM to have private tf_buffer & tf_listener"
See https://github.com/ros-planning/moveit2/pull/310#pullrequestreview-731032219

[2021-08-17 19:37] #251 closed

[2021-08-17 19:37] #261 closed

[2021-08-18 07:36] v4hn commented on #614
Sounds like the better option to me, also because it mimics the current interface in one method.
We might just as well offer this as an alternative API, so there is no need to break the old APIs for no reason.
Though it could be part of the moveit2 "cleanup".

BTW: is there a moveit->moveit2 migration guide somewhere already to list such modifications/better alternatives?
It seems you either did n

[2021-08-18 15:56] tylerjw commented on #614
There isn't yet because we haven't really changed much in the way of the MoveIt API itself yet (except for servo, I'm sorry there is not a guide for that).  This would be a change and we should write a migration guide for it.  We are doing those migrations for customers and we really should author a tutorial at least for the various migrations that we've been doing.

Another option would be to use

[2021-08-18 16:19] vatanaksoytezer opened #618 "Remove "__has_includes" once we branch off for Galactic"
In #598 We decided to use C++ 17's new `__has_includes` feature to work around the deprecation problems to support both Galactic and Rolling from the main branch. When we branch off for Galactic, the includes should be fixed for both main and Galactic branches.

[2021-08-19 07:05] rhaschke opened #624 "Galactic build on buildfarm is failing since 2021-7-30"
... because package `controller_manager` is missing.
See https://build.ros2.org/job/Gdev__moveit__ubuntu_focal_amd64

[2021-08-19 11:26] vatanaksoytezer commented on #624
Great catch. We may want to fix and do a release before tomorrow, if we wanna catch the next sync: https://discourse.ros.org/t/preparing-for-galactic-sync-2021-08-24/21900

[2021-08-19 16:27] henningkayser commented on #624
It's actually because `ros2_control` has still not been released for Galactic (https://github.com/ros-controls/ros2_control/issues/421). On Rolling, everything is fine. We could technically remove all the run dependencies to `ros2_control` but this wouldn't really be a nice workaround, IMO.

[2021-08-19 16:31] SalahSoliman opened #626 "moveit_setup_assistant ros2 support"
I have checked all the branches for ros2 support for moveit_setup_assistant and I see that they're all depending on catkin, is it something I don't understand or it's still not updated?

[2021-08-19 18:26] vatanaksoytezer commented on #626
Hey @SalahSoliman, thanks for the issue! MSA is not ported to MoveIt 2 and ROS 2 yet. We are working on redesigning and porting it. See https://github.com/ros-planning/moveit2/issues/449 for some design discussions.

[2021-08-19 18:40] rhaschke commented on #624
I see.

[2021-08-19 18:40] #624 closed

[2021-08-19 23:42] shonigmann opened #630 "Standardize moveit2 yaml parameter file format with ROS2 ros__parameter convention"
**Is your feature request related to a problem? Please describe.**
I noticed that in moveit2 and the ROS2 branches of moveit_resources, etc some of the yaml config files (e.g. [here](https://github.com/ros-planning/moveit2/blob/foxy/moveit_ros/moveit_servo/config/panda_simulated_config.yaml) or [here](https://github.com/ros-planning/moveit_resources/blob/ros2/panda_moveit_config/config/kinematics.

[2021-08-20 07:09] gavanderhoorn commented on #624
Why not disable `source` builds on the buildfarm for now, until this has been resolved?

Getting spammed by tenths of "build for MoveIt on Galactic, etc, etc" per day is not very nice, especially not if we already know it's broken right now and we have our own CI here.

[2021-08-20 17:48] SalahSoliman commented on #626
@vatanaksoytezer thanks for you quick reply!
Do you have any suggestion for a work around until this part's done? also please lmk if I can help!

[2021-08-20 17:58] vatanaksoytezer commented on #626
@SalahSoliman your best quick bet would be just using the ROS 1 (moveit) MSA for now and edit the launch files that you need manually to fit MoveIt 2 and ROS 2.

[2021-08-21 20:29] AndyZe commented on #597
The error with loading `panda_arm_controller` can be fixed by `sudo apt install ros-rolling-joint-trajectory-controller`.

For joint state controller: `sudo apt install ros-rolling-joint-state-broadcaster`

It looks like Vatan's PR #603 fixes the joint-state-controller. I believe we still ought to add joint-trajectory-controller

[2021-08-21 20:30] AndyZe commented on #597
I guess it works for now because the dependency is brought in by a different package.

[2021-08-21 21:40] #597 closed

[2021-08-23 16:40] tylerjw commented on #630
One of the big problems is some of the moveit2 nodes can also be launched as component nodes.  In that case ros doesn't handle the ros__parameters prefix correctly.  If you look here: https://github.com/PickNikRobotics/parameter_tools/ @JafarAbdi has built something to standardize loading ros parameters for moveit.  Soon we plan on migrating the moveit launch files to use this tool.  Another thing

[2021-08-24 01:32] abake48 commented on #601
I happened to run into this issue today while Foxy was the only version installed on my machine. Performing a complete rebuild by removing the build, log, and install directories from my workspace seemed to do the trick for me. Unsure what caused the issue initially though.

[2021-08-24 11:03] vatanaksoytezer commented on #626
@SalahSoliman I am closing this issue for now but feel free to ask questions open discussions under the relevant issues or open a new one (or re-open this) if you need.

[2021-08-24 11:03] #626 closed

[2021-08-24 19:26] #610 closed

[2021-08-27 12:29] lorepieri8 opened #645 "Real Arm is shaking, real time servoing tutorial"
### Description

I've adapted the real time servoing [tutorial](http://moveit2_tutorials.picknik.ai/doc/realtime_servo/realtime_servo_tutorial.html) to work with the Xarm6, using a PS3 joystick to control joints and cartesian movements. All good in simulation, but when working with the real arm, the arm starts shaking and it hardly moves.

What is causing the shaking? Do I have to tune any PID val

[2021-08-27 13:17] schornakj opened #646 "Planning Scene is missing TF frames"
### Description

I think there's a regression in #310 that prevents the planning scene from tracking frames that are published to TF but aren't associated with links in the URDF.

### Your environment
* Rolling
* Ubuntu 20.04
* Source build, `main` branch at [974a7a174](https://github.com/ros-planning/moveit2/commit/974a7a1749afa9f8d57254b052056f3fe0c241d5).

### Steps to reproduce
- `ros2 launch

[2021-08-31 10:57] vatanaksoytezer opened #651 "Discussion: Should we make CCov CI only run in push?"
Possibly discussion for @tylerjw @rhaschke and @henningkayser. Also aynone please feel free to chime in.

CCov CI Jobs bottlenecks our CI time. Usually a nice cached CI job with Release builds takes around 8 to 20 minutes. But we still have to wait around an hour or so for CCov job to be completed (since it is built with RelWithDebugInfo).

For context example run from yesterday:
![image](https://

[2021-08-31 11:25] vatanaksoytezer opened #652 "Joint State Controller is removed, we should migrate to joint_state_broadcaster"
With https://github.com/ros-controls/ros2_controllers/pull/230 joint State Controller is removed, we should migrate to joint_state_broadcaster. I'll send PRs fixing  this today.

[2021-08-31 13:13] cardboardcode opened #655 "install TARGETS given unknown argument "TARGETS""
### Description

Overview of your issue here.

### Your environment
* **ROS Distro**: Foxy
* **OS Version**: Ubuntu 20.04
* **Source** build
* Branch: [foxy](https://github.com/ros-planning/moveit2/tree/foxy)

### Steps to reproduce
**Reference**: https://github.com/UniversalRobots/Universal_Robots_ROS2_Driver#readme

[code]

### Expected behaviour
`colcon build` command should build **moveit2** p

[2021-08-31 13:23] JafarAbdi commented on #655
@cardboardcode Could you please test this https://github.com/ros-planning/moveit2/pull/658 .?

[2021-08-31 13:28] vatanaksoytezer commented on #652
PR's sent:

https://github.com/ros-planning/moveit_resources/pull/96
#656
#657
https://github.com/ros-planning/moveit2_tutorials/pull/110

I'll close the issue once these are merged.

[2021-08-31 13:40] cardboardcode commented on #655
Testing now. Will update results here in this comment.

[2021-08-31 13:58] cardboardcode commented on #655
## Solution (Crude Workaround) :rocket:

For those who are facing this issue, run the commands below to resolve this issue:

[code]

## Verify that it works
If the `colcon build` command builds the packages without failure, it worked.

[2021-08-31 13:58] #655 closed

[2021-08-31 18:58] tylerjw commented on #651
Is there a way we could make it optional so it still runs with the PR but doesn't block the PR itself until it finishes?

[2021-08-31 19:01] vatanaksoytezer commented on #651
I think @henningkayser can do that

[2021-08-31 20:04] v4hn commented on #651
Sure, it's a simple entry in the config for the branch. I'm not sure it's a good idea to remove it though. It's the only job testing `rolling-ci` and you probably want to test on rolling before merge.

Code coverage checks were originally proposed by @davetcoleman iirc.
Personally, I don't see the need to run this with each PR. I believe the original idea was to visualize how useful a PR is in ter

[2021-08-31 20:42] vatanaksoytezer commented on #651
@v4hn thanks for chiming in and a detailed write-up!

I don't think GHA minutes are a issue (or even limited AFAIK it's fully free for public repository). We usually (and understandably) wait for all CI jobs to complete  to approve / merge PRs. My motivation opening this issue is the question why should we wait for 45 minutes for a CI job to complete when we can do it 16 minutes. I don't think thi

[2021-08-31 20:57] v4hn commented on #651
In that case I would propose to keep the job enforced.
Granted, I've also merged changes as admin that did not finish CI yet and "normal" maintainers can't do that.
But then again it is absolutely no problem to keep the tab open somewhere and just click merge before switching off the computer.

[2021-09-01 06:52] rhaschke commented on #651
I understand your motivation to have faster CI cycles. However, there is no problem defining the `ccov` job as optional in terms of a merge requirement (I just changed the config for `main`). Thus, any maintainer can merge a PR even when this job is not yet finished.
I suggest keeping the job as well because it facilitates requesting test coverage for new features from external contributors.
In an

[2021-09-01 08:13] v4hn commented on #651
As I said above, it sadly does not - probably because of the `RelWithDebInfo` build.
https://github.com/ros-planning/moveit/pull/2665#issuecomment-840495632 is a nice illustration.

Possibly the problem is actually with the runtime of the tests and not with building.
MoveIt has at least [one test](https://github.com/ros-planning/moveit/blob/master/moveit_ros/robot_interaction/test/locked_robot_sta

[2021-09-01 08:48] rhaschke commented on #651
Although release optimizations yield unreliable results, the reported results _do_ give a coarse indication of coverage.

Looking at the detailed timing or a recent CI job, the problem is with building (45min), not (yet) the tests (< 10min).

[2021-09-01 08:49] rhaschke commented on #651
Given that we migrated to GHA, having a 6h job timeout, we can consider switching back to a debug build.

[2021-09-01 09:06] v4hn commented on #651
That would be great! We probably still want to make sure no single test runs unreasonably long in Debug mode...

Also, if the runtime becomes *much* longer by that change (>2h), I would actually propose to add a separate job for it that is not mandatory. It's important to compress conditions/tests into few CI jobs, but we still want noetic tests and a debug workspace build required for moveit and

[2021-09-01 14:21] vatanaksoytezer commented on #651
I can handle that, it is trivial to define timeouts in ros2 tests. By default ros2 tests already have a reasonable timeout of 60 seconds. I can change any tests as needed.

[2021-09-01 18:52] v4hn commented on #651
Of course I implied that the tests should be adapted to run in less time without loosing significant test conditions and not that they should run until timeout. ;)

I honestly don't know whether I consider a default timeout a good thing. After all execution speed can vary a lot across different systems.

[2021-09-02 15:41] Maxcode19 opened #663 "The complete state of the robot is not yet known. Missing virtual_joint"
Hello. I have just built moveit2 for Foxy and I am trying to start the demo:

`ros2 launch run_moveit_cpp run_moveit_cpp.launch.py`

The demo seems to start correctly, but, after a while, the following warning comes out:

_`[run_moveit_cpp-4] [WARN] [1630594527.651254089] [moveit_ros.planning_scene_monitor.planning_scene_monitor]: The complete state of the robot is not yet known.  Missing virtual_

[2021-09-02 15:58] jrgnicho commented on #646
I think I'm getting errors related to this issue.  I basically run the move_group node with the *occupancy_map_updater* expecting to see the octomap in rviz but no octomap is shown and in the terminal I get the following error messages:
[code]

[2021-09-02 18:44] vatanaksoytezer commented on #663
Hello @Maxcode19 are you using binaries or source build? Which distribution? If you are using binaries you may have came across with https://github.com/ros-planning/moveit2_tutorials/issues/111#issuecomment-911858695.

[2021-09-03 08:03] Maxcode19 commented on #663
Hello @vatanaksoytezer! Thank you very much for your quick reply. I start reporting a good news. Today the wrong behaviour that I experienced yesterday has disappeared. I have tried several time to reproduce it, but, luckily, it has not taken place again.

Anyway, just to describe in more details my situation, I have installed Moveit2 from source for Foxy on Ubuntu 18.04 (I know that Moveit2 is no

[2021-09-03 08:03] #663 closed

[2021-09-08 00:05] shonigmann commented on #630
for the reference of anyone that come's across this issue, it looks like Component Nodes will soon support the same yaml file format as regular nodes (https://github.com/ros2/launch_ros/pull/259 ) but the parameter_tools package looks like a great solution as well.

[2021-09-08 08:24] NebuDa opened #668 "Colcon build Error: ControllerInterface has no member named 'get_state'"
### Description
Have tried to install Moveit2 like https://moveit.ros.org/install-moveit2/source/

Got stuck on
`colcon build --event-handlers desktop_notification- status- --cmake-args -DCMAKE_BUILD_TYPE=Release`

### Your environment
* ROS Distro: Foxy
* OS Version:  Ubuntu 20.04 LTS
* ROS2 Debians / Moveit2 source Foxy

### Steps to reproduce
Just follow the installation instructions in the lin

[2021-09-08 11:45] JafarAbdi commented on #668
This's an issue in the ros2_control repo, please open an issue there https://github.com/ros-controls/ros2_control/

[2021-09-08 11:45] #668 closed

[2021-09-08 13:42] vatanaksoytezer opened #669 "Discussion: Use mergify for main -> foxy backports?"
Recently I came accross [Mergify](https://mergify.io/) in https://github.com/ros2/rcpputils/pull/133. Mergify is a nice Github bot that we can use to backport our PRs from main to foxy, which happens to be free for open source projects. As you may have seen from the PR above, you just put a comment to backport and it opens up the new PR for you!

Let me know if people think that is a good idea or

[2021-09-08 13:45] vatanaksoytezer opened #670 "Enable debug build"
See https://github.com/ros-planning/moveit2/issues/651#issuecomment-910088882 for motivation.

[2021-09-08 13:45] vatanaksoytezer commented on #651
Closing in favor of #670.

[2021-09-08 13:45] #651 closed

[2021-09-09 13:15] JafarAbdi opened #671 "Remove mesh_shape once it's available in RViz"
### Description

These two files were added for the beta release [mesh_shape.cpp](
https://github.com/ros-planning/moveit2/blob/main/moveit_ros/visualization/rviz_plugin_render_tools/src/mesh_shape.cpp) [mesh_shape.hpp](https://github.com/ros-planning/moveit2/blob/main/moveit_ros/visualization/rviz_plugin_render_tools/include/ogre_helpers/mesh_shape.hpp), we need to remove them once they're availa

[2021-09-13 16:36] ggiulian opened #677 "Plan but do not Execute on Galactic version of Moveit2"
### Description

When I execute the plan command on Rviz, the robot plans the trajectory but when it is time to execute it fails. It should be noted that the same robot on ROS2 FOXY and MOVEIT2 for Foxy works,  i.e. planning is followed by perfect execution of the trajectory. P.S i am using a personal robot

### Your environment
* ROS Distro: Galactic
* OS Version: Ubuntu 20.04
* Source or Binary

[2021-09-13 16:37] JafarAbdi commented on #677
@ggiulian Could you please share the logs .?

[2021-09-13 17:01] ggiulian commented on #677
[move_group-4] [INFO] [1631552348.270267036] [moveit_move_group_default_capabilities.execute_trajectory_action_capability]: Received goal request
[move_group-4] [INFO] [1631552348.270743756] [moveit_move_group_default_capabilities.execute_trajectory_action_capability]: Execution request received
[move_group-4] [INFO] [1631552348.270835345] [moveit.plugins.moveit_simple_controller_manager]: Returne

[2021-09-13 20:54] JafarAbdi commented on #677
The problem is right here

[move_group-4] [ERROR] [1631552348.270881522] [moveit_ros.trajectory_execution_manager]: Unable to identify any set of controllers that can actuate the specified joints: [ joint0 joint1 joint2 joint3 ]

Can you make sure that you started the controllers .? also you mind sharing the moveit simple controller's yaml file or the moveit configs package .?

[2021-09-14 07:42] ggiulian commented on #677
Yes, this is what I write:
`# Trajectory Execution Functionality
    moveit_simple_controllers_yaml = load_yaml(
        "moveit_resources_roboerto_config", "config/roboerto_controllers.yaml"
    )
    moveit_controllers = {
        "moveit_simple_controller_manager": moveit_simple_controllers_yaml,
        "moveit_controller_manager": "moveit_simple_controller_manager/MoveItSimpleControllerManage

[2021-09-14 11:09] JafarAbdi commented on #677
I need the content of this file `roboerto_controllers.yaml`

[2021-09-14 14:18] #517 closed

[2021-09-14 14:44] ggiulian commented on #677
This is the content of `roboerto_controllers.yaml`

[code]

[2021-09-14 14:50] JafarAbdi commented on #677
This probably means that you're not spawning the controllers, you could do it similar to https://github.com/ros-planning/moveit2/blob/main/moveit_demo_nodes/run_move_group/launch/run_move_group.launch.py#L170-L182, also I do need the whole logs for me to see what's actually happening

[2021-09-14 15:02] ggiulian commented on #677
This is what I did to spawn the controller:

[code]

So, I think it is the same of the link.
In the next comment I'll post the whole logs

[2021-09-14 15:20] ggiulian commented on #677
[launch.log](https://github.com/ros-planning/moveit2/files/7163131/launch.log)

[2021-09-14 15:25] JafarAbdi commented on #677
There are two errors

[code]

Do you know why they're dying .? what happens when you call them manually .? `ros2 run controller_manager spawner.py roboerto_arm_controller`

[2021-09-14 15:38] ggiulian commented on #677
I don't know why they are dying, but this is what happen when I call them manually:
[code]

[2021-09-14 17:00] JafarAbdi commented on #677
Sorry I have no idea why the spawner is failing, if you can share your moveit config I might be able to try to reproduce it locally

Closing since it's not related to moveit

[2021-09-14 17:00] #677 closed

[2021-09-14 17:23] kashifzr opened #678 "Hardware_interface Failed"
### Description

Overview of your issue here.

### Your environment
* ROS Distro: Noetic]
* OS Version: e.g. Ubuntu 20.04
* Source Build
* If binary, which release version?
* If source, which branch?

### Steps to reproduce

colcon build --event-handlers desktop_notification- status- --cmake-args

### Expected behaviour
successful build

### Actual behaviour
hardware_inter face failed

### Backtra

[2021-09-14 17:28] AndyZe commented on #678
It looks like this is a ros2_control issue, not a MoveIt issue. But anyway, I'd start by checking that you have Boost installed.

Are you using Galactic debians (installed by `apt install ros-galactic-...`), Rolling debians, or are you building from source?

[2021-09-14 17:29] AndyZe commented on #678
Basically, update the information that is asked for at the top of the issue template. ROS Distro, etc

[2021-09-14 17:31] kashifzr commented on #678
I am using Using Ros Noetic and Ros Foxy.
Yes I am building from Source
I know some how its related to ros2_control but I need to install ros2_control to work with moveit2

[2021-09-14 17:34] AndyZe commented on #678
OK, thanks. Please confirm that you are only sourcing Noetic or Foxy, not both at the same time. You should have something like this in your .bashrc. Note that Noetic is commented.

# source /opt/ros/noetic/setup.bash
source /opt/ros/foxy/setup.bash

[2021-09-14 17:37] AndyZe commented on #678
The easiest way fix might be to re-install Ubuntu then carefully follow the instructions here:

https://moveit.ros.org/install-moveit2/source/

[2021-09-14 17:37] kashifzr commented on #678
When I am building Moveit2 from Source I source with ROS 2 Foxy, with source command "source /opt/ros/foxy/setup.bash"

[2021-09-14 17:40] kashifzr commented on #678
I will try to reinstall Ubuntu Since I updated it from Ubuntu 18 it will creating issues.
Thanks

[2021-09-14 17:44] JafarAbdi commented on #678
I see you also opened an issue in [moveit](https://github.com/ros-planning/moveit/issues/2874), which mean there's a big chance that some of your env-variables are missed up

Could you please share the value of the following env-variables ?

[code]

[2021-09-14 17:54] kashifzr commented on #678
How to link with Building Moveit from Source when they may or not used in Building. Can you share the command where these are used.
As Far As I know they may have values when Build will be successful, In my case Build is not working

If want to know exactly these variables then i will share when after installations

[2021-09-14 18:21] ggiulian commented on #677
@JafarAbdi here the GitHub link to my moveit config of Roboerto:
https://github.com/ggiulian/Roboerto_moveit2.git

[2021-09-14 19:02] JafarAbdi commented on #677
I'm getting 404

[2021-09-14 19:22] ggiulian commented on #677
@JafarAbdi  try again https://github.com/ggiulian/Roboerto_moveit2 , now  it should work.
Anyway, I moved the discussion here: https://github.com/ggiulian/Roboerto_moveit2/issues/1

[2021-09-15 15:50] henningkayser commented on #669
I like the idea! As discussed off-line we're thinking about a more light-weight approach like [GHA Backporting](https://github.com/marketplace/actions/backporting) (based on labels) or similar.

[2021-09-16 02:04] JafarAbdi commented on #536
@christianlandgraf Could you please test https://github.com/ros-planning/moveit2/pull/680 ?

Thanks!

[2021-09-16 14:16] christianlandgraf commented on #536
@JafarAbdi It works for me now, thanks a lot for fixing it!

[2021-09-16 21:38] nathankaleida opened #681 "moveit_core Build Failure"
### Description

moveit_core build fails at ruckig dependency

### Your environment
* ROS Distro: Galactic
* OS Version: Ubuntu 20.04
Binary build
`ros-galactic-desktop/focal,now 0.9.3-2focal.20210820.074533 amd64 [installed]`
`ros-galactic-ruckig/focal,now 0.3.3-3focal.20210810.134905 amd64 [installed]`

### Steps to reproduce
Encountered error following UR Driver installation procedure: https://

[2021-09-16 21:44] vatanaksoytezer commented on #681
@nathankaleida thanks for the query! Ruckig was just merged with #571. Can you try install dependencies to pull rucking as well by issuing a rosdep install command:

ie. you can issue the following command after you cd into `ws_moveit/src`:

[code]

[2021-09-21 12:20] gavanderhoorn opened #691 "Removing `source` entry / dev job from ROS 2 buildfarm"
Would it be an idea to remove the `source` job from the ROS 2 buildfarm for the time being?

We already have CI here via GHA and the builds have been failing / unstable for at least 4 months now if not longer.

They're either timing out or failing due to something which doesn't come up on the GHA builds.

In addition to avoiding email spam, we would also save OR a couple of compute-dollars.

I'm t

[2021-09-21 14:18] gavanderhoorn commented on #691
My plan is to submit PRs removing those entries at the end of this week if there are no comments here.

[2021-09-22 08:16] RDaneelOlivav opened #694 "CHOMP doesn't compile, seems to not be ported to ROS2"
### Description

I removed the COLCN_IGNORE in the chomp package planner, because its seems odd that
it wasn't prepared.
Trying to compile seems that the package is not meant for colcon?

### Your environment
* ROS Distro: FOXY
* OS Version: Ubuntu 20.04
* Source or Binary build? BUILD
* If binary, which release version?
* If source, which branch? FOXY branch

### Steps to reproduce
cd ws_moevit2

[2021-09-22 12:11] JafarAbdi commented on #694
it wasn't prepared.

We add that file because the package isn't ported, yet

There's no plan to port it in the near future but if you're willing to do so we're happy to review it and get it merged

[2021-09-22 12:11] #694 closed

[2021-09-22 12:57] #669 closed

[2021-09-22 15:05] AndyZe opened #696 "Consider a "feedback delay" parameter for Servo"
Some manipulators have a significant delay in the feedback they provide. The Kinova comes to mind (although I'm not 100% sure that's the issue.)

The delay can lead to a drooping motion over time, because Servo is constantly updating its internal robot state from the feedback.

We might think about adding a delay parameter to get a better joint state estimate.

On the other hand, this might cause

[2021-09-23 13:35] MarqRazz commented on #696
@AndyZe the Kinova is publishing joint states at 1kHz which seems like it would be plenty fast. The issue with drooping seems like it might be related to the fact that Servo is basing the jog off the current joint state at all times. It relays on the hardware in some way to constrain the motion to a single Cartesian direction.

This drift could be related to the fact that Servo adds a bunch of sma

[2021-09-24 05:38] sandhavel opened #702 "CMake Error at CMakeLists.txt:13"
When i build the ROS2 by using this command "colcon build" , before that, i run ". ~/ros2_foxy/install/setup.bash ".
so, please help me to fix this issue..
Note:
OS: ubuntu 18.04 LTS

![Screenshot from 2021-09-24 11-05-49](https://user-images.githubusercontent.com/91118175/134623588-332c4050-9606-469d-a564-08169090a0e2.png)

[2021-09-24 08:28] Thijsons opened #703 "approximated_constraint_manifolds.launch fails to launch in Ros2 Foxy"
### Description
Trying to follow approximated constraint manifold [tutorial](http://moveit2_tutorials.picknik.ai/doc/planning_with_approximated_constraint_manifolds/planning_with_approximated_constraint_manifolds_tutorial.html) from Moveit1 and adapt it to Moveit2. using "generate_state_database.launch ". Launching this file fails.  Has this feature been ported to moveit2 already?

### Your enviro

[2021-09-24 10:54] gavanderhoorn commented on #691
https://github.com/ros/rosdistro/pull/30861

[2021-09-25 20:58] tlpss commented on #574
Hi @AndyZe, could you provide some details on this? And maybe an estimation of the required implementation time?

I'm looking to make some first contributions to Moveit.

[2021-09-25 21:19] tlpss commented on #314
@rhaschke has there been any update on migrating the python bindings? I might be willing to offer some help as I am really interested in the python bindings, but my experience with Moveit is limited.

[2021-09-26 20:36] AndyZe commented on #574
Shoot, I already implemented it myself in #683. Sorry I forgot to link it with this issue.

You could always give that PR a code review. We all appreciate that and it's a good way to get started.

If you're looking for something more ambitious, like 20 hours of work, I have some ideas to improve this recent [trajectory smoothing PR](https://github.com/ros-planning/moveit2/pull/571).

What are your

[2021-09-26 20:37] AndyZe commented on #574
Writing tests is always a good way to get started, too. They are really important to catch regressions and occasionally catch existing bugs.

[2021-09-27 09:30] sandhavel commented on #702
Thank you!!!
@henningkayser

[2021-09-27 09:31] #702 closed

[2021-09-27 14:46] YongLD opened #708 "moveit_ros/perception BUG"
### Description

no known conversion for argument 1 from occupancy_map_monitor::OccMapTreePtr to const OccMapTreePtr&

### Your environment
* ROS Distro: [Galactic]
* OS Version: e.g. Ubuntu 20.04
* Source build
* branch: main

### Steps to reproduce
step of the moveit-base from "https://github.com/UniversalRobots/Universal_Robots_ROS2_Driver"

### Expected behaviour
All packages built

### Actual

[2021-09-27 19:17] tlpss commented on #574
@AndyZe writing some tests seems like a good idea, if you have something in mind feel free to provide some directions.
I'm rather new to Moveit but my interest would be mostly in control or planning.

[2021-09-27 20:34] AndyZe commented on #574
A test for this PR would be great:   https://github.com/ros-planning/moveit2/pull/707

Basically you could just browse through the code and find a package that is short on tests.

Lots of tutorials still need to be ported, too. Here's a good example that (I think...) would not be too hard to port:  http://moveit2_tutorials.picknik.ai/doc/subframes/subframes_tutorial.html

[2021-09-28 11:15] JafarAbdi commented on #703
As you can see in the warning it's not ported yet to ROS2, if you are willing to port it I would be really happy to support you with it

[2021-09-28 11:15] #703 closed

[2021-09-28 11:17] JafarAbdi commented on #681
This should be fixed now

[2021-09-28 11:17] #681 closed

[2021-09-28 11:18] JafarAbdi commented on #678
This's related to not having a clean env-variable, closing for now, please feel free to re-open it if you still have the problem

[2021-09-28 11:18] #678 closed

[2021-09-28 11:32] JafarAbdi commented on #541
Fixed with the mentioned PRs

[2021-09-28 11:32] #541 closed

[2021-09-28 11:33] JafarAbdi commented on #588
Please feel free to re-open this if you still have the problem

[2021-09-28 11:33] #588 closed

[2021-09-28 11:37] JafarAbdi commented on #411
@chaos4ros2 This's fixed, right .? closing for now

[2021-09-28 11:37] #411 closed

[2021-09-28 11:37] JafarAbdi commented on #352
Fixed with #428

[2021-09-28 11:37] #352 closed

[2021-09-28 11:39] JafarAbdi commented on #306
Fixed with #341

[2021-09-28 11:39] #306 closed

[2021-09-28 11:40] JafarAbdi commented on #298
I think this's fixed with the main branch, feel free to reopen it if you still see the problem

[2021-09-28 11:40] #298 closed

[2021-09-28 11:41] JafarAbdi commented on #296
Should be fixed with https://github.com/ros-planning/moveit2/pull/461

[2021-09-28 11:41] #296 closed

[2021-09-28 11:42] JafarAbdi commented on #186
This should be fixed in the main branch

[2021-09-28 11:42] #186 closed

[2021-09-28 12:39] henningkayser commented on #691
Hi @gavanderhoorn, I agree that these jobs are probably redundant. Rolling doesn't fail though, the others have unmet dependencies or breaking changes.

[2021-09-28 13:22] gavanderhoorn commented on #691
The rolling job is only back to stable since last week. That was after I submitted my PR.

If we feel there is value in having a duplicate job for rolling running on the farm, it could be taken out of the removal-PR.

[2021-09-28 16:08] AndyZe commented on #574
@tlpss Here's a very easy issue to get started with, if you want   ;)

https://github.com/ros-planning/moveit2_tutorials/issues/122

[2021-09-28 22:04] AndyZe opened #709 "Duplicate methods in robot_trajectory::RobotTrajectory (append, addSuffixWaypoint)"
Aren't these two functions the same thing? Candidates for deletion:

void | addSuffixWayPoint (const robot_state::RobotState &state, double dt)
  | Add a point to the trajectory.
void | append (const RobotTrajectory &source, double dt)
  | Add a trajectory to the end of the current trajectory.

https://github.com/ros-planning/moveit2/blob/main/moveit_core/robot_trajectory/include/moveit/robot_traj

[2021-09-28 22:09] AndyZe commented on #709
Oops, reading comprehension fail

[2021-09-28 22:09] #709 closed

[2021-09-29 09:25] YongLD commented on #708
I have the moveit2 binaries (Galactic) installed before, did it conflict?  And then I have the moveit2 source build by the steps of UniversalRobots/Universal_Robots_ROS2_Driver.

Before this bug, I had fix the bug as follow:
`planning_scene_monitor.cpp:399:28:` Error: ‘collision_detection::OccMapTree’ has not been declared`.

  399 |       collision_detection::OccMapTree::ReadLock lock;
      |

[2021-09-29 09:26] YongLD commented on #708
@JafarAbdi

[2021-09-29 13:34] chaos4ros2 commented on #411
I apologize for leaving this issue unresolved. I will try it later and reopen it if the problem still exists.

[2021-09-30 07:23] #691 closed

[2021-09-30 09:26] JafarAbdi commented on #708
Yes, having the binaries and the source may cause problems due a bug in amet_cmake, I would recommend removing moveit binaries ` sudo apt remove --purge ros-galactic-moveit*` and try building everything from source

[2021-09-30 18:44] #560 closed

[2021-09-30 19:10] tylerjw opened #716 "Release/Branching Strategy"
In order to reduce the maintenance burden, provide a stable API, and enable users to work from the latest versions of ROS I propose the following release and branching strategy.  This strategy will be applied to upstream and downstream repos we control to include the tutorials.

When OR releases a new stable version of ROS
* We confirm the main branch works on that new ROS version (by adding CI jo

[2021-10-01 18:08] Dhanraj-Patil commented on #573
Hi, I'm new to open source, can someone guide me?

[2021-10-02 22:06] AndyZe opened #717 "Replace the idx variable in trajectory processing plugins with the JointGroup API"
There was a [comment here](https://github.com/ros-planning/moveit2/pull/712#discussion_r718714860) on the Ruckig trajectory plugin PR which also applies to the other plugins in the `moveit_core/trajectory_processing` folder:

The code would be much more readable and consistent with MoveIt if you would use the joint group instead of passing num_dof and joint_idx everywhere.

Essentially, replace th

[2021-10-02 22:10] #507 closed

[2021-10-04 07:34] YongLD commented on #708
@JafarAbdi Yes, it work! Thank you for the solution.

[2021-10-04 07:35] #708 closed

[2021-10-05 20:46] MarqRazz opened #724 "Port Setup Assistant collisions_updater.cpp"
**Is your feature request related to a problem? Please describe.**
We have been using ROS1 to generate moveit_configs for our ROS2 applications and lately have been running into the issue that the number of links in the scene has changed from when we first created it. To get around this we have been manually maintaining the SRDF but this is becoming tedious and I know that we are not disabling all

[2021-10-06 12:02] sancelot opened #725 "setup and use of moveit2 tutorials is really not straight"
### Description

I am trying to settup a moveit2/ros2 environment with ubuntu 20.04
and use moveit2_turorials.

That's a bit like following road signs and never arrive at destination . From my viewpoint I think there  are some misunderstanding between binary or source build usage in some of the documentation.

But at the moment it has not worked  :-(

### Your environment
* ROS Distro: foxy
* OS V

[2021-10-07 02:06] schornakj opened #726 "Let the MoveItControllerManager manage more controllers"
As currently implemented, the MoveItControllerManager plugin can only manage the activation and deactivation of controllers that have a MoveIt controller allocator plugin defined, due to [this bit of code](https://github.com/ros-planning/moveit2/blob/7292b9c20894dd65189d1ce72ee06981a520fd2f/moveit_plugins/moveit_ros_control_interface/src/controller_manager_plugin.cpp#L153-L163).

However, it would

[2021-10-07 03:35] tylerjw commented on #726
My only thought is we probably should have a better name.

https://blog.codinghorror.com/i-shall-call-it-somethingmanager/

I like the idea though.

[2021-10-07 06:51] #646 closed

[2021-10-09 01:37] lilustga commented on #504
First Foxy release to include the Windows port fixes. https://github.com/ros-planning/moveit2/releases/tag/2.3.0

Now testing it on Windows!

Galactic testing soon as well

[2021-10-11 16:54] DLu commented on #313
# MoveIt Setup Assistant Refactor Proposal

I propose that MSA be reimplemented using pluginlib. Most of the "widgets" would be moved to separate packages and implemented as plugins. The core `moveit_setup_assistant` package would only contain a few key elements.
 * List of available plugins
 * Set of shared data files
 * Functionality for loading some subset of the plugins
 * Framework to populat

[2021-10-12 06:19] invincialok commented on #717
i am a beginer how can i solve this issue . plz guide me

[2021-10-12 15:28] sancelot commented on #725
I confirm it is now right.

[2021-10-12 18:43] #617 closed

[2021-10-12 19:34] rrufat opened #736 "galactic plan execution freeze"
### Description

When running panda_moveit_config's demo.launch.py from moveit_resources repo (https://github.com/ros-planning/moveit_resources/tree/ros2) rviz launches and can see arm. When I move arm around and give plan over rviz plugin it plans without problem multiple times but it fails in execution and issues a warning that MoveGroup action client/server is not ready. Afterwards it is not po

[2021-10-13 02:04] AndyZe commented on #717
Thanks @invincialok. I think what @henningkayser  meant is, you should go through the `moveit_core/trajectory_processing` folder and replace `num_dof` and `idx` arguments in places like this:

[code]

With something like this:

[code]

For example, you can replace `num_dof` with this:  `joint_group->getVariableCount();`

[2021-10-13 21:27] tylerjw opened #738 "Publish hybrid planner whitepaper"
An issue to track publishing a hybrid planner whitepaper.  Feel free to move this to a different repo (like the website).

[2021-10-13 21:30] tylerjw opened #739 "Review hybrid planner feature"
This is just an issue to track the work of reviewing the hybrid planner feature.

[2021-10-13 21:30] #724 closed, assigned to nobody

[2021-10-13 21:32] tylerjw opened #740 "Initial port of MSA gui"
This is just for an initial port of the MSA GUI.

I know @abake48 and @DLu may be taking a different approach.  Please either edit this issue or close it in favor of any other issue you are using to track your work.  If you close this please add the other issue to the sprint.

[2021-10-13 21:33] tylerjw opened #741 "Address reviews for hybrid planning architecture"
@sjahr

* [x] fix hack for initialization
* [x] address reviews
* [x] merge

[2021-10-13 21:54] tylerjw opened #742 "MoveIt 1 -> 2 sync (RoboStack/tests_with_conda_pkgs)"
sync these commits from moveit1 with a merge:

[code]

As many of these change the cmake configs for robostack and windows I will be including revert commits for many of them after reviewing them.  If we need similar changes in moveit2 we will have to do it differently.  This sync is more about preserving the shared history than migrating these changes to moveit2.

Locally I used this git command

[2021-10-14 16:30] tylerjw opened #743 "Finish MTC Port"
@JafarAbdi please edit the description to describe the scope of this.

[2021-10-14 20:38] tylerjw opened #744 "User-friendly Tutorials"

[2021-10-14 23:54] prajd3d opened #745 "setGroupStateValidityCallback not automatically applied to internal samplers within UnionConstraintSampler"
### Description

Not sure if this is a bug or feature that needs to be included to avoid surprise (principle of least-surprise)

I am using the "constraint_samplers::ConstraintSamplerManager::selectDefaultSampler" helper function.

`
auto sampler = constraint_samplers::ConstraintSamplerManager::selectDefaultSampler(
              planning_scene, jmg->getName(), constraints);
`

For my use-case, it

[2021-10-15 06:23] NebuDa opened #747 "CollisionObject added with Moveit_cpp gets ignored at motion planning"
### DescriptionDescription

I have built a node to add collision Boxes to the scene, but after adding it, like in the tutorial, the Robot moves through the box instead of around it. When I move and Publish the Collision Box from code manually in RViz, then it is working. Do I have to publish the Boxes inside the code, is my launch File wrong or is there a Bug in moveit_cpp?

In scene Objects is sh

[2021-10-17 20:40] v4hn commented on #313
Reading this from you reminded me of slide 30 [from your 2017 ROSCon talk](https://roscon.ros.org/2017/presentations/ROSCon%202017%20Fundamentals%20of%20Local%20Planning.pdf). :joy:

I would love plugin support for MSA for users to add their own configuration options.
I don't see the merit in "outsourcing" all standard tabs though and would keep them local classes. But, granted, the difference bet

[2021-10-17 21:08] gavanderhoorn commented on #313
As I don't see it mentioned yet: https://github.com/ros-planning/moveit/pull/1375.

[2021-10-19 08:28] henningkayser opened #748 "Branch off Galactic stable branch"

[2021-10-19 08:36] henningkayser opened #749 "Get up to sync with MoveIt 1"
Since we are planning to branch off a stable development branch for Galactic (#748), we should aim to get all fixes from MoveIt 1 synced before that. I don't think that we will backport sync PRs from main to other branches in the future. Of course, this doesn't exclude cherry-picked fixes.

[2021-10-19 13:23] #645 closed, assigned to nobody

[2021-10-20 21:22] AndyZe opened #750 "Add the ability to control Servo via externally-published tf frames"
A MoveIt1 PR that started working on this is here.

https://github.com/ros-planning/moveit/pull/2894

[2021-10-22 09:08] lapo5 opened #751 "Add path_constraints to Moveit_Cpp interface"
Up to now, I did not see any solution to set the path_constraints field to the MotionPlanRequest when using Moveit_cpp interface (http://moveit2_tutorials.picknik.ai/doc/moveit_cpp/moveitcpp_tutorial.html).
Is it a feature that will be added in the future?

[2021-10-25 17:37] henningkayser opened #753 "Bump ros2_control dependency to 1.1.0"
With the latest release of ros2_control, #731 could be unblocked by bumping up the ros2_control version in the workspace [like last time](#711). We should get this done before the next release. Does anyone have thoughts about keeping ros2_control in the workspace for now? Ideally, we should depend on the released versions, but if there are a lot of upcoming changes we want to depend on, I'm open f

[2021-10-25 20:23] DLu opened #755 "Latched Strings for URDF and SRDF"
With the death of the one centralized parameter server to rule them all in ROS 2, it has become more cumbersome to have single instances of global parameters that everyone can use, i.e. often multiple nodes will need to individually load `/robot_description` into their parameter namespace.

[`robot_state_publisher`](https://github.com/ros/robot_state_publisher/blob/361249090bdd8b089eb45318fd537034

[2021-10-26 16:06] #753 closed, assigned to schornakj

[2021-10-27 13:57] Thijsons opened #760 "Moveit simple controller manager doesn't respond to changes of trajectory_execution.execution_duration_monitoring parameter"
### Description
To make the UR10e robot work properly with its internal speed set to low values the 'trajectory_execution.execution_duration_monitoring' parameter of the simple controller manager needs to be changed to false, see [here](https://github.com/UniversalRobots/Universal_Robots_ROS2_Driver/issues/192#issuecomment-947803923).

setting the 'trajectory_execution.execution_duration_monitorin

[2021-10-29 17:16] tylerjw opened #762 "Deprecating the start/stop services in Servo"
As of https://github.com/ros-planning/moveit2/pull/761 the initialization of servo is done in the constructor and no longer in the service callback for start.  This simplifies the code but did not remove the start or stop endpoints.

The reason for this is there is some race condition in startup if you start servo in the constructor.  This can be seen by moving the call to start into the construct

[2021-10-29 18:46] tylerjw opened #764 "Unified branching strategy"
Before the Humble release, I propose we have a unified branching strategy for all of the ros-planning repos in the moveit ecosystem.

This can wait until we have a final Galactic release but this is what I propose.

* __main__ targets Rolling (will target Humble when it exists) and is the default branch
* __galactic__ targets Galactic and has the latest Galactic release
* __foxy__ targets Foxy and

[2021-10-30 18:50] AndyZe opened #766 "In moveit_core/trajectory_processing/rucking_traj_smoothing"
In moveit_core/trajectory_processing/rucking_traj_smoothing.h, replace our implementation of `getNextRuckigInput` with the Ruckig method `pass_to_input()` when it's available.

[2021-10-30 19:09] AndyZe opened #767 "With the ruckig_traj_smoothing plugin, motion does not always end exactly at the desired robot position"
I think what happens is, the smoother passes over every waypoint and modifies the positions enough that it does not end exactly at the final desired position. It "can't catch up."

Possible solution:

While iterating and stretching the trajectory, I think we should also check if the final waypoint matches the target. Keep stretching until it does.

Easy to reproduce if `velocity_scaling` is set ve

[2021-11-01 16:42] AndyZe opened #770 "Error with Servo launching"
Commit 7e3fdcffb seems to have caused an issue with Servo launching. The robot joint state is not initialized and the robot is upright rather than having a 90* bend at the elbow. I tested with this command on main branch, rosdistro Rolling:

`ros2 launch moveit_servo servo_example.launch.py`

No obvious errors in the terminal.

![wrong_robot_position](https://user-images.githubusercontent.com/1128

[2021-11-01 19:59] brennand opened #772 "Servo not timing out properly"
### Description

When there is a miss match in the control_msgs - JointJog time stamp, the the joint doesn't time out.

I think the time out is based on the time the msg is received.  I found this problem when I hadn't set the command line publisher to use sim time.

I think as this is a "safety feature"  it should use the time.now() for then the msg was received.

Also of note.  The duration fiel

[2021-11-02 02:00] AndyZe commented on #770
PR #771 partially fixed this but wait, there's more:

`Failed to call service get_planning_scene, have you launched move_group or called psm.providePlanningSceneService()?`

The joint angles look good but the robot still does not move.

[2021-11-02 02:37] tylerjw commented on #770
Locally testing I got it working by doing this:

Start servo with the above launch command:

[code]

Call the start service:

[code]

Change the topics in servo_keyboard_input.cpp from moveit2_tutorials from `servo_server` to `servo_node` namespace as the namespace of the topics changed.  Then launch it with:

[code]

I'll submit a PR to fix that in the tutorial.  Is there some other way you are r

[2021-11-02 02:43] tylerjw commented on #770
Here is the update for the tutorials: https://github.com/ros-planning/moveit2_tutorials/pull/176

[2021-11-02 02:48] tylerjw commented on #770
Note that you still need to call the start service with something.  I hope to fix the racing condition that prevented me from removing the start service altogether.

[2021-11-02 13:50] AndyZe commented on #770
Yep, I forgot that service call is necessary in ROS2. [This PR](https://github.com/ros-planning/moveit2_tutorials/pull/109) updated the documentation.

Yay, let's move on.

[2021-11-02 13:50] #770 closed

[2021-11-02 14:22] henningkayser commented on #313
Hey @DLu I’m using ZenHub in GitHub, [click this link](https://app.zenhub.com/workspaces/moveit-61675936b391800012280f6d/board) to join my workspace and see other features available in GitHub or [download the ZenHub extension](https://www.zenhub.com/extension) and sign up with your GitHub account.
  _Posted using [ZenHub](https://www.zenhub.com)_

[2021-11-02 14:36] #739 closed

[2021-11-02 14:43] henningkayser commented on #169
Continued in #755

[2021-11-02 14:43] #169 closed

[2021-11-02 14:52] DLu opened #774 "TOTG Does Not Handle MultiDOF Joints"
### Description

While working with planar joints, the interpolation of multidof joints is treated as interpolation on individual variables.

Related to #586 possibly.

### Your environment
* ROS Distro: Galactic
* OS Version: Ubuntu 20.04

### Steps to reproduce
I have a test that I can push later.

[2021-11-02 15:05] tylerjw commented on #772
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/MoveIt-61675936b391800012280f6d/issues/ros-planning/moveit2/772?planning-poker) with ZenHub @henningkayser @AndyZe @vatanaksoytezer @JafarAbdi @DLu @abake48 @Abishalini

[2021-11-02 15:05] tylerjw commented on #738
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/MoveIt-61675936b391800012280f6d/issues/ros-planning/moveit2/738?planning-poker) with ZenHub @abake48 @Abishalini @AndyZe @DLu @henningkayser @JafarAbdi @vatanaksoytezer

[2021-11-02 15:06] tylerjw commented on #755
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/MoveIt-61675936b391800012280f6d/issues/ros-planning/moveit2/755?planning-poker) with ZenHub @abake48 @Abishalini @AndyZe @DLu @henningkayser @JafarAbdi @vatanaksoytezer

[2021-11-02 15:06] tylerjw commented on #726
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/MoveIt-61675936b391800012280f6d/issues/ros-planning/moveit2/726?planning-poker) with ZenHub @abake48 @Abishalini @AndyZe @DLu @henningkayser @JafarAbdi @vatanaksoytezer

[2021-11-02 15:40] larsbes opened #775 "Unable to get MoveGroupInterface instance to work when used inside of a rclcpp::Node class."
### Description

In a larger framework of ROS2 nodes aimed at the operation of a robotic manipulator, I am trying to create a (set of) node(s) that is able to take instructions, pass them to MoveIt/move_group, and then send the obtained plan to the robot. To do so, I am using `moveit::planning_interface::MoveGroupInterface` to create an instance of `move_group`, for which a spinning node is requir

[2021-11-02 21:24] tylerjw commented on #742
After doing the above commands we did this to create the merge:

[code]

Then because we wanted to drop all the changes from robostack PR we used a series of commands that resembled this to remove them from the merge:

[code]

Lastly for two new files we just did a rm:

[code]

[2021-11-03 13:21] #742 closed

[2021-11-03 18:54] JafarAbdi commented on #775
Do you mind test changing the executor type to multi-thread .? also your program is segfaulting

[code]

and the problem lies here, you will have a dangling reference to `executor` as soon as you exit the `generate_plan` callback

[code]

[2021-11-04 12:53] JoNeckel opened #780 "std::bad_alloc in move_group when launching UR Driver"
### Description

Overview of your issue here.
I try to start MoveIt with the Universal_Robots_ROS2_Driver, but there is an exception thrown in the move_group node, I tried different Versions of MoveIt and also the Driver and other dependencies. But I am not yet an expert with this and couldn't find a solution.

### Your environment
* ROS Distro: foxy
* OS Version: e.g. Ubuntu 20.04
* Source and Bi

[2021-11-04 12:57] JafarAbdi commented on #780
This got fixed with https://github.com/ros-planning/moveit2/pull/525, I'll backport it to foxy

[2021-11-04 13:06] JafarAbdi commented on #780
@JoNeckel Could you please test https://github.com/ros-planning/moveit2/pull/782 ? thanks!

[2021-11-04 13:10] JoNeckel commented on #780
Uno momento, I will test it, thanks for your fast reply!

[2021-11-04 13:48] JoNeckel commented on #780
@JafarAbdi unfortunately it didn't solve the problem.
I just cloned the foxy branch, did I miss something?

[2021-11-04 14:09] JoNeckel commented on #780
thanks, I am building it again

[2021-11-04 14:27] JoNeckel commented on #780
Now i got an error while building:
[code]

[2021-11-04 14:31] JafarAbdi commented on #780
I fixed the build error, do you mind fetching the latest update .?

[2021-11-04 14:33] JoNeckel commented on #780
ah okay nice, again with `gh pr checkout 782`?

[2021-11-04 14:45] henningkayser commented on #751
Closing this, the change was merged into main and foxy

[2021-11-04 14:45] #751 closed

[2021-11-04 14:56] JafarAbdi commented on #780
Yes, I think this should do it for you

[2021-11-04 15:06] JoNeckel commented on #780
I still have the same error.. :(

[2021-11-04 16:01] henningkayser opened #783 "CI job 'rolling-ci + ccov' broken for PRs (cached only)"
The CI job "rolling-ci + ccov" currently fails for pull requests with the following build error:

[code]

The main branch doesn' t have this issue, also [disabling the cache fixes the job](https://github.com/ros-planning/moveit2/pull/673/commits/4a7b8402d2d4c0d804a6eb53a77627846bd04752).

[2021-11-05 09:09] Victorlouisdg opened #784 "Planning a joint trajectory from a timed cartesian path"
I'm trying to plan a joint trajectory for a robot to follow a list of timed cartesian waypoints e.g:
[code]
Does MoveIt currently support this use case?

I've looked at `computeCartesianPath()` as it seems to be the only function that takes a _list_ of waypoints as argument.
However, the function does not "accept" my timestamps, it assigns timestamps to the resulting joint trajectory itself.

My f

[2021-11-05 14:15] JoNeckel commented on #780
@JafarAbdi I tried it again and now it works! Seems like yesterday i didn't removed everything properly or sth.
Thank you very much for fixing! :)

[2021-11-05 17:50] makeadl commented on #780
I still have the same issue after using:

git remote add foxy_fix https://github.com/JafarAbdi/moveit2.git && git fetch foxy_fix pr-foxy_backports && git checkout pr-foxy_backports

my git status looks like:

workspace/ros_ur_driver/src/moveit2$ git status
On branch pr-foxy_backports
Your branch is up to date with 'foxy_fix/pr-foxy_backports'.

nothing to commit, working tree clean

should I remov

[2021-11-05 20:26] schornakj commented on #726
Can you provide some detail about how you picture specifying and using specific controllers through an MTC task? Currently I use the `ExecuteTaskSolutionCapability` in my project, but since this ties me to the MoveGroup action interface I'm limited by the absence of a message field to describe my desired controller configuration.

One thing I was thinking about today was switching between complian

[2021-11-08 06:31] tangguotongling commented on #185
Thank you for your work and look forward to it~

[2021-11-08 10:24] #45 closed

[2021-11-08 11:49] JafarAbdi commented on #780
Could you please try cleaning the workspace and test again .?

[2021-11-08 11:52] JafarAbdi commented on #780
Fixed with https://github.com/ros-planning/moveit2/pull/782

[2021-11-08 11:52] #780 closed

[2021-11-08 14:44] Victorlouisdg commented on #784
Nevermind my suggested solution above. After looking into the source code for the [CartesianInterpolator](https://github.com/ros-planning/moveit/blob/master/moveit_core/robot_state/src/cartesian_interpolator.cpp) I figured out there _is_ a simple 1-to-1 correspondence between each cartesian waypoint and a joint space waypoint.  Given this 1-to-1 correspondence I believe I can just copy the timesta

[2021-11-08 14:44] #784 closed

[2021-11-09 14:34] gautz opened #786 "launch run_move_group from demo_nodes failing"
### Description

Overview of your issue here.

### Your environment
* ROS Distro: [Rolling]
* OS Version: e.g. Ubuntu 20.04

### Steps to reproduce
`ros2 launch run_move_group run_move_group.launch.py`
or
`ros2 launch run_ompl_constrained_planning run_move_group.launch.py`

### Expected behaviour
Panda robot loading

### Actual behaviour
no Panda robot visualization

### Backtrace or Console outpu

[2021-11-09 14:46] JafarAbdi commented on #786
The error is
[code]

Did you change anything in https://github.com/ros-planning/moveit_resources/blob/ros2/panda_moveit_config/config/joint_limits.yaml .? looks like you added double-quotes to the values which are causing them to be interpreted as strings

Also, are you using source build or binaries .?

[2021-11-09 15:11] gautz commented on #786
I  did not change anything, I am building moveit2 from source on rolling. Can you reproduce the issue?

[2021-11-09 15:14] tylerjw opened #787 "Foxy release"
run_moveit_cpp is broken in the current foxy release.  Cut new release to fix this.

[2021-11-09 15:15] JafarAbdi commented on #786
I can't reproduce it, I'll try a new fresh build and report back to you

[2021-11-09 15:15] tylerjw commented on #783
@JafarAbdi is going to add the release date to the hash of the upstream workspace to fix this.

[2021-11-09 15:16] gautz commented on #786
interestingly `ros2 launch run_moveit_cpp run_moveit_cpp.launch.py` is working as expected.

[2021-11-09 15:22] vatanaksoytezer commented on #786
I couldn't reproduce this either with the latest docker or a fresh install. @gautz Do you mind making a clean build of the workspace and making sure you have the latest moveit and let us know how it goes?

[2021-11-09 15:23] tylerjw opened #788 "Sync from MoveIt1"
@Abishalini please edit this description to include the commits you are syncing.

[2021-11-09 15:52] gautz commented on #786
I am currently building the moveit `main` branch for rolling.
My previous workspace included `moveit_tutorials` `main` branch. Which `moveit_tutorials` branch is targeting rolling?

[2021-11-09 16:01] vatanaksoytezer commented on #786
You don't need  `moveit2_tutorials` for run_xxx tutorials. Having said that main branch of moveit2_tutorials is targeting rolling.

[2021-11-09 16:51] JafarAbdi commented on #786
I tried again with a clean build and it's working pretty well, do mind sharing the output of `apt policy ros-rolling-moveit-resources-panda-moveit-config` .?

[2021-11-09 16:57] gautz commented on #786
[code]

[2021-11-09 18:47] tylerjw opened #790 "Use ros2 interfaces for parameters in moveit_servo"
Currently, moveit_servo uses a template function declareOrGetParam for specifying and getting parameters.  Here is the file where that is done: https://github.com/ros-planning/moveit2/blob/main/moveit_ros/moveit_servo/src/servo_parameters.cpp

I would like to use the ros2 parameter interfaces directly in order to specify descriptions and types of each parameter using the ParameterDescription.  An

[2021-11-09 21:30] Abishalini commented on #788
Sync these commits from MoveIt with a merge:
[code]
Changes from `7996ff82c`, `e8b54db3a` and `bec399ae8` will be reverted since they are not applicable to MoveIt2. They involve changes to CI and CMakeLists

There are a few changes in MSA which has not been ported to ROS2 yet.

[2021-11-10 12:01] NebuDa commented on #747
I have started working on it again, and changed some parts of the code. But the bug still exists. When I move the Boxes a little bit in RViz and publish them again it works, otherwise not.

[code]

Is there a way to activate the publishing from code?
Or is there another way to tell  `planning_scene_monitor::LockedPlanningSceneRW scene` to publish it?

[2021-11-10 12:59] JensVanhooydonck commented on #747
When I publish my collision object to the '/colission_object' topic, it works for me, when applying a scene with Diff = True, it does not work. Maybe this is the same issue?

[2021-11-10 18:41] sjahr commented on #726
@schornakj I think Hybrid Planning could help with this problem because you could use the local planner to decouple global planning from the controller

[2021-11-12 14:56] #788 closed

[2021-11-12 16:07] henningkayser opened #796 "std::bad_alloc in RobotModelLoader"
### Description

I frequently get a `std::bad_alloc` exception in the RobotModelLoader when launching MoveGroup, MoveItCpp and RViz (plugins).
Attached is a console output filtered for RViz and MoveGroup (this uses the prbt robot, but I see just the same with the panda and others).

Take note, that both RViz plugins (MotionPlanning, PlanningSceneDisplay) fail attempting to load the robot.
I identi

[2021-11-12 16:32] Briancbn commented on #796
I was also getting the same error in Foxy 2.2.1. I realized that **after** having installed the debian binary and then build moveit2 from source (tagged 2.2.1 and from scratch) this error will occur very consistently. My solution was

1. Uninstall binaries

[code]
   Then remove build and install to rebuild, (just remove build is also not working).

2. Use only binary and don't source the install

[2021-11-12 18:25] Abishalini opened #797 "Sync with MoveIt1"
Sync the following commit from MoveIt with a merge:
[code]
This was a relatively big PR so I have not added any ore commits to this sync

[2021-11-12 22:13] v4hn commented on #796
Sounds like the includes or libraries are wrongly preferred from the underlying workspace.
One way to find out where the violation occurs is by making all dev files from ros-foxy-moveit* unreadable(`-r`) and try to build.
The compiler will complain if it can't open an existing file that's preferred.
Just some thoughts.

[2021-11-13 08:39] henningkayser commented on #796
In my case (rolling) I don't have any MoveIt binaries installed, unfortunately.

[2021-11-15 00:57] #797 closed

[2021-11-15 15:08] JoNeckel opened #802 "Question move_group_interface xacro"
Hello,
I want to use MoveIt and the move_group C++ interface with a Universal Robots UR10e.

I use ROS2 foxy.

And I have this Driver: https://github.com/UniversalRobots/Universal_Robots_ROS2_Driver working with the Rviz Plugin of MoveIt.

Now I wanted to change the panda robot to my UR to test this Tutorial: http://moveit2_tutorials.picknik.ai/doc/move_group_interface/move_group_interface_tutoria

[2021-11-15 15:14] JoNeckel commented on #802
The ur.urdf.xacro which i want to load looks like this:
[code]
I think maybe I need a parameter (like ur_type:=ur10e or something, at least thats what I need when launching the controllers and move_group) but I don't know how to set the parameter in the launchfile or anywhere else

[2021-11-15 15:27] tylerjw commented on #802
Hello, @JoNeckel I've messaged some people internally here who might be able to help you with this.  I know this launch file is for moveit_servo but the URDF parsing is probably the same.  You might be able to figure out what you need from this:

https://github.com/UniversalRobots/Universal_Robots_ROS2_Driver/blob/main/ur_moveit_config/launch/test_moveit_servo_velocity_controller.launch.py

[2021-11-15 15:37] destogl commented on #802
@JoNeckel probably some parameters for the UR robots are missing there. Did you try running [ur_moveit.launch.py](https://github.com/UniversalRobots/Universal_Robots_ROS2_Driver/blob/main/ur_bringup/launch/ur_moveit.launch.py)? This should provide you with minimal example for UR.

If this is working, I rather propose to adapt the file from the UR-driver repository to avoid misconfiguring the UR-xa

[2021-11-15 15:53] livanov93 commented on #802
@JoNeckel You have to parse.urdf.xacro file with xacro as it is done [here](https://github.com/UniversalRobots/Universal_Robots_ROS2_Driver/blob/7c1e9b19c14e98b46662752f2ef4c1a23f1341d0/ur_bringup/launch/ur_control.launch.py#L73-L130).
.srdf.xacro file talso needs to be parsed with xacro. Take a look [here](https://github.com/UniversalRobots/Universal_Robots_ROS2_Driver/blob/7c1e9b19c14e98b4666275

[2021-11-15 17:17] tylerjw opened #803 "Update REP2005 links"
### User Story

The links on REP 2005 (https://github.com/ros-infrastructure/rep/blob/master/rep-2005.rst) for MoveIt2 should follow the pattern of other projects and link to ROS index website.

### People

- Requester: @davetcoleman
- Assignee: @stephanie-eng

### Details

MoveIt has sloppy links that should instead point to the individual packages on ROS index, like all the other entries in that

[2021-11-15 17:23] AndyZe commented on #651
I don't love CI runtimes of 2 hours.   :(

Personally I don't think ccov adds much. If somebody added a test or expanded a test, it should be pretty obvious that code coverage went up. I don't think we need the extra hour (or whatever it is) of CI runtime to tell us that.

It's not like we have so many tests they are starting to conflict.

[2021-11-15 17:44] JoNeckel commented on #802
Thanks for your fast Answers! @tylerjw @destogl @livanov93
I think I am missing something really basic, I want to get a minimal example running where I can let the UR move to an cartesian point which I tell it via code instead of the rviz gui.
I already made the ur_moveit.launch.py running, but what are the steps to be able to use the move_group_interface (C++)?
when I try to run it directly, then

[2021-11-15 18:02] tylerjw commented on #802
Something is wrong with how you are passing in the robot description parameter.

Did you fix this error?

[code]

It looks like before you were passing in something into that parameter that was failing to parse and maybe now you aren't passing anything into it?

[2021-11-15 18:18] JoNeckel commented on #802
No, I didn't fix it yet @tylerjw, I'm not sure if I need to fix that because i don't really know whats needed

[2021-11-15 18:20] tylerjw commented on #802
I would start here: `No link elements found in urdf file` and look for how your launch file differs from the ones linked in the official ROS2 driver for UR.

[2021-11-15 18:21] tylerjw commented on #802
The second error (`Unable to construct robot model. Please make sure all needed information is on the parameter server.
`) is just a consequence of the parsing of robot_description failing.

[2021-11-15 18:24] JoNeckel commented on #802
okay, I'll try that. I was thinking from the Answers, that the launch files from the Driver are enough. I'll keep you updated, thanks for your help!

[2021-11-15 19:13] JoNeckel commented on #802
Okay, it kind of works now, thank you!
I took the ur_moveit.launch.py as a template and just added the move_group_interface - Executable and only started that node.
There are still some issues with the visualization, as you can see in this picture, but I hope that's something I'll figure out.
![Screenshot from 2021-11-15 20-07-44](https://user-images.githubusercontent.com/63593196/141839820-59b104

[2021-11-15 19:13] #802 closed

[2021-11-15 22:21] stephanie-eng commented on #803
I can update the links for most of the packages in the existing list, but I had some issues with the following:

- [moveit_jog_arm](https://index.ros.org/p/moveit_jog_arm/) seems to only be available on Eloquent
- [moveit_fake_controller_manager](https://index.ros.org/p/moveit_fake_controller_manager/) seems to be only available for ROS1
- [moveit_planners_trajopt](https://index.ros.org/p/moveit_p

[2021-11-16 08:41] RoboticsYY opened #806 "[Foxy] std::bad_alloc when running run_moveit_cpp demo"
### Description

Overview of your issue here.

### Your environment
* ROS Distro: [Foxy]
* OS Version: e.g. Ubuntu 20.04
* Source build, `foxy` branch

### Steps to reproduce
Met `std::bad_alloc` with the latest Foxy source build.

Roll back to commit `ee704d2f102cebfc6e0723d4c744f39fba3831c9`, resolve the issue.
### Console output
[code]

[2021-11-16 11:33] alexlt97 opened #807 "Moveit1 and Moveit2 Time parameterization"
Good afternoon,

We have encountered some difficulties trying to generate trajectories from Moveit2 for a robot that works in ROS1. We created the same trajectory in both versions of MoveIt but their results differ substantially. Here I attached the related issue:
https://github.com/Kinovarobotics/ros_kortex/issues/206#issuecomment-970178986

We suspect there is a difference in how Moveit2 handles

[2021-11-16 15:17] AndyZe commented on #807
We could use some more information. In your `xxx_planning_pipeline.launch.xml` do you have a line like this:

      `default_planner_request_adapters/AddTimeParameterization`

 or is it `default_planner_request_adapters/AddTimeOptimalParameterization` ?

 I'd recommend AddTimeOptimalParameterization.

 It's also not clear to me what your graphs in the ros_kortex issue show. How did you get the dat

[2021-11-16 15:23] AndyZe commented on #807
Do the graphs come from this topic:   `control_msgs/FollowJointTrajectoryActionGoalcontrol_msgs/FollowJointTrajectoryActionGoal`?

[2021-11-17 07:10] henningkayser commented on #806
Interesting! This could be related or even a duplicate of #796. Do you have the MoveIt 2 Foxy debians installed?

[2021-11-17 09:39] Thijsons commented on #807
Thank you for the response,

The issue was indeed a time parameterization one. The `AddTimeOptimalParameterization` had to be changed to `AddIterativeSplineParameterization` to work with the kinova driver (see the linked issue). This fixed the problem.

[2021-11-17 09:41] Thijsons commented on #807
@alexlt97 since the problem has been resolved the issue should probably be closed.

[2021-11-17 13:52] AndyZe commented on #807
I don't like to hear this -- `AddTimeOptimalParameterization` is our best option at the moment, so it should work. Will make a more detailed issue. Thanks for reporting this and providing a fair amount of data.

[2021-11-17 13:52] #807 closed

[2021-11-17 13:56] AndyZe opened #810 "TOTG jump in position at the first waypoint"
Full details here:  https://github.com/Kinovarobotics/ros_kortex/issues/206#issuecomment-970178986

In short, TOTG had a jump in the initial joint position in the graphs [here](https://github.com/Kinovarobotics/ros_kortex/issues/206#issuecomment-970178986) for Joint 3 and that caused an acceleration limit to be violated.

[2021-11-18 16:37] tylerjw commented on #790
@henningkayser I'll respond here to your comment in the PR: https://github.com/ros-planning/moveit2/pull/799#pullrequestreview-809715634

I'm not sure it is as bad as you seem to think it is.  It could be better but this doesn't seem like the largest evil in the parameter interface in ROS 2 to me.

I don't agree that the additional_constraints string is useless.  I do think it would be a really ni

[2021-11-18 20:22] AndyZe opened #814 "Hybrid planning: eliminate timers in constructors"
The new hybrid planning feature uses timers in several constructors to wait for other things to initialize. For example in `global_planner/global_planner_component.cpp`.

Tyler made a comment here that might [help](https://github.com/ros-planning/moveit2/pull/488#discussion_r720408829).

[2021-11-19 00:05] Abishalini opened #816 "Sync with MoveIt1"
Sync the following commits from MoveIt with a merge
[code]

[2021-11-19 08:57] sjahr commented on #814
I've already addressed this in #811 with
- [a985b8c](https://github.com/ros-planning/moveit2/pull/811/commits/a985b8c3fc74f75551e74159e4849936bba55067) &#8594; removes timer in Global and Local Planner
- [b027f62](https://github.com/ros-planning/moveit2/pull/811/commits/b027f625442b7f53091ff3b7af6f26bae7a3e9fd) and [5682263](https://github.com/ros-planning/moveit2/pull/811/commits/5682263a4fec2fe2

[2021-11-19 10:43] #816 closed

[2021-11-19 11:58] henningkayser commented on #814
I just wanted to say that. @tylerjw fixed it with https://github.com/ros-planning/moveit2/pull/763 and all the changes seem to have made it into #811.

[2021-11-19 14:30] AndyZe commented on #814
Tyler's branch crashes, though.

[2021-11-19 15:03] henningkayser commented on #814
That's probably not a good reason to drop his fixes. The issue you found seemed like a launch/configuration bug which should be pretty minor. Maybe @tylerjw can chime in and report on the latest state of his branch? It might save time if all of us would discuss this over a call or so.

[2021-11-19 15:08] AndyZe commented on #814
I'm not saying we drop the fixes. I'm saying we merge the 4000-line 200+ comment PR (which is currently functional) then we can apply the fixes in a follow-up.

[2021-11-19 15:37] AndyZe opened #818 "Duplicate imports in Servo launch files"
Eliminate duplicate imports in Servo launch files, such as here in [servo_launch_test_common.py](https://github.com/ros-planning/moveit2/blob/main/moveit_ros/moveit_servo/test/launch/servo_launch_test_common.py):

[code]

[2021-11-19 19:37] AndyZe opened #819 "Hybrid planner often gets stuck"
Sometimes it plans around the obstacle perfectly, and executes the trajectory perfectly. Here's a perfect run:

https://user-images.githubusercontent.com/11284393/142681458-9f4775e2-58ef-490e-a70f-cc4060345f0a.mp4

Other times it gets stuck. It seems to be an issue with the demo's local planner. Here is an example of that:

https://user-images.githubusercontent.com/11284393/142681583-0512fa6d-0a61

[2021-11-19 19:43] JafarAbdi commented on #787
https://github.com/ros/rosdistro/pull/31274

[2021-11-19 19:43] #787 closed

[2021-11-20 12:11] JensVanhooydonck commented on #819
I'm also getting the following error in #813  when the global planner fails to find a solution:

[code]

This crashes the hybrid_planning_container. New request are from then not possible anymore.

[2021-11-22 13:06] JoNeckel opened #820 "[foxy] std::bad_alloc, MoveGroup launched without ~default_planning_pipeline spec..., 'loadRobotModel'"
### Description

I have a similar problem than in the fixed issue https://github.com/ros-planning/moveit2/issues/780#issue-1044731953

When I want to launch moveit for the UniversalRobots Driver, I get Errors and rviz tells me, that no planning library is loaded

### Your environment
* ROS Distro: [foxy] binary
* OS Version: e.g. Ubuntu 20.04

### Steps to reproduce
follow the instructions of http

[2021-11-22 13:38] JafarAbdi commented on #820
I did release a new version for foxy but it's not synced yet, do you mind trying the latest foxy branch https://github.com/ros-planning/moveit2/tree/foxy while removing the binaries? `sudo apt remove --purge ros-foxy-moveit*`

[2021-11-22 15:14] JoNeckel commented on #820
It works again, thank you!

[2021-11-22 15:14] #820 closed

[2021-11-22 17:06] AndyZe commented on #819
@JensVanhooydonck this commit should fix your "planner fails" bug. It was a pretty simple fix. It would be nice if you could test this - I almost never see planning failures so it's hard for me to test.

https://github.com/ros-planning/moveit2/pull/813/commits/b9891f4163df9cb6cc5202b7cf7bcdd7ec101b25

Will work on the local planner getting stuck now.

[2021-11-22 19:49] JafarAbdi commented on #796
I had the same issue on my other PC and fixed it by running `sudo apt remove --purge ros-rolling-moveit*` then recompiling with a clean workspace, this's a bug in ament_cmake

[2021-11-23 09:20] JensVanhooydonck commented on #819
Thanks for this! This indeed stops the container from crashing. However, after throwing the `Could not compute plan successfully`, new requests are ignored/not picked up.

I'm getting the following logs:
[code]

To fix this i've opened [PR #2](https://github.com/AndyZe/moveit2/pull/2) which fixes this for me.
The failing of the global planner is another issue outside of this scope.

[2021-11-23 10:51] alexlt97 opened #821 "Error building Moveit2 in Jetson: ROS2-Eloquent"
Hello, I know Moveit2 is not maintained for ROS-eloquent. Nevertheless I give it a try as I am developing and application in a Jetson Xavier device.When I tried to compile the package moveit_core from the branch eloquent I received this error:

[code]

The package srdfdom is built properlty so I was wondering if there is some internal changed that I am not able to find. I checked the CMakeList.txt

[2021-11-23 11:49] vikasbz commented on #818
@AndyZe Can I please take this up?

[2021-11-23 13:52] AndyZe commented on #818
Please do!

[2021-11-23 14:02] AndyZe commented on #819
Merging it. Thanks @JensVanhooydonck!

[2021-11-23 15:57] tylerjw opened #822 "Create galactic branch"
- [ ] Fork the main branch of tutorials for galactic
- [ ] Update multi-version deployment on all branches to deploy galactic branch
- [ ] Remove not-yet-ported tutorials

[2021-11-23 15:58] #822 closed

[2021-11-23 16:05] #819 closed

[2021-11-23 16:17] tylerjw opened #823 "Create message builder package"
Create a message builder package and move the parameter_descriptor_builder.hpp into it and out of servo.

[2021-11-23 17:41] #790 closed

[2021-11-24 13:19] NebuDa opened #826 "Builderror moveit_ros_planning"
I have tried to build from Source on Ubuntu 20.04 with ROS2 Galactic and got the following errors:

[code]

I have followed the tutorial exactly and did nothing different. https://moveit.ros.org/install-moveit2/source/

[2021-11-24 22:37] tylerjw commented on #772
@brennand would you mind testing the PR I linked to see if it resolves this issue?  I would also appreciate a review of it if you have time.

https://github.com/ros-planning/moveit2/pull/825

[2021-11-24 22:55] tylerjw commented on #826
Is there any chance you have moveit installed into /opt?  If you do it can cause build errors because it tries to link against moveit packages you have in /opt instead of those in your workspace.  You can remove them like this:

[code]

If this is the issue it will be made better by ROS Humble.  OR is working on fixing this issue with how the ordering of linking is handled in ament/colcon.

[2021-11-25 07:57] NebuDa commented on #826
Thats it, Thank You very much!

[2021-11-25 07:57] #826 closed

[2021-11-25 08:55] INVINCIalokk commented on #818
sir i didn't understood this issue can you explain me......

[2021-11-25 17:29] henningkayser opened #828 "Release 2.3.1 [R/G]"

[2021-11-26 10:18] TsuunEvo opened #832 "Problems when building from source"
### Description

Hello, i want to build moveit2 from source, but i get 2 errors, one is fixed with the hint in the console output, but i list it for completions sake.

### Your environment
* ROS Distro: Galactic
* OS Version: Ubuntu 20.04
* Source, main

### Steps to reproduce
Build moveit2 from source

### Expected behaviour
Build finishes ceanly

### Actual behaviour
I get the following console

[2021-11-26 12:01] #743 closed

[2021-11-26 13:51] JafarAbdi commented on #832
@TsuunEvo I think this should be fixed with https://github.com/ros-planning/moveit2/pull/830, do you mind testing it?

[2021-11-26 13:53] JafarAbdi commented on #832
This's a duplicate of https://github.com/ros-planning/moveit2/issues/826, please let me know if you still have the problem

[2021-11-26 13:53] #832 closed

[2021-11-29 18:23] henningkayser opened #833 "Re-enable PILZ runtime tests"
Related to: https://github.com/ros-planning/moveit/issues/2947
The migration of the planner is completed and all the tests pass with the PRBT (#315).
However, we don't want to get the PRBT robot merged into `moveit_resources`, instead we should fix and enable all tests to use some other robot that still gets maintained.

[2021-11-30 11:47] JafarAbdi commented on #821
I'm pretty sure this's related to exporting targets/include dirs, what's the hash that you're using for srdfdom?

As you mentioned we no longer support eloquent (its lifetime ended 1-year ago), so I'm going to close this, please let me know if you still have this problem in any of the supported distros

[2021-11-30 11:47] #821 closed

[2021-11-30 15:29] DLu opened #835 "Post Instructions for How To Generate Doxygen"
While we're waiting for the ROS 2 build farm to be able to generate the docs, we should have instructions on how to generate it locally.

We could also post it on moveit.ros.org or somewhere, but local generation is a good starting spot.

[2021-12-01 21:25] tylerjw opened #840 "Modern C++ best practices applied"
Systematically go through Jason Turner's book and https://github.com/cpp-best-practices/cppbestpractices and apply modern C++ best practices to MoveIt.

[2021-12-01 21:25] tylerjw opened #841 "Replace NULL with nullptr"
https://github.com/cpp-best-practices/cppbestpractices/blob/master/03-Style.md#use-nullptr

[2021-12-01 21:25] tylerjw opened #842 "Test with address sanitizer"

[2021-12-01 21:26] tylerjw opened #843 "Test with thread sanitizer"

[2021-12-01 21:26] tylerjw opened #844 "Enable recommended set of warnings"

[2021-12-01 21:26] tylerjw opened #845 "Coverity scanning"

[2021-12-01 21:27] tylerjw opened #846 "cppcheck linting"

[2021-12-01 21:27] tylerjw opened #847 "IKOS linting"

[2021-12-01 21:27] tylerjw opened #848 "Heap memory profiling"

[2021-12-01 21:27] tylerjw opened #849 "Hotspot perf profiling"

[2021-12-01 21:28] tylerjw opened #850 "Test with memory sanitizer"

[2021-12-01 21:28] tylerjw opened #851 "Test with undefined behavior sanitizer"

[2021-12-01 21:29] tylerjw opened #852 "Standardize comment style"
https://github.com/cpp-best-practices/cppbestpractices/blob/master/03-Style.md#comments

[2021-12-01 21:29] tylerjw opened #853 "Never Use using namespace in a Header File"
https://github.com/cpp-best-practices/cppbestpractices/blob/master/03-Style.md#never-use-using-namespace-in-a-header-file

[2021-12-01 21:29] tylerjw opened #854 "{} Are Required for Blocks."
https://github.com/cpp-best-practices/cppbestpractices/blob/master/03-Style.md#-are-required-for-blocks

[2021-12-01 21:30] tylerjw opened #855 "Initialize Member Variables"

[2021-12-01 21:30] tylerjw opened #856 "Assigning default values with ="

[2021-12-01 21:31] tylerjw opened #857 "Use .hpp extension for headers"

[2021-12-01 21:32] tylerjw opened #858 "Consider the Rule of Zero"

[2021-12-01 21:32] tylerjw opened #859 "Do not pass and return simple types by const ref"
https://github.com/cpp-best-practices/cppbestpractices/blob/master/04-Considering_Safety.md#do-not-pass-and-return-simple-types-by-const-ref

[2021-12-01 21:33] tylerjw opened #860 "Avoid Raw Memory Access (prefer make_* functions)"

[2021-12-01 21:33] tylerjw opened #861 "Use std::array or std::vector Instead of C-style Arrays"

[2021-12-01 21:33] tylerjw opened #862 "Use C++-style cast instead of C-style cast"

[2021-12-01 21:35] tylerjw opened #863 "Avoid Raw Loops (remove operator[])"

[2021-12-01 21:35] tylerjw opened #864 "Mutex and mutable go together"

[2021-12-01 21:36] tylerjw opened #865 "Forward Declare When Possible"

[2021-12-01 21:36] tylerjw opened #866 "Analyze the Build Time"

[2021-12-01 21:37] tylerjw opened #867 "Use Initializer Lists"

[2021-12-01 21:38] tylerjw opened #868 "Get rid of “new”"

[2021-12-01 21:38] tylerjw opened #869 "Prefer unique_ptr to shared_ptr"

[2021-12-01 21:38] tylerjw opened #870 "Prefer ++i to i++"
https://github.com/cpp-best-practices/cppbestpractices/blob/master/08-Considering_Performance.md#prefer-i-to-i

[2021-12-01 21:39] tylerjw opened #871 "Char is a char, string is a string"

[2021-12-01 21:39] tylerjw opened #872 "Never Use std::bind"
https://github.com/cpp-best-practices/cppbestpractices/blob/master/08-Considering_Performance.md#never-use-stdbind

[2021-12-01 21:55] tylerjw commented on #842
I've started working on this based on the instructions here: https://github.com/colcon/colcon-sanitizer-reports/blob/master/README.rst

To create the workspace these are the steps I've been using:
[code]

Then to build I've been using this command:
[code]

Then I've tried testing moveit_servo like this:
[code]

Which doesn't work because of some issue with linking asan.  I worked around that with:

[2021-12-01 21:57] tylerjw commented on #843
This is blocked by this: https://github.com/eclipse-cyclonedds/cyclonedds/issues/1053

A possible solution is to figure out how to build moveit without cyclonedds (maybe use fastdds instead).

[2021-12-01 22:07] tylerjw opened #873 "Prefer double to float, But Test First"
https://github.com/cpp-best-practices/cppbestpractices/blob/master/08-Considering_Performance.md#prefer-double-to-float-but-test-first

[2021-12-01 22:07] tylerjw opened #874 "Limit Variable Scope"
https://github.com/cpp-best-practices/cppbestpractices/blob/master/08-Considering_Performance.md#limit-variable-scope

[2021-12-01 22:08] tylerjw opened #875 "Get rid of std::endl"
https://github.com/cpp-best-practices/cppbestpractices/blob/master/08-Considering_Performance.md#get-rid-of-stdendl

[2021-12-01 22:10] tylerjw opened #876 "Kill shared_ptr copies"
https://github.com/cpp-best-practices/cppbestpractices/blob/master/08-Considering_Performance.md#kill-shared_ptr-copies

[2021-12-01 22:11] tylerjw opened #877 "Enable move operations"
https://github.com/cpp-best-practices/cppbestpractices/blob/master/08-Considering_Performance.md#enable-move-operations

[2021-12-01 22:15] tylerjw opened #878 "Carefully consider return types"
https://github.com/cpp-best-practices/cppbestpractices/blob/master/04-Considering_Safety.md#carefully-consider-your-return-types

[2021-12-01 22:16] tylerjw opened #879 "Const as much as possible"
https://github.com/cpp-best-practices/cppbestpractices/blob/master/04-Considering_Safety.md#const-as-much-as-possible

[2021-12-01 22:17] tylerjw opened #880 "Avoid implicit conversions"
https://github.com/cpp-best-practices/cppbestpractices/blob/master/03-Style.md#avoid-implicit-conversions

[2021-12-01 22:18] tylerjw opened #881 "Use the correct integer type for standard library features"
https://github.com/cpp-best-practices/cppbestpractices/blob/master/03-Style.md#use-the-correct-integer-type-for-standard-library-features

[2021-12-01 22:20] tylerjw opened #882 "Convert to modern include guard"
Convert all include guards to use `#pragma once`

https://github.com/cpp-best-practices/cppbestpractices/blob/master/03-Style.md#include-guards

[2021-12-01 23:56] tylerjw commented on #803
@stephanie-eng it looks like the second one has conflicts.  Please update the PR to fix the conflicts.

[2021-12-02 14:48] stephanie-eng commented on #803
Should be resolved now.

[2021-12-03 15:26] henningkayser opened #885 "Fix circular dependency with moveit_resources (PILZ/PRBT)"
Tracking issue for the MoveIt 2 side of https://github.com/ros-planning/moveit/issues/2947.

* The PILZ planner should use a supported robot rather than PRBT
* The circular dependency with moveit_resources should be fixed

[2021-12-03 21:11] vatanaksoytezer opened #887 "Main CI is broken after moveit_resources PR 101"
After https://github.com/ros-planning/moveit_resources/pull/101/files, which introduces `moveit_core` dependency in  `prbt_ikfast_manipulator_plugin` package. That causes CI failures in main branch, as upstream workspace is isolated from the target workspace (in this case) MoveIt 2. We should remove this dependency if not needed, but if  the dependency is acutally needed we should probably make th

[2021-12-06 16:39] AndyZe opened #892 "Consistent parameter loading for the different motion planning pipelines"
hybrid_planning and moveit_task_constructor are two components of MoveIt that are currently supposed to work with interchangeable planning pipelines, e.g. CHOMP and OMPL.

This gets tricky in ROS2 because CHOMP and OMPL have different parameters and we don't know what they will be ahead of time. So, hard-coded versions of `declare_parameter` are not really possible.

One way to get around this in

[2021-12-06 16:47] tylerjw commented on #892
If each component/plugin that needs parameters declares and loads its own parameters then it should work.  Is that what you mean when you say OMPL could load it's own parameters in the OMPL interface?

[2021-12-06 16:48] tylerjw commented on #892
It is probably also worth reviewing what ros2_control is doing for this as they have a similar situation where they don't know what parameters they need until they load plugins.

[2021-12-06 17:11] vatanaksoytezer commented on #887
Upon further investigation I think `prbt_ikfast_manipulator_plugin` should be moved under `moveit_kinematics` if there are no license issues. Also this plugin should be not a dependency of `prbt_pg70_support` to avoid circular depdendencies.

[2021-12-06 18:50] #315 closed

[2021-12-07 21:38] #755 closed

[2021-12-07 21:38] #726 closed

[2021-12-08 16:23] tylerjw opened #895 "Long build times in CI after Pilz merge"
### Description

CI is now taking over 3hrs to complete after the pilz merge.  We need to analyze why that is happening and find some fix to it.  3hr build times are awful.

[2021-12-08 20:46] griswaldbrooks commented on #865
https://google.github.io/styleguide/cppguide.html#Forward_Declarations contradicts this

[2021-12-08 23:42] Abishalini opened #897 "Enable CppCheck in MoveIt2"
CppCheck is a static analysis tool that can detect undefined behavior like
*    Dead pointers
*    Division by zero
*    Integer overflows
*    Invalid bit shift operands
*    Invalid conversions
*    Invalid usage of STL
*    Memory management
*    Null pointer dereferences
*    Out of bounds checking
*    Uninitialized variables
*    Writing const data

Currently, CppCheck is disable for this co

[2021-12-08 23:51] Abishalini opened #898 "Enforce include-what-you-use"
https://include-what-you-use.org/

[2021-12-09 17:10] tylerjw opened #901 "Test moveit as downstreem"
Upstream projects we control should test if they break moveit in a non-required CI pipeline.  For changes that we know will break moveit (like a messages change, with a corresponding change in moveit) we can still merge them.  For changes we don't expect to break moveit, this check should always pass.

- [ ] moveit_msgs
- [ ] geometric_shapes
- [ ] random_numbers
- [ ] srdfdom
- [ ] warehouse_ros

[2021-12-09 17:13] tylerjw opened #902 "Remove ros2_control from repos file"
ros2_control is now released into Galactic and Rolling so we should just depend on their releases (like we do with every other ros dependency that is not in ros-planning)

[2021-12-09 17:15] tylerjw opened #903 "Optional and on push Code coverage CI"
Run code coverage job optionally (have some way to request it in a PR) and on push (to update the coverage information on the readme).

## Reasoning
Code coverage takes a long time to run because it is a debug build with no cache.  Long term when we fix caching to speed up testing with debug builds we should re-enable this on PRs.

[2021-12-09 17:34] tylerjw opened #904 "Release rviz_visual_tools"
- [x] Backport https://github.com/PickNikRobotics/rviz_visual_tools/pull/209 to foxy
- [x] Foxy
- [x] Galactic
- [x] Rolling

[2021-12-09 17:43] tylerjw opened #905 "ABI compliance check run on all backports"
https://github.com/lvc/abi-compliance-checker

This should be run on all backports (PRs against galactic and foxy branches).

[2021-12-09 17:51] tylerjw opened #906 "Cache some in debug CI runs"
Investigate enabling caching from debug builds to speed up codecov ci run.

https://github.blog/changelog/2021-11-23-github-actions-cache-size-is-now-increased-to-10gb-per-repository/

[2021-12-09 18:02] tylerjw opened #907 "Better caching of docker builds"
learn from navigation2 docker builds

[2021-12-09 18:03] tylerjw opened #908 "Use colcon-cache and colcon-clean in CI"
This change would probably need to be done in industrial_ci and will only work if we are caching the workspace products (build/install directories).  This could greatly speed up CI by only doing incremental builds.

[2021-12-09 19:18] schornakj commented on #898
This [ROS-I package](https://github.com/ros-industrial/ros_industrial_cmake_boilerplate) has [some CMake macros](https://github.com/ros-industrial/ros_industrial_cmake_boilerplate/blob/70c975c169cc24092e73c2235cd73bec2effae6c/ros_industrial_cmake_boilerplate/cmake/cmake_tools.cmake#L119-L154) for applying IWYU to target libraries. One path forward would be to add something similar to the `moveit_c

[2021-12-10 17:02] tylerjw opened #912 "Release Upstream Repos [R/G/F]"
Some of the upstream repos have changed and need to be released.  Check if each of these needs a release and create it if so:

- [x] moveit_msgs - https://github.com/ros-planning/moveit_msgs/pull/137
- [ ] geometric_shapes - https://github.com/ros-planning/geometric_shapes/pull/213, https://github.com/ros-planning/geometric_shapes/pull/212
- [x] random_numbers - I don't think we need to release th

[2021-12-13 06:55] JafarAbdi commented on #775
Closing due to inactivity, please feel free to reopen if you still have this problem

[2021-12-13 06:55] #775 closed

[2021-12-13 06:57] JafarAbdi commented on #796
Closing see my previous comment

[2021-12-13 06:57] #796 closed

[2021-12-13 06:58] JafarAbdi commented on #806
This should no longer exist, please feel free to reopen if you still have this problem

[2021-12-13 06:58] #806 closed

[2021-12-13 07:02] JafarAbdi commented on #904
Foxy: https://github.com/ros/rosdistro/pull/31456
Galactic: https://github.com/ros/rosdistro/pull/31457
Rolling: https://github.com/ros/rosdistro/pull/31458

[2021-12-13 07:02] #904 closed

[2021-12-13 11:21] Briancbn commented on #796
@JafarAbdi Is it possible to keep this open still to keep track of the issue, or link to the issue for the aforementioned bug? Although this is technically solved, this mentioned ament bug still causes some inconvenience in development, e.g. using MoveIt2 debian for one workspace/project while source build for the other.

[2021-12-13 16:40] #741 closed

[2021-12-13 16:41] tylerjw commented on #895
Closed by #914

[2021-12-13 16:41] #895 closed

[2021-12-13 16:44] tylerjw opened #916 "Handle circular dependency with moveit_resources in Docker builds"
Docker builds are currently failing because of the circular dependency on moveit_resources.

[2021-12-13 18:14] #916 closed

[2021-12-13 22:15] tylerjw opened #917 "moveit_servo refactor for dynamic parameters, introspection, tuning, and testing"
A majority of the logic and state in moveit_servo is contained in one class, `ServoCalcs`.  As a result of this design, it is hard to test and introspect.  This is the effort to refactor moveit_servo to accomplish these goals:

When a user asks the question of what is servo doing or why they are getting a specific output they should be able to introspect and plot all intermediary steps easily.

De

[2021-12-13 23:44] tylerjw commented on #783
@JafarAbdi would you mind tackling this?  You created something for checking the date of the upstream (installed from debain) workspace already, correct?

[2021-12-14 08:05] slabua opened #919 "Foxy build fails due undefined reference to `boost::iostreams::[...]"
### Description

Foxy build fails due to /usr/bin/ld: libmoveit_distance_field.so.2.2.2: undefined reference to `boost::iostreams::[...]'

### Your environment
* ROS Distro: Foxy
* OS Version: Ubuntu 20.04.3
* Source build
* foxy branch

### Steps to reproduce
Following the build instruction from https://moveit.ros.org/install-moveit2/source/

### Expected behaviour
Build should complete as expect

[2021-12-14 11:49] vatanaksoytezer commented on #919
Thanks for reporting @slabua! Seems https://github.com/ros-planning/geometric_shapes/pull/211 broke it. Backporting #900 should fix it. Sending a PR now.

[2021-12-14 11:51] vatanaksoytezer commented on #919
https://github.com/ros-planning/moveit2/pull/920

[2021-12-14 13:05] slabua commented on #919
@vatanaksoytezer thanks! I will try it tomorrow.

[2021-12-14 15:17] vatanaksoytezer commented on #193
Related PRs:

- #922
- https://github.com/ros-planning/moveit.ros.org/pull/657

[2021-12-14 15:27] RoboticsYY commented on #919
Reproduced the issue on a fresh build today. Backporting `geometric_shapes` fixed it.

[2021-12-14 17:10] #875 closed

[2021-12-15 01:35] slabua commented on #919
@vatanaksoytezer thanks, it passed that part successfully but I am having another problem related to `/usr/bin/ld: /lib/x86_64-linux-gnu/libboost_serialization.so.1.71.0: error adding symbols: DSO missing from command line`, I will open a separate issue

[2021-12-15 01:35] #919 closed

[2021-12-15 01:41] slabua opened #923 "Foxy libboost_serialization.so.1.71.0: error adding symbols: DSO missing"
### Description

Foxy build fails due to libboost_serialization.so.1.71.0: error adding symbols: DSO missing from command line

### Your environment
* ROS Distro: Foxy
* OS Version: Ubuntu 20.04.3
* Source build
* foxy branch

### Steps to reproduce
Following the build instruction from https://moveit.ros.org/install-moveit2/source/

### Expected behaviour
Build should complete as expected.

### Ac

[2021-12-15 09:57] juiceine opened #924 "Collision object not entirely removed from planning scene"
### Description

Hello all,
I am currently running into trouble with removing collision objects from the planning scene. I attempt to make a robot do a pick and place task, where the collision objects are picked from the environment and attached to the robot. Approaching the object is done by servoing with the C++ interface, with collision detection enabled. However, during the servoing, it someti

[2021-12-15 12:56] vatanaksoytezer commented on #923
Docker build seems to reproduce this issues as well here: https://github.com/ros-planning/moveit2/runs/4523535433?check_suite_focus=true

I'll take a look at it now and try to send a fix.

[2021-12-15 13:42] vatanaksoytezer commented on #923
https://github.com/ros-planning/moveit2/pull/925 should fix can you confirm @slabua?

[2021-12-15 13:55] parkbytes commented on #923
Was getting same error as reproduced in docker  and #925 fixed it for me.  Thanks!

[2021-12-15 18:08] vatanaksoytezer commented on #923
Closed via #925. Feel free to re-open this issue or a open a new one if you are having any troubles.

[2021-12-15 18:08] #923 closed

[2021-12-16 02:27] slabua commented on #923
@vatanaksoytezer thanks! Fixed for me too.

[2021-12-16 16:10] tylerjw opened #926 "Controller interface component node (xbox)"

[2021-12-16 16:18] tylerjw opened #927 "Controller interface for servo (vibe)"
The xbox controller interface already exists here: https://github.com/ros-planning/moveit2/blob/main/moveit_ros/moveit_servo/src/teleop_demo/joystick_servo_example.cpp

I would like a similar system controller component node for the htc vipe controller.

I would like an image like this one showing what each button (and joystick) does:
![vive_controller](https://user-images.githubusercontent.com/24

[2021-12-16 16:20] tylerjw opened #928 "Controller interface for servo (Wii)"
The xbox controller interface already exists here: https://github.com/ros-planning/moveit2/blob/main/moveit_ros/moveit_servo/src/teleop_demo/joystick_servo_example.cpp

I would like a similar system controller component node for the wii controller.

I would like an image like this one showing what each button (and joystick) does:
![1560013701741-controller_wii_diagram](https://user-images.githubus

[2021-12-16 16:22] tylerjw opened #929 "Controller interface node for servo (spacenav)"
The xbox controller interface already exists here: https://github.com/ros-planning/moveit2/blob/main/moveit_ros/moveit_servo/src/teleop_demo/joystick_servo_example.cpp

I would like a similar system controller component node for the spacenav mouse controller.

I would like an image like this one showing what each button (and joystick) does:
![mouse1](https://user-images.githubusercontent.com/24903

[2021-12-16 17:12] #803 closed

[2021-12-16 17:26] vatanaksoytezer commented on #870
Closed by #888.

[2021-12-16 17:26] #870 closed

[2021-12-16 17:27] henningkayser commented on #616
Closing this with #922 merged

[2021-12-16 17:27] #616 closed

[2021-12-16 17:28] henningkayser commented on #786
Please [add your planning poker estimate](https://app.zenhub.com/workspaces/MoveIt-61675936b391800012280f6d/issues/ros-planning/moveit2/786?planning-poker) with ZenHub @vatanaksoytezer

[2021-12-16 17:30] vatanaksoytezer commented on #786
These are now removed with #922. If you are still having failures on tutorials or anything else feel free to open a issue.

[2021-12-16 17:30] #786 closed

[2021-12-16 17:37] AndyZe commented on #927
In ROS1 we used the teleop-tools package rather than creating an executable for each controller type. It lets you set up a new controller very easily, with just a config file.

See https://github.com/ros-planning/moveit/blob/master/moveit_ros/moveit_servo/launch/spacenav_teleop_tools.launch

I don't want 8 executables for 8 different controller types -- that would be a lot of maintenance overhead.

[2021-12-16 17:37] AndyZe commented on #928
In ROS1 we used the teleop-tools package rather than creating an executable for each controller type. It lets you set up a new controller very easily, with just a config file.

See https://github.com/ros-planning/moveit/blob/master/moveit_ros/moveit_servo/launch/spacenav_teleop_tools.launch

I don't want 8 executables for 8 different controller types -- that would be a lot of maintenance overhead.

[2021-12-16 17:38] AndyZe commented on #929
In ROS1 we used the teleop-tools package rather than creating an executable for each controller type. It lets you set up a new controller very easily, with just a config file.

See https://github.com/ros-planning/moveit/blob/master/moveit_ros/moveit_servo/launch/spacenav_teleop_tools.launch

I don't want 8 executables for 8 different controller types -- that would be a lot of maintenance overhead.

[2021-12-16 17:42] AndyZe commented on #927
Thinking about it more, I'm quite sure there should be one launch file for the different teleop_tools controller types. An argument to switch between them would be great.

[2021-12-16 18:09] tylerjw commented on #927
I am all for not copy-pasted code we have to maintain.  If there is a more abstract solution that lets us implement a generic controller interface with a config for each I am all for that.  @ParthasarathyBana do you want to look into this?

What I was trying to express with these is it would be really helpful if there was a really straightforward way for users to use many different controllers wit

[2021-12-16 18:12] tylerjw commented on #927
The launch file for this could exist in the moveit2_tutorials package if necessary but it would be really nice if someone could easily switch between controllers with standardized control interfaces that are well defined.

[2021-12-17 16:52] mechwiz commented on #409
one idea is to add a "servo_node/pause_collision_check" service call where if the user calls it, it pauses collision checking. the operator can quickly move out of the collision, and then re-engage with another service call

I can make an MR for that if you think that's worth implementing. Should be relatively straight forward based on servo's current architecture

[2021-12-17 16:56] mechwiz commented on #409
Another idea is to keep track of the previous `self_collision_distance` and `scene_collision_distance` and the current ones and if they are increasing with respect to the previous value -> disengage velocity scaling due to being close to a collision

[2021-12-17 17:02] AndyZe commented on #409
@mechwiz  your Idea #1 sounds good to me. Seems straightforward.

Idea #2 sounds OK but I think there might be some issues in practical situations. Like, what if you servo into a corner and there is a collision wall on both sides of the end effector? If you back away from one wall then you are getting closer to the other one.

[2021-12-17 17:04] mechwiz commented on #409
In that corner scenario though the distance values returned wouldn't be increasing so velocity scaling would still apply. Maybe at first they would increase as you move away from the first wall, but then it would decrease again as you get closer to the second wall

[2021-12-17 17:19] AndyZe commented on #409
That makes sense. I'm just worried about a sudden engage->disengage->engage cycle as the arm moves in the corner.

Well, either way. Idea 1 is low risk, idea 2 may or may not pan out in my opinion.

[2021-12-17 17:21] mechwiz commented on #409
Yeah I hear that - could lead to jerky motion which is probably not desired. Idea 1 sounds like the best option then!

[2021-12-21 13:44] dsauval commented on #185
Hi ! Any updates on running things on Windows :) ?

[2021-12-21 15:09] tylerjw opened #933 "Review MSA Architecture"
https://github.com/ros-planning/moveit2/pull/838

[2021-12-21 15:10] #740 closed

[2021-12-22 19:06] henningkayser commented on #912
Thanks for starting this! Do we even need new releases for the other packages, though?

[2021-12-22 20:54] tylerjw commented on #903
I'm closing this issue as better caching has made this irrelevant (the increased time for the ccov job was just the debug build and not the running of the tests or coverage reporting).

[2021-12-22 20:54] #903 closed

[2021-12-22 22:57] tylerjw commented on #912
I created the changelogs for geometric_shapes and added details for all the others.

[2021-12-23 14:52] v4hn commented on #885
reopening because the "fix" PR actually states itself that this is a temporary workaround and does not work towards the solution...

[2021-12-23 15:00] tylerjw commented on #885
It is a solution of sorts.  There is no more circular dependency.  When we have time I want to migrate the tests to a different robot.  Until we figure out how to have deterministic IK without depending on moveit_core we won't get away from having the test config for pilz in moveit itself.  Even if we switch robots for the tests.

[2021-12-23 15:15] v4hn commented on #885
But that's the symptom, not the underlying issue (no deterministic IK+robot config in MoveIt&resources).
Now the symptom is gone and people have even less drive to fix the real issue...

I don't follow. As Robert explained nicely in [the original issue](https://github.com/ros-planning/moveit/issues/2947) adding the opw plugin would be a nice community contribution and would directly allow to make

[2021-12-23 15:25] tylerjw commented on #885
That would be a really nice contribution.  This "solution" does not prevent someone from doing that.  As I stated in the other issue, I don't care about this more than other things.  The primary reason I don't care about this is I don't think I am the right person to try to tackle this problem, and instead I should focus on improving things that are more in my domain.

[2021-12-23 15:34] henningkayser commented on #885
I agree that we should get this fixed, supporting the opw plugin efforts makes a lot of sense to me. I'm fine with keeping this issue open until it's really fixed. The reason we picked this solution is to unblock all the other work that's going on.

[2021-12-23 15:43] henningkayser commented on #912
@tylerjw I don't think that warehouse needs a new release for the fixed ssl dependency. afaik, that was only a fix required for a certain build setup.

[2021-12-23 15:46] v4hn commented on #885
I'm still wondering why this blocked anything, but maybe I just did not read the correct issues...
The only thing I can find is https://github.com/ros-planning/moveit2/commit/0b908a172d778519766486807684232e3f9bbe62 ,
which is so much less invasive than what you did now...

[2021-12-23 17:10] #902 closed

[2021-12-23 17:12] tylerjw opened #938 "Create Epic for adding testing to onboard new contributors"
As discussed in the maintainer meeting.

1. Find packages with limited or no testing and add infrastructure for testing (but not the tests themselves).
2. Create issues for adding the testing under new Epic for adding testing.

This can be either via DI or integration ROS tests.

[2021-12-28 15:14] #912 closed

[2021-12-28 15:15] #828 closed

[2021-12-29 22:58] tylerjw opened #944 "Why is joint_index_ signed in JointModel?"
### Description

Why is the joint_index_ in JointModel a signed integer?

Here is where you get it: https://github.com/ros-planning/moveit2/blob/52ffbfdbd4ffee3267371ab8d43d14a30082f547/moveit_core/robot_model/include/moveit/robot_model/joint_model.h#L215

Here is one of many examples of it being used to index into an array: https://github.com/ros-planning/moveit2/blob/52ffbfdbd4ffee3267371ab8d43d

[2021-12-30 16:19] henningkayser opened #947 "Segfault in Servo "ExternalCollision" test"
### Description

Failing CI because of Segfault in Servo test.

See https://github.com/ros-planning/moveit2/runs/4665772418?check_suite_focus=true#step:9:12904
[code]

[2021-12-31 19:32] AndyZe commented on #947
I see in the log, this has something to do with shape_msgs.

`shape_msgs::msg::rosidl_typesupport_introspection_cpp::resize_function__SolidPrimitive__polygon(void*, unsigned long)`

Wonder if it's related to this commit:  https://github.com/ros2/common_interfaces/commit/90a4602f0a7c1792de65e1416fd2d5f8822bb562

[2021-12-31 20:44] AndyZe commented on #947
Indeed, it looks like v4.0.0 of `common_interfaces` does not work on Rolling. Checking out an earlier commit fixes it. Not sure what can be done about this.

https://github.com/ros-planning/moveit2/pull/950

[2022-01-01 23:35] tylerjw opened #951 "[foxy] moveit_core is failing to build on buildfarm"
https://build.ros2.org/job/Fbin_uF64__moveit_core__ubuntu_focal_amd64__binary/73/console

[code]

[2022-01-02 01:31] tylerjw commented on #947
I think this is a side-afect of the same thing that caused this: https://github.com/ros-planning/moveit2/issues/783

Updating the repos file (the other PR I merged) caused us to re-build our upstream workspace cache which re-linked with the new libraries in ros2 and made this issue go away.  I think this issue can be closed as we have a plan for what to do about this.  @JafarAbdi is going to add a

[2022-01-02 18:36] #574 closed

[2022-01-03 17:46] lilustga commented on #185
Hi @dsauval, this is unfortunately stuck behind the new ms-iot foxy release. It has been delayed for issues unrelated to moveit. With the holidays over things should be moving quicker again.

[2022-01-03 21:02] #783 closed

[2022-01-03 21:03] tylerjw commented on #947
Closing as this seems to be fixed by #952

[2022-01-03 21:03] #947 closed

[2022-01-04 15:41] tlpss opened #959 "Setting EEF target poses in Python with Moveit2 in the absence of moveit_commander"
I would like to set target poses in python and have them handled by Moveit2. As there are no python bindings available atm, my idea was to create a "bridge" by having a python node that publishes the target pose to a topic and subscribing to that topic with a node in C++. This C++ node would then forward the call to the MoveGroup Interface (or MoveitCpp interface if that would be more convenient).

[2022-01-04 16:56] peterdavidfagan commented on #156
Hi @JafarAbdi,

I am facing the same error when building MoveIt 2 from source. I am receiving the message that "All required rosdeps installed successfully" when I look to install package dependencies in my ws_moveit2 workspace. However when I try to build MoveIt 2 I receive an error in cmake finding eigen_stl_containers. Below is a screenshot example:

![Screenshot from 2022-01-04 16-45-39](https

[2022-01-04 22:36] Ghotic190 opened #963 "Failed <<< moveit_visual_tools [1min 43s, exited with code 2]"
Hello i`m trying to install moveit2 on raspi but can`t go throw this i`m following this guide [--->](https://moveit.picknik.ai/foxy/doc/getting_started/getting_started.html#install-ros-2-and-colcon)

when i try :

[code]
i got this error

[code]

[2022-01-05 00:23] Abishalini commented on #963
The errors seem to be coming from ROS2 message generation code. If you installed ROS2 via debian packages, try updating your ROS2 packages by `apt-get update && apt-get upgrade`

[2022-01-05 09:13] Ghotic190 commented on #963
Still same output

`root@ros:~# cd ~/ws_moveit2
root@ros:~/ws_moveit2# colcon build --mixin release
[7.573s] WARNING:colcon.colcon_core.verb:Some selected packages are already built in one or more underlay workspaces:
	'moveit_resources_fanuc_description' is in: /root/ws_moveit2/install/moveit_resources_fanuc_description
	'moveit_resources_panda_description' is in: /root/ws_moveit2/install/moveit_

[2022-01-05 10:04] sjahr opened #964 "[hybrid planning] Add recoverable error state for local planner component"
Currently, it is not possible within the local planner component to abort an iteration due to a failure. An example where this is disadvantageous is given in [#948](https://github.com/ros-planning/moveit2/pull/948#discussion_r778191993): If sampling of a local trajectory somehow fails it is not possible to stop the iteration and either a false/ fallback local trajectory is processed or the whole l

[2022-01-05 13:18] peterdavidfagan commented on #156
Hi @JafarAbdi,

I believe the above error people are encountering is due to the management of dependencies and how ROS 2 is being built. For instance if I build ROS 2 rolling from source then I would expect to source `~/ros2_rolling/install/local_setup.bash`  , however, if I subsequently use rosdep to install the dependencies required for building MoveIt 2 the dependent packages will be included a

[2022-01-06 15:47] #841 closed

[2022-01-06 18:34] Splinter1984 opened #966 "MoveGroupInterface /robot_description not found"
**Environment**

- ROS Distro: Foxy
- OS Version: e.g. Ubuntu 20.04
- Debian packages install

**Description**

how to pass robot_description if i run MoveGroupInterface as part of Plansys2 BTAction?

I am trying to use MoveGroupInterface as part of plansys2 and I am getting error

[code]

i am just trying to initialize MoveGroupInterface in main tick start method
[code]

and run the node together

[2022-01-06 19:48] henningkayser opened #968 "Hybrid Planning test silently fails, broken controller setup"
### Description

The hybrid planning test produces an `RCLError` exception which kills the hybrid planning node.
The test itself doesn't fail but it claims to have 0 test results.
The reason is probably that the controller spawner fails ungratefully since the `panda_joint_group_position_controller` type is not available.

The exception was found by @vatanaksoytezer [here](https://github.com/ros-pl

[2022-01-07 07:17] JafarAbdi commented on #966
You need to load the robot description parameter to the node [see](https://github.com/ros-planning/moveit2_tutorials/blob/main/doc/move_group_interface/launch/move_group_interface_tutorial.launch.py#L54)

[2022-01-07 07:17] #966 closed

[2022-01-08 15:59] Splinter1984 commented on #966
thanks for your answer, but the fact is that I'm trying to run MoveGroupInterface inside BTAction and, accordingly, I have no idea how easy it is to pass parameters about 'robot_description' from launch file to MoveGroupInterface inside BTAction node.

[2022-01-09 16:15] kevinshao7 opened #979 "Error when trying to build Moveit2 from source"
### Description
I'm encountering an error when trying to build Moveit2 from source. I'm new to ROS2 and I'd much rather install the binary debian packages (Yes, I remembered to source ROS2). However, it seems the Moveit2 tutorials require Moveit2 to be built from source. If anyone knows a easier way of installing Moveit2 tutorials please let me know.

### Your environment
* ROS Distro: Foxy
* OS V

[2022-01-09 21:08] tylerjw commented on #979
You are missing moveit_visual_tools in your workspace.  The tutorials don't have you building moveit2 itself from source.  It does have you building the tutorials and a couple of packages that are not yet released.  Here is the tutorial link I was following in that video: https://moveit.picknik.ai/foxy/doc/getting_started/getting_started.html

[2022-01-09 21:47] kevinshao7 commented on #979
No, I followed all the steps, I just posted where things started to go wrong for me. A friend pointed out to me that I was working in the Ubuntu remote server GUI environment. I tried working with the Ubuntu terminal directly and it worked. I'm thinking it was a problem with the RAM available on my particular machine. In any case, thank you for the quick response.

[2022-01-09 21:47] #979 closed

[2022-01-11 23:13] #744 closed

[2022-01-11 23:14] #716 closed

[2022-01-11 23:14] #764 closed

[2022-01-12 11:52] flip360pranjit commented on #871
I will work on this.

[2022-01-13 17:22] prsndp commented on #871
@tylerjw  Could I work on this issue? if it is possible please assign me.

[2022-01-13 17:54] tylerjw commented on #871
Maybe the two of you can work together or you can pick another one?

[2022-01-13 18:58] abisiva-pn commented on #879
I would like to reserved this issue for the Women in Robotics event Picknik is going to host soon.

[2022-01-14 10:19] BenjaminHug8 opened #990 "Dependency on moveit is failing with rolling in our CI"
### Description

Hello, we have a simulation example using `moveit` [here](https://github.com/cyberbotics/webots_ros2/tree/master/webots_ros2_universal_robot) but since we added a dependency on `moveit` in the [package.xml](https://github.com/cyberbotics/webots_ros2/blob/master/webots_ros2_universal_robot/package.xml#L25) some tests on our CI are failing as it cannot succeed to execute the command

[2022-01-17 13:36] BenjaminHug8 commented on #990
I listed the packages in [our CI](https://github.com/cyberbotics/webots_ros2/runs/4839126365?check_suite_focus=true#step:3:5263) and it seems to find `ros-foxy-moveit` but not `ros-galactic-moveit` and `ros-rolling-moveit`

[2022-01-17 14:26] tlpss commented on #959
revisited this a few weeks later and found a solution based on #775.

[2022-01-17 15:50] JafarAbdi commented on #853
Fixed by https://github.com/ros-planning/moveit2/pull/994

[2022-01-17 15:50] #853 closed

[2022-01-17 15:50] JafarAbdi commented on #853
Fixed by https://github.com/ros-planning/moveit2/pull/994

[2022-01-17 15:59] BenjaminHug8 commented on #990
I find out that the CI in the case of `galactic-testing` will search in this [source](http://packages.ros.org/ros2-testing/ubuntu/lists/ros-galactic-focal-amd64_focal_main_amd64_Packages) where there is no `ros-galactic-moveit` package.

Is something broken or should we target another source for our CI?

[2022-01-17 16:15] vatanaksoytezer commented on #990
Hello @BenjaminHug8 thanks for reporting. Seems moveit buildfarm builds are failing: https://build.ros2.org/job/Rbin_uF64__moveit__ubuntu_focal_amd64__binary/ because of a boost linking error in pilz: https://build.ros2.org/job/Gbin_uF64__pilz_industrial_motion_planner__ubuntu_focal_amd64__binary/15/console. We will work on a fix and try to send a patch release soon. Sorry for any inconvenience it

[2022-01-17 16:51] vatanaksoytezer commented on #951
Closed by #977. Foxy builds are now passing.

[2022-01-17 16:51] #951 closed

[2022-01-17 16:55] vatanaksoytezer commented on #963
`moveit_visual_tools` seem to work fine for CI and local. There might be some problem with your environment setup as @Abishalini suggested. In any case I am closing this issue, because this is not related with moveit2. Please open an issue in [moveit_visual_tools](https://github.com/ros-planning/moveit_visual_tools) repository if you are still having troubles.

[2022-01-17 16:55] #963 closed

[2022-01-17 16:56] #887 closed

[2022-01-17 16:57] vatanaksoytezer commented on #748
Closed by #953.

[2022-01-17 16:57] #748 closed

[2022-01-17 16:59] vatanaksoytezer commented on #833
As far as I know the tests are enabled now, can we close this @henningkayser ?

[2022-01-17 17:02] vatanaksoytezer commented on #319
This issue seem to gone stale for over a year, thus I am closing, please re-open if you still have the question.

[2022-01-17 17:02] #319 closed

[2022-01-17 19:02] Ghotic190 commented on #963
I solve this issue by reinsaling ros and moveit

[2022-01-18 19:55] #959 closed

[2022-01-19 16:45] AndyZe opened #1013 "HybridPlanningManager should not inherit from Node"
See `moveit_ros/hybrid_planning/.../hybrid_planning_manager.h`

Discussion here.  https://github.com/ros-planning/moveit2/pull/980#discussion_r787230230

This likely causes some initialization issues.

[2022-01-21 18:57] vatanaksoytezer commented on #990
Releases has been cut. We just need them to get approved and synced: https://github.com/ros/rosdistro/pull/31876 https://github.com/ros/rosdistro/pull/31875

[2022-01-21 19:03] tylerjw opened #1022 "Message passing for communication between threads"
I don't know what the right answer is but the more I learn about writing software to scale across threads the more I'm learning that we need to minimize synchronization around shared memory.  One way to do that is to use message passing to send information from one thread to another.

One option is the spsc queue from boost.  The problem with using this is that much of what we write is being run b

[2022-01-24 07:18] BenjaminHug8 commented on #990
Perfect thank you!

[2022-01-24 07:18] #990 closed

[2022-01-24 16:29] v0nser commented on #840
Hey! I would love to contribute to this project.

[2022-01-24 16:42] tylerjw commented on #840
You are welcome to.  Please just take one of the open issues and submit a PR for it.

[2022-01-27 14:59] juiceine opened #1036 "Joint jump when Servo is activated"
Hello everyone,

I am facing issues, that seem to be related to a call to getCurrentJointValues(). I am planning a path to a certain point near a collision object, and then doing servo for the last part towards the collision object, after which is has to be attached to the robot. Between executing the path and starting the servo, I try to rotate the end-effector to 0, like so:
[code]
After this, I

[2022-01-27 15:27] henningkayser opened #1038 "Remove outdated and unused code"
This epic is meant to coordinate efforts that make MoveIt leaner which helps us with keeping up with maintenance and and with making bigger changes in the future. It is also a first step for disentangling the code base.
Here is a list of things that can either be removed or better be replaced with other libraries.

**moveit_core**
- ~~background_processing: only used for visualization, also there

[2022-01-27 16:57] Faltu-Programmer commented on #855
hello,
i'm new to this Open Source world.
although i did complete my first contribution by writing my name on **firstcontributions/first-contributions**,

now i'm searching issues for contribute, and found this **Initialize Member Variables #855**
now i wondering, how can i contribute to solve this issue,
like what will be the steps?,
what should i change,  how should i change

beiing honest I rea

[2022-01-27 17:03] tylerjw commented on #855
The task is to basically follow the advice at the link in the issue and try to apply it to this repo in a PR.

[2022-01-27 17:17] Faltu-Programmer commented on #855
ok
thank you,
but i'm still confuse, on whice file or files i should make changes,
did i have to make change all the files on this repo by following advice at the link ?

[2022-01-27 19:35] lilustga opened #1040 "Build failure on Foxy/Windows in moveit_chomp_optimizer_adapter"
### Description
Unresolved symbol error for collision_detection::CollisionDetectorAllocatorHybrid::NAME. I would have expected #936 to fix this but I'm still hitting the error with these changes. I have a theory that it's specific to my system due to other binaries and am investigating.

### Your environment
* ROS Distro: Foxy
* OS Version: Windows 11
* Source build
* If source, which branch: Foxy

[2022-01-27 20:18] rrufat opened #1041 "MoveItCpp vs MoveGroupInterface planning time differences"
I have a problem regarding planning time differences between MoveGroupInterface and MoveItCpp. Since moveit_cpp is more oriented toward performance demanding cases I expected it to be faster than move_group. But I did some benchmarking (didn't use official package for it) for all available planners (ompl) and most of the time using movegroupinterface seems more reasonable as it is faster than move

[2022-01-27 20:34] AndyZe opened #1042 "What's the difference between `/planning_scene`, `/planning_scene_world`, `/monitored_planning_scene`?"
I think it's confusing to have all of these topics, and it's not clear what the difference is. Consider removing one or two of them.

[2022-01-27 21:37] AndyZe commented on #1042
I poked around a bit and it seems `/monitored_planning_scene` is subscribed to by rviz2. Maybe a renaming is appropriate:

`/moveit_rviz_planning_scene`

[2022-01-28 04:55] v0nser commented on #897
Hey! I would like to do this one.

[2022-01-28 12:52] Briancbn opened #1043 "[Foxy] launch-param-builder not released to yet"
### Description

Overview of your issue here.

`rosdep` failed
[code]
The package hasn't been sync from http://packages.ros.org/ros2-testing/ubuntu/pool/main/r/ to http://packages.ros.org/ros2/ubuntu/pool/main/r/. No big deal for now. Just would like to know when will be the next sync.

### Your environment
* ROS Distro: Foxy
* OS Version: Ubuntu 20.04
* Source build - foxy branch latest

### Step

[2022-01-28 13:12] vatanaksoytezer commented on #1043
Thanks for the issue @Briancbn. Release has been cut to rosdistro and merged: https://github.com/ros/rosdistro/pull/31883. We are just waiting for the next sync which I expect to be within a few weeks. Having said that, we don't use `launch-param-builder` in foxy branch of moveit2. Are you sure you are in the `foxy` branch of moveit2?

[2022-01-28 13:40] Briancbn commented on #1043
Sorry, it was my bad. I used the master version for rosdep, but the foxy branch for the build. It was a bug on my side. Thanks for the help.

[2022-01-28 13:40] #1043 closed

[2022-01-28 13:55] sabinevanderwerff commented on #1036
Unfortunately, I have discovered that those jumps also happen without calling getCurrentJointValues(), although less frequent. I have not seen "Didn't received robot state (joint angles) with recent timestamp within 1 seconds." error without getCurrentJointValues(). I cannot yet pinpoint what then is the cause of this behavior, but I will close this issue for now, because getCurrentJointValues() i

[2022-01-28 14:22] gavanderhoorn commented on #1036
Looks like an IK issue?

[2022-01-28 14:23] AndyZe commented on #1036
I don't think you should close the issue, maybe just rename it.

It sounds like the problem is, Servo is not staying up-to-date with the joint state of the robot before you activate it. Is that what you think, as well?

How are you using Servo? Especially, how are you activating it? Are you using a service call or the C++ API?

[2022-01-28 14:26] AndyZe commented on #1036
If you use the `setPaused(false);` function to activate Servo, here's the section of code where it spins in the background and listens to joint values. Adding a print statement should help you verify if it's listening to the robot state in the background.

https://github.com/ros-planning/moveit2/blob/5c405662f627f6d0a51de7c37edfc7c2a89a6bbd/moveit_ros/moveit_servo/src/servo_calcs.cpp#L364

[2022-01-28 15:36] sabinevanderwerff commented on #1036
Thank you both for your responses! I think this indeed describes what is happening. I am using a service call to activate servo, then I have a try and catch block for looking up certain transforms, and in a while loop I check whether the target was reached and if not, look up the transform again and publish a TwistStamped message. I do not think those transforms are the issue, this was already som

[2022-01-28 15:39] AndyZe commented on #1036
OK. It looks like the service call uses `setPaused(false);` internally so I'd still make the same suggestion about adding a print statement.

https://github.com/ros-planning/moveit2/blob/5c405662f627f6d0a51de7c37edfc7c2a89a6bbd/moveit_ros/moveit_servo/src/servo_node.cpp#L124

[2022-01-28 23:02] AndyZe commented on #1036
Another question--  does the robot jump back to a spot where it was previously? Or does it jump to a whole new position?

If it jumps back to a previous position, then my earlier line of thinking is probably correct.

If it jumps to a new, random-seeming position, then I have no idea.

[2022-01-29 09:28] sabinevanderwerff commented on #1036
On your last question, it seems to be a random position, the position that it jumps to in the video is for sure a position it has never been in previously. I will try to see if there is some pattern in it though, I am not really sure myself either. I currently do not have my code available so I will try that first thing monday.

I also do want to verify whether Servo is listening to the robot stat

[2022-01-29 15:49] AndyZe commented on #1036
Is something else publishing /joint_states? Maybe a Gazebo simulation or something

[2022-01-29 17:25] tylerjw opened #1045 "Hybrid planning integration test failure"
### Description

Here is a log from the failure of the hybrid planner integration test:

[code]

For the full log go here: https://github.com/ros-planning/moveit2/runs/4972252023?check_suite_focus=true

Here is a PR to temporarily disable this test until it is fixed: https://github.com/ros-planning/moveit2/pull/1044

[2022-01-29 23:22] tylerjw opened #1046 "disable docker caching"
### Description

Docker caching breaks CI when there are repos file changes.  Maybe we should just always build docker images without a cache?

[2022-01-30 00:21] Neathle opened #1049 "Cannot load panda model or any model to rviz2"
### Description

Overview of your issue here.

### Your environment
* ROS Distro: Galactic
* OS Version: e.g. Ubuntu 20.04
* From "Getting Started"
* If binary, which release version?
* Happens on both Main and Galactic

### Steps to reproduce
Follow the tutorial "Getting Started" in the galactic version of the documentation and then the "Moveit Quickstart in Rviz" tutorial, when clicking the "ok"

[2022-01-30 02:55] AndyZe commented on #1049
Would you mind navigating to the moveit_resources folder and checking if you have this change:  https://github.com/ros-planning/moveit_resources/commit/f0a5d4ba2f7e7b4f8364ad75a5bea09b6150049e

Does it work if you have those changes?

[2022-01-30 11:15] Neathle commented on #1049
Those changes are present and it still fails

[2022-01-30 11:49] Neathle commented on #1049
I also checked /parameter_events and the timeout is published with the correct type:
[code]

[2022-01-31 14:05] sabinevanderwerff commented on #1036
I can see from rqt_graph that only /joint_state_broadcaster publishes on /joint_states, subscribers are /robot_state_publisher, /servo_server_private and /move_group_private. /servo_server itself is not subscribed to /joint_states, but I doubt if that could explain things? I included a part of the rqt_graph of a cycle where this occurred.

I am not really sure whether this was clear before, but th

[2022-01-31 18:48] AndyZe commented on #1036
I'm sorry I'm not much more help. We have a project that does the same thing you're doing, and it doesn't have this issue.

[2022-02-01 07:15] sabinevanderwerff commented on #1036
Your help is appreciated! If I find out what causes this, I will definitely put it here.

[2022-02-01 15:52] tylerjw opened #1055 "Fix caching issue in CI"
### Description

CI on main is failing due to some issue with docker and upstream caching.

[2022-02-01 15:52] #1046 closed

[2022-02-01 15:57] tylerjw opened #1056 "remove sensor_manager from moveit_core"
sensor_manager: remove, only used in plan_with_sensing which should be removed as well.

[2022-02-01 15:58] #944 closed

[2022-02-01 16:01] tylerjw commented on #1042
Potentially similar to https://github.com/ros-planning/moveit2/issues/924

[2022-02-01 18:48] kiwipeace01 commented on #854
Hi, I'd like to work on this issue if that's alright

[2022-02-01 19:35] tylerjw commented on #854
hello @kiwipeace01 this issue is already taken by cory

[2022-02-01 19:41] kiwipeace01 commented on #854
oh okay sorry about that! I'm new to open-source so I was a little confused 😅

[2022-02-02 20:39] vatanaksoytezer opened #1058 "Resolve hybrid planning test failure and re-enable the test"
As discussed in #1051, a flaky behavior in instantiation of ros2_control in the recently added hybrid planning test is causing CI failures. I am going to disable the test to unblock all the other PRs, and try to focus enabling this back ASAP.

[2022-02-03 22:23] ravnicas opened #1059 "CHOMP optimizer fails with vector::_M_range_insert"
### Description

CHOMP optimizing adapter fails when collision objects are added from Moveit GUI / Scene Objects.

### Your environment
* ROS Distro: Galactic
* OS Version: e.g. Ubuntu 20.04
* Source or Binary build? Source
* If source, which branch? galactic, 2.3.3

### Steps to reproduce
Clone my repo, build it, start the only launch file, e.g. run_move_group_chomp.
Add any scene objects from GU

[2022-02-04 14:37] vatanaksoytezer commented on #1045
Closing in favor of #1058.

[2022-02-04 14:37] #1045 closed

[2022-02-05 11:15] AKACHI1 commented on #879
Hello, I am new here and want to contribute in your project I would like to ask what i should learn to contribute here and please also tell me some resources ....

[2022-02-05 11:17] AKACHI1 commented on #897
Hello, I am new here and want to contribute in your project I would like to ask what i should learn to contribute here and please also tell me some resources ....

[2022-02-07 16:28] henningkayser commented on #738
I decided that it would make most sense to publish the content as a concepts page. See https://github.com/ros-planning/moveit2_tutorials/pull/328

[2022-02-07 18:24] #536 closed

[2022-02-07 20:55] cottsay opened #1066 "Build regression on ROS 2 Galactic"
### Description

The `moveit` package regressed in ROS 2 Galactic about a month ago and still hasn't been resolved. I'm trying to get a sync of Galactic out the door, and this is currently the only regression.

I did some testing and #1027 fixes the issue. The sync is scheduled for Wednesday, so we have until then to either release this package or cherry-pick the fix into `moveit-release` to issue

[2022-02-07 21:05] tylerjw commented on #1066
@cottsay thank you for the ping.  I'll bloom right now.

[2022-02-07 21:29] tylerjw commented on #1066
https://github.com/ros-planning/moveit2/pull/1067

[2022-02-07 23:05] tylerjw commented on #1066
https://github.com/ros/rosdistro/pull/32078

[2022-02-07 23:16] cottsay commented on #1066
Thanks for the quick action, here. I've merged the rosdistro release - we'll see how the builds shape up.

[2022-02-07 23:57] tylerjw commented on #1066
Thank you.  The reason I hadn't cut it sooner was that I couldn't figure out how to run a pre-release test that would replicate the issue that broke the buildfarm so I didn't want to release again without figuring that out.

I'd still like a better pre-release test than what we have now.  For now we are using the one built into industrial_ci but I couldn't get it to reproduce the error found by th

[2022-02-08 15:42] tylerjw commented on #1041
Thank you for this issue.  This looks like you put a lot of work into this.  Would you mind putting the code you ran to produce these results into a repo so I could try to reproduce it and troubleshoot it?

[2022-02-08 15:44] tylerjw commented on #1041
If you can't easily share a repo for us to reproduce this could you share your configs for moveitcpp and what you are sending to the motion planning request for move_group.  Our suspicion is that collision checking is configured differently.

[2022-02-08 16:02] AndyZe opened #1068 "Published Attached Collision Object does not appear"
### Description

Drop the attached Python file into `install/moveit2_tutorials/lib/moveit2_tutorials/`. Make it executable with `chmod +x simple_collision_object_pub.py`. It simply publishes an Attached Collision Object.

Launch the Move Group tutorial then publish the collision object like this:

[code]

The object does not appear in the RViz planning scene.

### Your environment
Source build, RO

[2022-02-08 16:03] AndyZe commented on #1068
This is kind of a lame issue, but I would like to use this script to demonstrate other issues, and I can't even get this script working.

[2022-02-08 16:12] #1068 closed

[2022-02-08 16:19] AndyZe opened #1069 "Attached Collision Object is not removed from the scene"
### Description

The attached Python script simply publishes an attached collision object on the `/attached_collision_object` topic. Then it removes the same object.

Drop the attached Python file into install/moveit2_tutorials/lib/moveit2_tutorials/. Make it executable with `chmod +x simple_collision_object_pub.py`.

#### Steps to reproduce

Run the Move Group tutorial (https://moveit.picknik.ai/

[2022-02-08 16:23] AndyZe commented on #1069
This video shows the issue. Planning fails even after the ACO has been removed.

https://user-images.githubusercontent.com/11284393/153030252-3f4933ac-0c2b-4346-a0d0-849fe4ac6e13.mp4

[2022-02-08 17:06] AndyZe commented on #1069
Looking at the code, I think I have a conceptual misunderstanding here -- specifying to REMOVE an ACO only detaches it. The object still exists in the world.

[2022-02-08 17:30] AndyZe commented on #1069
Here's a Python script to remove then detach the ACO.
[detach_then_remove.py.txt](https://github.com/ros-planning/moveit2/files/8026129/detach_then_remove.py.txt)

[2022-02-08 17:47] AndyZe opened #1070 "When an Attached Collision Object is removed, it should actually be removed"
From issue #1069 , I learned that specifying moveit_msgs::AttachedCollisionObject::REMOVE of an Attached Collision Object does not actually remove it. It just converts it to a non-attached collision object.

I think specifying REMOVE should actually make the object disappear.

Maybe an additional DETACH message field would be a good idea, if detachment is the goal.

[2022-02-08 22:18] Abishalini commented on #897
A good starting place is our [tutorials website](https://moveit.picknik.ai/galactic/index.html).
The tutorials are continuously being improved  and if you run into any issues, feel free to open an issue in the [tutorials repository](https://github.com/ros-planning/moveit2_tutorials).

One of my colleague also posted a [few YouTube videos](https://picknik.ai/series/Getting-Started-With-Moveit2) tha

[2022-02-09 18:33] AndyZe commented on #1042
This doc answers the question:  https://moveit.picknik.ai/galactic/doc/concepts/planning_scene_monitor.html

[2022-02-09 18:33] #1042 closed

[2022-02-10 15:31] AndyZe commented on #433
This has all been done now!  :+1:

[2022-02-10 15:31] #433 closed

[2022-02-10 16:05] ruelj2 opened #1072 "Mixed up implementations createStaticTfSubscription <-> createDynamicTfSubscription"
Function implementation is mixed up between [line 97](https://github.com/ros-planning/moveit2/blob/77e43f339cb6ee06679a424e21c72301797920d4/moveit_ros/planning/planning_scene_monitor/src/current_state_monitor_middleware_handle.cpp#L97) and [line 91](https://github.com/ros-planning/moveit2/blob/77e43f339cb6ee06679a424e21c72301797920d4/moveit_ros/planning/planning_scene_monitor/src/current_state_mon

[2022-02-10 16:09] vatanaksoytezer commented on #1072
Hey @ruelj2 thanks for reporting. That looks wrong, yeah. Do you mind opening up a PR, so we can just merge?

[2022-02-14 14:33] AndyZe opened #1075 "OMPL "request adapters" parameter isn't read properly"
### Description

Modifying the "request adapter" in a MoveGroup launch file does not have any effect.

### Your environment
* ROS Distro: ROS2 Rolling
* Source build, main branch

### Steps to reproduce
Edit this line in panda_moveit_config/demo.launch.py:

`"request_adapters": """default_planner_request_adapters/AddTimeOptimalParameterization default_planner_request_adapters/ResolveConstraintFram

[2022-02-14 14:37] AndyZe commented on #1075
This isn't caused by any recent commit. I went back to version 2.4.0 and it has the same issue.

In October 31 2021 it was working properly. (I know so because of [this PR](https://github.com/ros-planning/moveit2/pull/712)).

[2022-02-14 14:56] henningkayser commented on #1075
I'm not sure `move_group` is the right namespace [here](https://github.com/ros-planning/moveit_resources/blob/ros2/panda_moveit_config/launch/demo.launch.py#L69). I would imagine that the planning pipeline is simply initialized to ompl by default and the provided parameter does nothing. Please try using the mapped pipeline names to make sure that the parameters are loaded correctly, or better use

[2022-02-14 15:23] zflat commented on #409
I have a comment that does not fix the issue but may help mitigate. I see that the test collision check rate in both https://github.com/ros-planning/moveit2/blob/main/moveit_ros/moveit_servo/test/config/servo_settings.yaml and https://github.com/ros-planning/moveit2/blob/main/moveit_ros/moveit_servo/test/config/servo_settings_low_latency.yaml are set to  5.0 Hz with the comment "Collision-checking

[2022-02-14 17:20] Shanki5 commented on #881
@tylerjw I would like to take up this issue if nobody is working on this. Can you also elaborate a bit on the issue?

[2022-02-14 20:01] tylerjw commented on #881
Please just follow the advice that is in that link and open a pull request with the changes.

[2022-02-15 12:14] DolceParadise commented on #897
Hi! I'd like to work on this issue if it isn't already allotted to someone else

[2022-02-15 15:17] #738 closed, assigned to henningkayser

[2022-02-15 21:53] ravnicas commented on #1059
Issue doesn't appear to happen on 2.4.0 anymore

[2022-02-15 21:54] ravnicas commented on #1059
Issues doesnt appear to happen on 2.4.0 anymore

[2022-02-15 21:54] #1059 closed

[2022-02-18 18:49] henningkayser opened #1080 "Switch to Rolling+Jammy on main branch"
Because of the transition to Jammy, CI is temporarily broken so we had to switch to Galactic on `main` to keep things running (#1077). Once ROS 2 Rolling is fully functional on Jammy we should switch as well.

[2022-02-18 19:52] tylerjw opened #1081 "Type-safe Interfaces"
### Need

As a user of MoveIt
When I use the internal interfaces in moveit_core
They should be easy to use correctly

### Acceptance

A reference PR that demonstrates this pattern landed into moveit_core.

### Notes

Other programming languages like Rust and Haskell have the concepts of Maybe and Either type.  These types are the type-safe version of returning a pointer that can either be valid or

[2022-02-18 19:59] tylerjw opened #1082 "Refactoring and Testing Calculations"
### Need

As a user of MoveIt
I want routines for calculations to be separated from side-affect-causing code so it can be re-used and tested easily.

### Acceptance

4 PRs landed that:
* refactor out a calculation from a section of code that has side effects to a pure function
* add a test of that pure function

### Notes

I'm defining a `Calculation` as a block of code that always produces the sa

[2022-02-18 20:16] tylerjw opened #1083 "Interfaces Use Strong Types for Prameters"
### Need

As a developer using MoveIt;
I want MoveIt to have expressive interfaces that can only be used correctly.

### Acceptance

A PR is merged into moveit_core that introduces the concept of strong types for interfaces.

### Notes

https://www.fluentcpp.com/2016/12/08/strong-types-for-strong-interfaces/

[2022-02-19 13:10] gavanderhoorn commented on #1083
Somewhat off-topic, but: the linked page demonstrates a nice idea, but I'm wondering whether he isn't confusing type with role.

A *width* is not a type in my opinion. It's a regular `double` which is used in a certain context to represent a certain quantity with certain semantics. It's still a number, but it plays a different *role* as a `double` used to represent a height. Is that second `double

[2022-02-19 14:47] tylerjw commented on #1083
Concepts are amazing, but it will probably be years before we can use them as we'll need ROS to switch to C++20 before we can.

I'll try to find an example of where I think this could be useful in MoveIt to help explain this idea.  On a client project I was just on I used it for file descriptors and it made an interface much clearer than if it was just an int.

[2022-02-19 15:02] gavanderhoorn commented on #1083
Perhaps the example in the linked article is just wrong.

A file descriptor is not an `int`. It's a wholly different concept, which just happens to be represented by an `int`. But the `int` is really an index into a table/list of entities managed by the OS.

A *width* is not something which is conceptually similar.

A width stays a number, is reasoned about as a number, can be used in mathematical

[2022-02-19 15:17] tylerjw commented on #1083
I agree that width and height are maybe bad examples.  For whatever reason if you Google strong types it seems to be the go-to example everyone uses.  To reduce a ton of boilerplate you would need for strong types there is this library by the author of that blog: https://github.com/joboccara/NamedType

In the case of my file descriptor it made sense to me because it is a very different thing from

[2022-02-19 15:22] tylerjw commented on #1083
An example that might make sense (I'd need to try to make the change somewhere to understand if it would) would be velocity and position as strong types.  There are cases where the two intact in math operations but it is not the full set of operations that can be done on two doubles. When they do interact they have a specific type that results.

For example it makes no sense to add a position to a

[2022-02-19 15:36] gavanderhoorn commented on #1083
Right, so that's what I was referring to with:

Things like [boost.units](https://www.boost.org/doc/libs/1_78_0/doc/html/boost_units.html) and [nholthaus/units](https://github.com/nholthaus/units) support what you describe.

[2022-02-19 15:47] tylerjw commented on #1083
I think I finally understand what you mean by roles.  I think we see value in the idea in the same place.  I'll go check out the tools you linked.

[2022-02-19 16:04] tylerjw commented on #1083
That units library looks awesome.  I'm going to vendor it and just start using it if it isn't in rosdep already.  That is basically was I was hoping for and and so much more.

[2022-02-21 15:12] brianng0305 opened #1084 "Cannot install moveit tutorial"
System: Ubuntu20.04
ROS2: FOXY -  Debian
MOVEIT2: Binary

[code]

[2022-02-21 15:36] SammyRamone opened #1085 "Load kinematics config from topic"
**Is your feature request related to a problem? Please describe.**
When MoveIt is used from a different node, e.g. to solve IK, this node requires to have the kinematics.yaml parameters (robot_description_kinematics) itself. Otherwise one will get the following error
[code]
The robot urdf and srdf are already optionally loaded from a topic, if no parameter is available at the node (https://github.

[2022-02-21 16:04] galou commented on #1049
This is an issue with locales, adding `LC_NUMERIC=en_US.UTF-8` in front of your command should help (e.g. `LC_NUMERIC=en_US.UTF-8 ros2 launch moveit_task_constructor_demo demo.launch.py`). Cf. https://github.com/ros-visualization/rviz/issues/1151#issuecomment-345687074 for reference.

[2022-02-21 16:07] tylerjw commented on #1082
@mamoll suggested extracting Signed Distance Fields from CHOMP.  Please edit this comment to clarify.

[2022-02-21 21:20] #1072 closed

[2022-02-21 21:21] ruelj2 commented on #1072
Closed since #1073 has been merged to main.

[2022-02-21 22:13] Neathle commented on #1049
I will try it but it makes sense since I have a dual boot system and ubuntu is set on rtc time.

[2022-02-22 07:49] v4hn commented on #1085
I agree this is an issue. Just because you can work around it, it doesn't mean your use case was considered or is meant to be standard. I believe @DLu worked on the synchronized string parameters to allow for online changes of the URDF, but obviously the code did not consider the other parameters yet that are also needed to have a full and accurate RobotModel instance.
You mention the `kinematics.

[2022-02-22 08:32] SammyRamone commented on #1085
Just some thoughts from my perspective:
(4) would be nicer for the user as everything is together in one file. Currently a lot of yamls need to be loaded correctly and it is easy to do a mistake there that is hard to debug (had this during switch to ROS2). But it would probably be more difficult to change parameters (e.g. IK timeout) during runtime, since they are not parameters anymore. Still, ap

[2022-02-22 08:48] v4hn commented on #1085
That's why I would propose to use the urdf topic as a trigger signal to request all other parameters from the receiver side as well.
We would probably even want a unique urdf identifier for requesting the parameters to make sure the URDF did not change yet again.

Your example is not that useful because if you require different IK timeouts in a project's logic they should most likely explicitly se

[2022-02-22 08:48] gavanderhoorn commented on #1085
Just wanted to note that "everything in a single file" seems like the equivalent of "just write a monolithic program", but for models/parameters.

Yes, splitting things up into separate files/entities/objects/classes comes at a cost, but we've figured out that cost is worth it in many (almost all?) cases.

I would personally *not* recommend lumping everything into the URDF/SRDF. `ros2_control` did

[2022-02-22 09:08] v4hn commented on #1085
I actually rather like the ros2_control approach and it's one of the reasons why I think it might make sense for MoveIt as well. I did not have to work with it yet though.
I agree with you in parts, but a segfault in a huge binary is about the whole system crashing, whereas configuration - by their very nature - has to be consistent across modules OR the system crashes.
In terms of modularity it w

[2022-02-22 09:22] gavanderhoorn commented on #1085
creating applications by composing parts has many more advantages than just (runtime) fault isolation.

One disadvantage of the approach `ros2_control` uses is that it encourages forks of what could otherwise be pure read-only upstream dependencies, just so people can version "their ros control configuration". This can all be worked around by using `xacro` and a launch file which accepts a paramet

[2022-02-22 09:27] v4hn commented on #1085
I do see your arguments, though no nice solution to the synchronization question. I smell an interesting discussion for the next maintainer meeting. I hope you will be around. :-)

[2022-02-22 12:38] v4hn commented on #1085
Highly related: https://github.com/ros-planning/moveit2/pull/1074

[2022-02-22 20:39] AndyZe opened #1088 "Make PSM `lockSceneRead()` / `lockSceneWrite()` private"
Re. planning_scene_monitor.h

Discussion here:  https://github.com/ros-planning/moveit2/pull/1087#discussion_r811683051

`LockedPlanningSceneRO` should be preferred over `lockSceneRead()`, so it would be great to make `lockSceneRead()` private or maybe even remove it completely.

[2022-02-23 10:19] QNXLQ opened #1089 "UR10 + IKFAST problem"
### Description

when i try to simulate UR10 with IKFAST in rviz, the node [move_group-4] process has died and [rviz_ubuntu_11518_7826013209425677446-5] process has died  too.

### Your environment
* ROS Distro:Melodic
* OS Version:  Ubuntu 18.04

### Steps to reproduce
Follow the http://docs.ros.org/en/melodic/api/moveit_tutorials/html/doc/ikfast/ikfast_tutorial.html
Create the `ur10.urdf` and `u

[2022-02-23 14:42] AndyZe opened #1091 "Planning Scene Monitor settings should all be specified in one place"
This is an observation that the planning scene monitor [PSM] settings are scattered so it's hard to figure out exactly how to configure your PSM. You really have to read the header file carefully. For example, topic names are often given in a yaml file but you need to call these functions from code:

[code]

I think it would be great if this configuration were all specified in one place, probably

[2022-02-23 21:51] nuclearsandwich opened #1092 "moveit in ROS 2 Rolling has not been released on Ubuntu Jammy"
### Description

The ROS 2 Rolling Ridley distribution recently [migrated to Ubuntu 22.04 Jammy](https://github.com/ros/rosdistro/pull/32036) using the rosdistro migration tool.

This repository is one which failed to bloom during the migration because the `python-lxml` dependency is not available in Ubuntu Jammy. Since this is a python2 package it is unlikely that this dependency will be availabl

[2022-02-24 16:41] scleronomic commented on #1084
I get the same error when running Colton build from the [getting started guide](https://moveit.picknik.ai/galactic/doc/tutorials/getting_started/getting_started.html)

`cd ~/ws_moveit2
colcon build --mixin release
`

[2022-02-25 22:41] sancelot opened #1093 "c++ api - compute all planned solutions"
## Background

I want to compute solutions with the c++ api in order to go from pose A to pose B

How to obtain all the planned solutions ?

Is it possible to act on speed factors ? by joint ? or general speed ?

[2022-02-27 19:35] aaryanmurgunde opened #1094 "error while loading libbackward.so"
### Description
When the move_group node is executed, it immidiatly dies with the following error `moveit_ros_move_group/move_group: error while loading shared libraries: libbackward.so: cannot open shared object file: No such file or directory`

![image](https://user-images.githubusercontent.com/44398228/155896774-b3952b51-3645-4d52-9a8f-6ae43a2c9f31.png)

This seems to be caused by the missing p

[2022-02-28 13:13] rrufat commented on #1041
moveit_cpp
I was changing planner each time it I ran the benchmark to avoid lag due to sending whole planning_params

[code]

    planning_pipelines:
      #namespace: "moveit_cpp"  # optional, default is ~
      pipeline_names: ["ompl"]

    plan_request_params:
      planning_attempts: 10
      planning_pipeline: ompl
      max_velocity_scaling_factor: 0.1
      max_acceleration_scaling_factor:

[2022-03-03 17:07] #1080 closed

[2022-03-03 17:07] #1092 closed

[2022-03-07 21:38] rbtchun3 commented on #1089
Hey,

I have the same error and came across this but am not sure if this is a good/viable solution.

https://answers.ros.org/question/364020/moveit-crash-undefined-symbol-in-libmoveit_kdl_kinematics_pluginso/

[2022-03-08 09:50] T2FF opened #1105 "Wrong source command in instructions"
Hello everyone, I am new at ROS,

when I tried to follow the [MoveIt instructions](https://moveit.picknik.ai/galactic/doc/tutorials/getting_started/getting_started.html) after installing ROS2 Galactic on Ubuntu 20.04 it did not work.

After a bit of trouble shooting I noticed the command `source /opt/ros/rolling/setup.bash` which should probably be `source /opt/ros/galactic/setup.bash` as the inst

[2022-03-08 10:50] henningkayser opened #1106 "setup.py deprecated (launch_param_builder, moveit_config_utils)"
### Description

Currently, `launch_param_builder` and `moveit_config_utils` are showing deprecation warnings because of setup.py, recommending to use pip or other standards-based tools instead.

### Your environment
* ROS Distro: Rolling
* OS Version: Ubuntu 22.04
* Source build
* Branch: main

### Backtrace or Console output

[code]

[2022-03-08 14:01] JafarAbdi commented on #1094
I'm not %100 sure, but I think it's because we have moveit_common as a `build_depend` rather than `depend`

[2022-03-08 14:29] henningkayser commented on #1105
This is being fixed by https://github.com/ros-planning/moveit2_tutorials/pull/339

[2022-03-08 16:28] #1105 closed

[2022-03-09 12:57] v4hn commented on #1094
On Tue, Mar 08, 2022 at 06:02:04AM -0800, Jafar Abdi wrote:

No, the problem is that libbackward.so & backward_ros are installed on the buildfarm when the package is built, so cmake picks them up.
We wanted to have this linked only when building yourself with backward_ros installed on your system instead of making it a fixed dependency.

@jspricke probably can support here.