[2022-09-28 13:51] sampreets3 opened #1584 "Is there a way to add complex geometry as a Planning Scene object?"
Hi,
I am using MoveIt2 (Foxy) for my project. I see that I am able to add collision objects of the type `moveit_msgs::msg::AttachedCollisionObject` to the PlanningScene and the robot shall try to plan around the objects. I am interested to know if there exists a method to add more complex geometry _(an STL mesh maybe)_ to the planning scene and manipulate its position and orientation dynamically.

[2022-09-28 13:56] AndyZe commented on #1584
Yep, that's definitely possible. Here's an example. It's a little old but this part of the API hasn't changed much at all.

https://answers.ros.org/question/209994/publishing-a-collision-object-to-moveit/

Or a tutorial PR that pretty much does the same thing, except with a box, not a mesh. Changing it to a mesh should be pretty easy:

https://github.com/ros-planning/moveit2_tutorials/pull/492/fil

[2022-09-28 14:06] sampreets3 commented on #1584
Hey @AndyZe,

Thanks for the quick response ! I'm going to try out both approaches and will update my answer if I succeed.

[2022-09-28 21:03] SalahSoliman commented on #1558
@tylerjw would you like to setup a meeting to discuss possible architectural modifications?

[2022-09-28 21:06] AndyZe opened #1586 "Orientation constraints are inconsistent for path constraints vs goal constraints"
### Description

Re. the OrientationConstraint msg (https://github.com/ros-planning/moveit_msgs/blob/ros2/msg/OrientationConstraint.msg) I just noticed that it's handled differently throughout the codebase.

Here in[ ompl_constraints.h](https://github.com/ros-planning/moveit2/blob/7fec51b564be7d1076de57869f26833c7ba767d3/moveit_planners/ompl/ompl_interface/include/moveit/ompl_interface/detail/ompl

[2022-09-28 21:58] tylerjw commented on #1558
Not yet, I think this is part of a much larger discussion we are having internally. If you have any ideas for how you might accomplish this please write about them here.

[2022-09-29 12:42] skaeringur97 opened #1590 "Implementing a MTC global planner plugin to the hybrid planner causes assertion failure"
### Description
I followed [this example](https://github.com/PickNikRobotics/UR10e_welding_demo/blob/master/hybrid_planning_demo/src/global_mtc_planner.cpp) to implement a global planner that uses MTC. I managed to get it working with one simple MoveTo stage, but when I try to do all the stages in the [pick and place example](https://moveit.picknik.ai/humble/doc/tutorials/pick_and_place_with_movei

[2022-09-29 14:49] skaeringur97 commented on #1590
I think this issue might be caused by having multiple groups. I have tested individual stages, with different group names, that work individually but not together. Also, stages that are from the same group, like open and close hand work together.

[2022-09-29 15:57] #1499 closed

[2022-09-30 05:00] Rutikab12 commented on #867
Hey, @tylerjw I would love to work on this issue and reserve it for Hacktoberfest 2022 starting from 01/10/2022. Please do the necessary.

Thank you.

[2022-09-30 17:19] #1586 closed

[2022-09-30 17:56] Mech-Mon commented on #1082
Hello @tylerjw , I am interested in helping out. Noob to contributing.

[2022-10-02 01:48] lonebots opened #1594 "Moveit build error - Ubuntu 22.04"
### Description

The terminal crashed when trying to build Moveit using the source. All the dependencies where correctly installed. and further details about the crash and logs are provided below.

### Your environment
* ROS Distro: Humble (ros2)
* OS Version: Ubuntu 22.04
* Source build, (binary not available)
* Branch : stable and unstable (the issue prevails)

### Steps to reproduce
Follow the

[2022-10-02 14:34] Gleis1234 commented on #1594
got the same issue with binary install from repo ros-humble-moveit.

[2022-10-03 00:12] Sabine91 commented on #862
I will get on it @tylerjw

[2022-10-03 07:52] Nils-ChristianIseke commented on #1594
I had the same issue, two different approaches worked for me:

1. Replace `colcon build --event-handlers desktop_notification- status- --cmake-args -DCMAKE_BUILD_TYPE=Release` by:
[code]
2. If the first approach does not work you can also try to follow those [instructions ](https://moveit.picknik.ai/humble/doc/tutorials/getting_started/getting_started.html). After the command:` vcs import < moveit

[2022-10-03 11:03] Gleis1234 commented on #1594
The second way helped. I built from ~/ws_movit2.
Result
/home/guenther/ws_moveit2/src/moveit2/moveit_setup_assistant/moveit_setup_srdf_plugins/include/moveit_setup_srdf_plugins/rotated_header_view.hpp:0: Note: No relevant classes found. No output generated.
---
Summary: 63 packages finished [37min 36s]
  4 packages had stderr output: controller_manager moveit_configs_utils moveit_setup_srdf_plugin

[2022-10-03 11:24] GauravN123 opened #1595 "Bug reported"
### Description

Overview of your issue here.

### Your environment
* ROS Distro: [Kinetic|Melodic|Noetic]
* OS Version: e.g. Ubuntu 18.04
* Source or Binary build?
* If binary, which release version?
* If source, which branch?

### Steps to reproduce
Tell us how to reproduce this issue. Attempt to provide a working demo, perhaps using Docker.

### Expected behaviour
Tell us what should happen

##

[2022-10-03 11:24] GauravN123 commented on #1595
Their is a bug in it

[2022-10-03 13:07] Gleis1234 opened #1596 "Tutorial panda robot not shown in rviz2"
### Description

In the Getting Started tutorial https://moveit.picknik.ai/humble/doc/tutorials/quickstart_in_rviz/quickstart_in_rviz_tutorial.html Step 1 the demo is launched. The panda robot arm should be shown in rviz2. This does not work

### Your environment
* ROS Distro: Humble
* OS Version: 22.04
* Binary build
* If binary, which release version?
* If source, which branch?

### Steps to rep

[2022-10-03 13:12] AndyZe commented on #1594
If `--parallel-workers 1` helped, it probably means you were short on RAM.

I think you could use more threads than `1`. You could try `--parallel-workers 4` or so... Probably the full 8 or 12 threads is too much.

[2022-10-03 13:15] Gleis1234 commented on #1594
I'm using --parallel-workers 2. That's ok. The main reason seams to be the git switch humble.

[2022-10-03 15:11] Nils-ChristianIseke commented on #1596
@Gleis1234 Can not reproduce the error. As soon as i add the MotionPlanning Plugin (following the [tutorial](https://moveit.picknik.ai/humble/doc/tutorials/quickstart_in_rviz/quickstart_in_rviz_tutorial.html)) the robot is shown in rviz.

I had the same issue some time ago, i think i solved it by doing a clean build, therefore removing the workspace:

[code]
After that following the [tutorial](htt

[2022-10-03 15:14] Nils-ChristianIseke commented on #1595
@GauravN123 Please describe your problem in more detail. Without further details it is not possible to help you.

[2022-10-03 15:26] Gleis1234 commented on #1596
@Nils-ChristianIseke Do you build from the src dir or from the workspace dir?

[2022-10-03 16:19] AndyZe commented on #1596
Can you paste a screenshot of RViz after you add the Motion Planning Display?

Also, can you please try switching to Cyclone DDS? It's very easy to switch, just install it:

  `sudo apt install ros-rolling-rmw-cyclonedds-cpp`

Then source it. You may want to add this to ~/.bashrc to source it automatically

  `export RMW_IMPLEMENTATION=rmw_cyclonedds_cpp`

[2022-10-03 16:27] Gleis1234 commented on #1596
![Screenshot_RVIZ](https://user-images.githubusercontent.com/36842709/193628927-1e3e1e2a-bd54-446c-9837-8a08424bb6a7.png)
I wonder that "Motion Planning", "Trajectory" and "Planning Scene" were already added to the Displays window.
I will try to switch to Cyclone DDS.

[2022-10-03 16:39] AndyZe commented on #1596
You could also add a `tf` display and verify that the tf frames are there. I bet they will be.

[2022-10-03 16:41] Gleis1234 commented on #1596
@AndyZe Did you see the exception
[code]
?

[2022-10-03 16:44] AndyZe commented on #1596
I did not. That parameter comes from here:   https://github.com/ros-planning/moveit_resources/blob/ros2/panda_moveit_config/config/joint_limits.yaml

Seems OK to me?

I'll fire up my Ubuntu22 and test it

[2022-10-03 17:30] Gleis1234 commented on #1596
I think I found the point. I had activated german locals.
Thank you for the support. The hint to the yaml showed my the the right way.

[2022-10-03 17:30] #1596 closed

[2022-10-03 19:55] #1595 closed

[2022-10-03 19:56] tylerjw opened #1597 "move_group segfault when destructing node inside trajectory_execution_manager"
### Description

[code]

[2022-10-04 12:18] henningkayser commented on #1038
I'm closing this since the original purpose of this epic is fulfilled (identifying and removing stale, commented, unused code). There are still some ongoing refactorings that go beyond removal (random_numbers, exceptions) so I removed them from this epic. I like the discussions about better controller support, but they are clearly off-topic here and should be continued in a different issue.

[2022-10-04 12:18] #1038 closed

[2022-10-04 18:29] patilyashr commented on #1480
Hi @MikelBueno, can you post how you used "use_sim_time" parameter for Moveit, I can't seem to find it.
Thanks!

[2022-10-05 08:52] sjahr opened #1599 "Known Issues and Troubleshooting"
This epic contains a list of known issues with MoveIt2 with temporary fixes + workarounds. You can add new issues to this list, help others with workarounds in the discussion around a specific issue and of course fix problems.

[2022-10-05 09:05] sjahr opened #1600 "Crashes/ Freezes while building MoveIt2 from source with limited HW resources"
### Description

You experience crashes or your system freezes when you try to build MoveIt2 on a system with limited/ weaker hardware resources.

### Your environment
* ROS Distro: Any ROS2 distro
* Source or Binary build? Source
* If source, which branch? All

### Steps to reproduce
Build MoveIt2 from source on your machine with correct dependencies

### Expected behaviour
MoveIt2 should require

[2022-10-05 09:14] sjahr commented on #1600
The problem is related to the potential high RAM usage of colcon. So you can fix it by reducing the RAM load:

:arrow_right: [Configuring colcon's executor](https://colcon.readthedocs.io/en/released/reference/executor-arguments.html) with the `--executor` flag:
[code]
or the `--parallel-workers` flag
[code]

[2022-10-05 09:14] #1600 closed

[2022-10-05 09:31] sjahr commented on #1536
Hi @marc-wittwer, it took me so long to respond. Does this issue still exist? If you fixed something in MoveIt, it would be great if you could open a PR with your fix. If it still exists, can you open a separate issue, so we can track and fix it eventually? I'll close this issue for now, since the original question is solved.

[2022-10-05 09:31] #1536 closed

[2022-10-05 09:38] sjahr commented on #1594
Another solution (weaker) solution is to disable building multiple packages in parallel with `--executor sequential`
I'll close this issue since it seems to be solved :+1:

[2022-10-05 09:38] #1594 closed

[2022-10-05 13:08] GabrielReVa commented on #1570
I get the same error but with my own interfaces. The error is:
CMake Error at C:/QuixMind/QuixSmart/ros2_ws/install/inventory_interfaces/share/inventory_interfaces/cmake/ament_cmake_export_targets-extras.cmake:18 (message):
  Failed to find exported target names in
  'C:/QuixMind/QuixSmart/ros2_ws/install/inventory_interfaces/share/inventory_interfaces/cmake/inventory_interfaces__rosidl_generator_

[2022-10-05 15:03] AndyZe opened #1602 "Move controller_manager/ traj_execution_manager documentation to tutorials"
There is some documentation scattered around the codebase. For example,

https://github.com/ros-planning/moveit2/blob/main/moveit_plugins/moveit_ros_control_interface/README.md

https://github.com/ros-planning/moveit2/tree/main/moveit_ros/planning/trajectory_execution_manager/dox

It would be nice to consolidate this to the tutorials. Probably here: https://moveit.picknik.ai/humble/doc/examples/co

[2022-10-05 15:04] abhijelly commented on #856
@tylerjw Hi! I'd like to work on this issue if no one else is already working on it.

[2022-10-05 17:37] henningkayser opened #1603 "Enable cost-optimized planning with STOMP"
This is about enabling STOMP planning support for MoveIt 2.
The underlying implementation has been moved to https://github.com/ros-industrial/stomp, so a direct port of the old plugins is not possible anymore. I'm working on a new adaption that involves:

- [x] Motion Planning Plugin
- [x] Noise Generation
- [x] Collision Cost
- [x] Joint Goals
- [x] Cartesian Goals
- [ ] Path Constraints
- [ ] Ca

[2022-10-06 13:38] AndyZe opened #1604 "Consecutive planning_request_adapters can counteract each other"
### Description

We almost always begin motion planning with these two planning request adapters:

  1. default_planner_request_adapters/FixStartStatePathConstraints
  2. default_planner_request_adapters/FixStartStateCollision

  They both "jiggle the start state" of the robot to get it back to a good state. This is just an observation that (2) can undo the effects of (1) so this strategy might no

[2022-10-07 06:13] AbdoullahNdoye commented on #1570
I got the same error using colcon build with realsense2 package :

CMake Error at /home/ndoyea/ros2_ws/install/realsense2_camera_msgs/share/realsense2_camera_msgs/cmake/ament_cmake_export_targets-extras.cmake:18 (message):
  Failed to find exported target names in
  '/home/ndoyea/ros2_ws/install/realsense2_camera_msgs/share/realsense2_camera_msgs/cmake/export_realsense2_camera_msgs__rosidl_generat

[2022-10-07 08:49] KingWang569 opened #1607 "How to make one concave geometry outside of another concave geometry by a set distance threshold"
**Is your feature request related to a problem? Please describe.**
**We now have such a problem:**
We want different components of the robot (eg: arm, C-type-tool, etc.) and different parts of the table (eg desktop, table legs, etc.) to maintain the set safe distance threshold;
We use ros fcl interface distance() to get the minimum distance from the robot to the table
manager.manager_->distance(ob

[2022-10-08 04:26] Abishalini opened #1608 "Enable deprecated declarations warning as error in move_group_interface"
Revert PR #1598 once humble support is discontinued on the main branch.

Replace `rmw_qos_profile_services_default` with `rclcpp::SystemDefaultsQoS()` in the `create_client` functin call in `move_group_interface.cpp`

[2022-10-08 20:13] AbdoullahNdoye commented on #1570
This helped me solve it for me:  https://github.com/ament/ament_cmake/pull/395/commits/11c44dbd646846a2e8ca912155f0704e9b0c3c57.
I changed two lines in the file "ament_cmake_export_targets-extras.cmake.in"  located in  /opt/ros/humble/share/ament_cmake_export_targets/cmake.

[2022-10-10 11:17] abhijelly commented on #856
Hey, here is the pull request. I did a few minor changes to see if I was making the desired changes.

https://github.com/ros-planning/moveit2/pull/1609

[2022-10-10 16:13] henningkayser commented on #129
With https://github.com/PickNikRobotics/generate_parameter_library being applied, this issue can be closed.

[2022-10-10 16:13] #129 closed

[2022-10-11 07:54] cgarry-vs commented on #1120
I've gotten it to work without having to build any dependencies from source
by using the old ros package index recommended in the earlier comment (be
sure to rosdep init, update, etc. in the MoveIt2 repo after the clone step)
and following the rest of the MoveIt2 build instructions as usual.

On Tue, Mar 22, 2022, 17:28 Aditya Agarwal ***@***.***> wrote:

[2022-10-13 20:29] CanBayraktaroglu opened #1611 "Moveit2 Source Build Linux - Colcon Build Error"
**Description**
Attempting to build MoveIt2 with ROS2 Humble installed from binary. I have tried every single possible solution I could find in the previously closed issues, unfortunately to no avail.

**Your Environment**
ROS Distro: Humble
OS Version: Ubuntu 22.04
Source or Binary build: Binary

**Steps to reproduce**
Follow instructions at https://docs.ros.org/en/humble/Installation/Ubuntu-Inst

[2022-10-13 21:44] tylerjw commented on #1611
Do you mind running `vcs export` in your source directory and posting it here?

[2022-10-13 22:04] CanBayraktaroglu commented on #1611
Of course! Thank you for the quick response. Here is the output of the command

[code]

[2022-10-14 03:34] samcts2309 commented on #1611
what's your cmake version? I had similar issue with cmake 3.24.1, and my solution was drop back cmake version to 3.23.2.

[2022-10-14 15:11] CanBayraktaroglu commented on #1611
when i run the cmake --version command i get 3.24.2, but when i run apt policy cmake i get the following:

[code]
which version are you asking for and how do i downgrade the one affecting the moveit2 build?

[2022-10-17 18:37] tylerjw opened #1616 "gpg requesting key: host not found"
### Description

Sometimes when running CI I've seen this failure:

[code]

Is there anything we can do to make our CI more robust to this or are we stuck re-running CI?

### Reference

https://github.com/ros-planning/moveit2/actions/runs/3267180216/jobs/5372999894

[2022-10-17 18:40] tylerjw commented on #1611
I'm not sure how you downgrade as it seems 3.22.1 is the one you have installed via apt. Maybe you installed it manually somehow?

When I run cmake --version on my machine (ubuntu 22) I see this response:
[code]

Running `which cmake` might help you figure out where your newer version of cmake is and that might help you understand how to remove the newer version.

[2022-10-17 18:55] tylerjw commented on #1616
https://github.com/ros-planning/moveit2/blob/baba9b041225ed5518d5235996afb9aa3c5a61f8/moveit_kinematics/ikfast_kinematics_plugin/scripts/auto_create_ikfast_moveit_plugin.sh#L118-L125

This is the docker file that is getting built and failing. It was suggested to me that we should move the RUN block that fails here before the FROM state so the cache doesn't get busted. This would require us to cach

[2022-10-17 19:11] CanBayraktaroglu commented on #1611
Allright, I managed to install cmake 3.23.2 separately and changed the paths for cmake to point to it. Moveit2 including the tutorials built succesfully. Yet for future developers, I request you to add some clear and detailed instruction to the moveit2 source build page regarding the specific cmake version necessary for build. Closing the issue.

[2022-10-17 19:11] #1611 closed

[2022-10-17 19:23] sea-bass commented on #1594
So running this build without parallelism happens to fix things, but I think I've fixed the root cause here: https://github.com/ros-planning/moveit2/pull/1617

[2022-10-17 20:56] EzraBrooks opened #1619 "Provide clang-tidy feedback inline on pull requests"
**Is your feature request related to a problem? Please describe.**

Digging through clang-tidy output in CI is inconvenient, and the GitHub Checks API allows Checks to annotate PRs with feedback so you don't have to dig.

**Describe the solution you'd like**

Use [`clang-tidy-action`](https://github.com/marketplace/actions/clang-tidy-action), or similar, to annotate clang-tidy violations onto PR d

[2022-10-17 21:19] tylerjw commented on #1608
@Abishalini I think I found a way to do this and still support Humble and Rolling from the main branch here: https://github.com/ros-planning/moveit2/pull/1620

Would you mind reviewing that change?

[2022-10-17 21:31] tylerjw commented on #1611
Thank you for following up this fixed your issue.

[2022-10-18 17:03] abhijelly commented on #1112
Hi @AndyZe, I cannot seem to find `getPlanningScene()` definition and `getScene()` in the codebase. Is this issue resolved or do I have to look elsewhere? Thank you!

[2022-10-19 12:56] timonegk commented on #1597
I'm facing another segmentation fault that seems to be only in version `2.5.3-1jammy.20220914.xxxxx`. The previous version (`2.5.3-1jammy.20220815.xxxxx` works fine). Maybe a rebuild of the packages could fix the issue?

[code]

[2022-10-19 13:58] SmarkSauer opened #1625 "'std::length_error' on load Planning scene in foxy"
### Description
* ROS Distro: Foxy
* OS Version:Ubuntu 20.04
* Binary

Rviz Crashes on loading a planning scene:

[rviz2-1] [INFO] [1666187620.931024455] [moveit_ros.planning_scene_monitor.planning_scene_monitor]: Starting planning scene monitor
[rviz2-1] [INFO] [1666187620.934407915] [moveit_ros.planning_scene_monitor.planning_scene_monitor]: Listening to '/monitored_planning_scene'
[rviz2-1] ter

[2022-10-19 23:15] juanea commented on #862
@tylerjw Is this still relevant?
Could I work on this issue?

[2022-10-21 10:47] RoboticsYY opened #1630 "OPW kinematics plugin to MoveIt2"
Hi @henningkayser, I would like to ask MoveIt2 plan for OPW kinematics plugin. One of our customers hope to use OPW kinematics plugin with MoveIt2. We would like to see if we can make some contribution to the OPW kinematics plugin porting.

[2022-10-21 13:55] timonegk commented on #1597
I am unfortunately no longer able to reproduce my issue, I'm getting a different error now. I will report back when I know more.

[2022-10-21 15:55] schornakj opened #1631 "TrajectoryExecutionManager's default controller selection logic incorrectly prefers to use inactive controllers"
### Your environment
* Humble
* Ubuntu 22.04
* 2.5.3

### Steps to reproduce
Use a robot with two controllers that both actuate the same set of joints, and code where MoveIt has to independently select which controller to use for a given trajectory (i.e., no user-specified controller).

### Expected behaviour
The TrajectoryExecutionManager uses the already-active controller to execute the trajecto

[2022-10-21 16:06] sea-bass opened #1632 "Allow specifying controllers when executing a plan via move group"
## Background
This is motivated by MoveIt Studio, but has a more general use case. Suppose there are several controllers that can be toggled for a specific robot.

When executing a trajectory, either through `MoveItCpp::execute()` or `MoveGroupInterface::execute()`, there is currently no option to explicitly specify controller names.

`TrajectoryExecutionManager` has its own logic to enable contro

[2022-10-21 19:45] swiz23 opened #1633 "Group X is not a chain"
### Description
There seems to be a few unexpected warning messages that appear in the terminal if there is a planning group defined in an SRDF file which does not have an associated kinematics plugin. Reasons to do this might be to have a group of links that you want to disable collisions for in a given application. This did not used to happen, and it's unclear why it's happening now.

### Your e

[2022-10-21 20:29] #1608 closed

[2022-10-22 21:33] AndyZe commented on #1112
`getPlanningScene()` is definitely still an issue and you can easily find all usages like so:

`grep -r "getPlanningScene("`

I wouldn't worry about `getScene()` for now, let's take care of `getPlanningScene()` first.

Basically this issue asks you to add a deprecation warning to the [function declaration](https://github.com/ros-planning/moveit2/blob/44821258a71c54a1b2381d8e664dfcdac79c40fa/moveit

[2022-10-22 21:43] AndyZe commented on #1632
I'm cool with this idea. I like Option 1 better than Option 2.

If we start doing this type of thing, would we even need ControllerManagers anymore? I can't think of a reason. Maybe @mikeferguson has one.

[2022-10-23 02:26] schornakj commented on #1632
In the situation described, the MoveIt controller manager is the thing that's ultimately consuming the list of controllers and acting on it to set the required controller states, so I think we'd still be using it.

[2022-10-23 04:01] AndyZe commented on #1632
OK, that's good to know. But, do you think the extra complexity of the controller managers is worth it? It requires every MoveIt2 user to set up a controller manager. 95% of them will never know what it does and they'll just use the same controller for every motion.

I remember the specifics of your (MoveIt Studio) case now -- you want to execute some trajectories with a Joint Trajectory Controlle

[2022-10-23 06:00] abhijelly commented on #1112
@AndyZe Thank you for your help! I've raised #1635.

[2022-10-24 14:29] AndyZe commented on #1632
I guess we still need a ControllerManager for executing a combined (gripper + arm) trajectory, for example. Something where the joints are shared across 2 controllers. Sigh.

[2022-10-24 21:45] swiz23 opened #1637 "Add ST-RRT* Planner to MoveIt"
**Is your feature request related to a problem? Please describe.**
Currently, the ST-RRT* planner (added into ompl 9 months ago) is not yet integrated into  the [moveit_planners_ompl](https://github.com/ros-planning/moveit2/tree/main/moveit_planners/ompl) package. According to https://vhartmann.com/strrt/, this planner outperforms both RRT-Connect and RRT* on initial solution time and attained fin

[2022-10-25 07:36] henningkayser commented on #1630
@RoboticsYY we currently don't have any plans to port OPW, but maybe @JeroenDM can help you out about the status of  https://github.com/JeroenDM/moveit_opw_kinematics_plugin/tree/ros2-port

[2022-10-26 13:50] skaeringur97 commented on #1590
I did a binary install on moveit, even though it's not fully supported for Humble yet, and installed MTC seperately with these lines:
[code]
and now it runs without problems on the Panda robot.

[2022-10-26 13:50] #1590 closed

[2022-10-27 03:16] ronniethehood commented on #1279
Hi @peterdavidfagan, this looks great. Any update on when it might be released?

[2022-10-27 11:41] peterdavidfagan commented on #1279
Thanks @ronniethehood, apologies for the delay in the release of the library. The initial plan was to release at the end of this month, this is now more likely to be in mid-November. For context I am working on unit testing, tutorials and cleaning up the code. There will also be reviews from some of the maintainer team which should lead to additional improvements to the python library code.

Once

[2022-10-28 07:19] skaeringur97 opened #1640 "Loading servo parameters defaulting to Panda"
When loading servo parameters with `moveit_servo::ServoParameters::makeServoParameters(node, "servo")` it loads the default configurations for the Panda robot, declared in [servo_parameters.h](https://github.com/ros-planning/moveit2/blob/0ec600d1257b9198808f48598c499491cabd8eb1/moveit_ros/moveit_servo/include/moveit_servo/servo_parameters.h). If I use  `moveit_servo::ServoParameters::makeServoPara

[2022-10-28 09:39] #1552 closed

[2022-10-30 23:08] Klarinemend opened #1672 "Problems with Humble tutorials"
Hello, I'm doing the Moveit2 Ros2 tutorial through Humble. I'm having problems with the "Pick and Place with MoveIt Task Constructor" part.
After doing the Launch files, I was trying to run the commands ros2 but all of them went wrong.
![4EB31009-F27B-4BAC-878F-61A71BD1EDE3](https://user-images.githubusercontent.com/78544421/198906301-79f8d9a7-fbc4-4400-8913-81b20e7941f5.png)
![342D35EB-106D-4F49-

[2022-10-31 07:27] wongearth opened #1676 "installation failed-- set stuck at moveit_planners_ompl"
### Description

I can not get passed the errors while building from source moveit2

### Your environment
* ROS Distro: humble (source build -- branch)
* OS Version: e.g. Ubuntu 22.04
* Source or Binary build? Source
* If binary, which release version?
* If source, which branch? humble

### Steps to reproduce
Tell us how to reproduce this issue. Attempt to provide a working demo, perhaps using Doc

[2022-10-31 15:07] Abishalini commented on #1676
Solution mentioned here - https://github.com/ros-planning/moveit2_tutorials/issues/537

[2022-10-31 16:39] AndyZe opened #1678 "Finish the conversion to `MoveItErrorCode` returns, rather than `bool`"
PR #1605 started to return a `MoveItErrorCode` from motion planning, rather than `bool`. But, [as noted here](https://github.com/ros-planning/moveit2/blob/66a64b4a72b6ddef1af2329f20ed8162554d5bcb/moveit_core/planning_request_adapter/src/planning_request_adapter.cpp#L57), the change wasn't propagated completely through the codebase yet. Here's one spot where `MoveItErrorCode` ought to be used. Ther

[2022-10-31 20:03] ChrisThrasher commented on #214
https://github.com/ros2/rclcpp/issues/281 has been closed. Can we revisit this now that the problem has seemingly been fixed in rclcpp?

[2022-11-01 13:57] skaeringur97 opened #1682 "Use psm->requestPlanningSceneState() instead of psm->getPlanningScene()"
I've had some trouble with collisions if I have published collision objects before my own node. That is because in some places, like [MoveItCpp](https://github.com/ros-planning/moveit2/blob/main/moveit_ros/planning/moveit_cpp/src/moveit_cpp.cpp#L98) and the [local planner](https://github.com/ros-planning/moveit2/blob/main/moveit_ros/hybrid_planning/local_planner/local_planner_component/src/local_p

[2022-11-02 08:08] hagenfal opened #1685 "Error finding moveit_ros_perception"
Hello,
I'm new using ROS and Moveit.
I have a problem with moveit_ros_perception and I don't know how to solve it.
I've updated my Linux from 20.04 to 22.04 and from ROS Foxy to ROS Humble.
Is the moveit_ros_perception package still in moveit2?
Or do I have to install it extra?

` CMake Error at CMakeLists.txt:16 (find_package):
  By not providing "Findmoveit_ros_perception.cmake" in CMAKE_MODULE_

[2022-11-02 09:38] skaeringur97 opened #1686 "Local planner gets stuck, causing jittery motion"
### Description
When I send positions to a hybrid planner, using either UR10e or Kinova Kortex, the robot jitters a lot before either succeeding or crashing. Weirdly, I don't have this issue when running the Panda robot. However, another user had the same problem explained in #1536 which makes me think this is a MoveIt issue and not a robot specific problem.

I followed the advice in #1536 and #81

[2022-11-03 13:37] AndyZe opened #1687 "Typo in ControllerManager deprecation warning"
There's a typo here, it should say:

      RCLCPP_WARN(LOGGER, "moveit_ros_control_interface/MoveItControllerManager is deprecated. Replace with "
                          "`moveit_ros_control_interface/Ros2ControllerManager.`");

https://github.com/ros-planning/moveit2/blob/8c29ad9fa3e8a1fdd8e0c8d232b9273bc5754997/moveit_ros/planning/trajectory_execution_manager/src/trajectory_execution_manager.

[2022-11-03 13:38] AndyZe commented on #1687
Maybe a good issue for @abhijelly ? I'll approve quickly   ;)

[2022-11-03 14:11] abhijelly commented on #1687
i got you :)  #1688

[2022-11-03 14:39] sjahr opened #1689 "Remove _ suffix from struct member variables"
The _ suffix is a naming convention for private member variables of classes, not public struct members. Therefore, the _ suffix of members of [MotionPlanResponse](https://github.com/ros-planning/moveit2/blob/8c29ad9fa3e8a1fdd8e0c8d232b9273bc5754997/moveit_core/planning_interface/include/moveit/planning_interface/planning_response.h#L46) and [MotionPlanDetailedResponse](https://github.com/ros-plann

[2022-11-03 14:52] #1687 closed

[2022-11-03 15:27] AndyZe opened #1690 "Consider deleting TrajectoryConstraint field from moveit_msgs MotionPlanRequest"
A [moveit_msgs MotionPlanRequest](https://github.com/ros-planning/moveit_msgs/blob/master/msg/MotionPlanRequest.msg) contains both `path_constraints` and `trajectory_constraints` fields. These message components have the same type.

I'd argue that they are redundant and we should delete `trajectory_constraints`. The only difference between a path and a trajectory is timing info as well as velocity

[2022-11-03 16:14] JoaoVitorMenezesMagalhaes commented on #1689
Hello @sjahr!! Can you assign me to this issue, please ?

[2022-11-03 16:20] ipa-cmh opened #1691 "pilz_cartesian_limits.yaml overwrites joint_limits.yaml when using moveit_configs_builder.py"
### Description

When using an MSA generated config package, the parameters stored in pilz_cartesian_limits.yaml overwrite the parameters stored in joint_limits.yaml.

### Your environment
* ROS Distro: Humble
* OS Version: Ubuntu 22.04
* Binary install

### Steps to reproduce
Create a msa package and add the appropriate configuration YAMLs.
[code]

With the follwoing content:
[code]

Cartesian li

[2022-11-03 17:49] JafarAbdi commented on #1691
Hi @ipa-cmh,

I can't reproduce it locally, do you mind uploading the generated moveit config package and share the link?

Thanks!

[2022-11-03 19:28] ipa-cmh commented on #1691
Hi @JafarAbdi,

I did some digging and it seems to be the `MoveItConfigs.to_dict()` function.
After reviewing the current source in master, this seems to have been solved with #1571 and #1583.
This is just not yet in the humble released package.

If necessary, you can use this repo https://github.com/ipa-rar/ur5e_cell/tree/ur5e-working-with-msa for reproduction.

[2022-11-04 04:54] chaimash opened #1692 ""ABORTED: Solution found but controller failed during execution" massage."
### Description

"ABORTED: Solution found but controller failed during execution" massage while planning path for Baxter the robot
For instance, the arm going up, and deny to go back to the first point

### Your environment
* ROS Distro: [Noetic Ninjemys]
* OS Version: 20.04 (Focal)
* Source or Binary build?
* If binary, which release version?
* If source, which branch?

### Steps to reproduce
Tel

[2022-11-04 08:22] #1691 closed

[2022-11-04 13:21] JoaoVitorMenezesMagalhaes commented on #1689
I believe i have fixed it with my PR #1693

[2022-11-04 16:08] #1676 closed

[2022-11-07 14:39] skaeringur97 commented on #1536
@marc-wittwer did you find a solution to this? I'm having similar problems

[2022-11-07 15:07] marc-wittwer commented on #1536
@sjahr @skaeringur97 Unfortunately I was not able to get it working using the built-in hybrid planner.
I somehow modelled my own hybrid framework:
<img width="554" alt="image" src="https://user-images.githubusercontent.com/71826111/200343715-c7918371-45ee-43eb-a1fe-2ba285edde1e.png">

I used JointJog messages to track a certain joint configuration.

[2022-11-07 19:42] marc-wittwer commented on #1536
I did not use the hybrid plugin since my C++ understanding is limited and the whole MoveIt architecture is quite complex. I simply spawned 3 python nodes as seen in the illustration above.
I manually called the MoveGroup action server to plan a trajectory with the `plan_only = True` parameter and then sent JointJog messages via the `delta_joint_cmds` topic to match this topic.

@sjahr I just finis

[2022-11-08 08:47] sjahr commented on #1536
Congratulations! Glad to hear that it helped you. This video looks cool, is / will your thesis be published and/ or is your source code open source? I'd be interested to learn more about the actual implementation and architecture of your project

[2022-11-08 09:36] sjahr commented on #1686
Hi @skaeringur97, thank you for opening this issue. The currently available plugins of the architecture are example implementations and might be unsuitable for your specific application. My suspension is that this might by caused by latencies between the robot and the hybrid planning architecture and/or that as you suggested, the STUCK_ITERATIONS_THRESHOLD is not configured correctly. I'd recommen

[2022-11-08 15:32] MikeWrock commented on #1340
See https://github.com/ros-planning/moveit2_tutorials/pull/533

[2022-11-09 05:29] jwson97 opened #1702 "No kinematics plugins defined. Fill and load kinematics.yaml!"
### Description

Overview of your issue here.

### Your environment
* ROS Distro: Humble
* OS Version: 22.04
* Source or Binary build? Source
* If binary, which release version?
* If source, which branch? humble

### Steps to reproduce
On Your First C++ Moveit Project tutorials, (https://moveit.picknik.ai/humble/doc/tutorials/your_first_project/your_first_project.html)

ros2 launch moveit2_tutoria

[2022-11-09 10:33] skaeringur97 commented on #1686
Hi @sjahr, thank you. I will check it out and see if I can modify the local planner plugin.

I did find out that if I replace the robot command msg in forward_trajectory.cpp to be the whole local_trajectory and not just the closest point at each time, this problem disappeared. However, instead the robot moves super slowly. Here it is before this change:

https://user-images.githubusercontent.com/3

[2022-11-09 10:55] henningkayser commented on #214
I think we should. PRs are always welcome ;)

[2022-11-09 11:32] skaeringur97 commented on #1686
The above fixes don't take the collision check into account, I had to change a bit more. It now looks like [this](https://gist.github.com/skaeringur97/f4085fd862618285618f447a20494696). This works, but it's not the best solution.. Do you have any ideas @sjahr for a better solution?

[2022-11-09 11:42] rhaschke opened #1705 "Fix private github actions"
@JafarAbdi and @vatanaksoytezer,
your github actions used for CI require an update to get rid of CI warnings:
https://github.blog/changelog/2022-10-11-github-actions-deprecating-save-state-and-set-output-commands

[2022-11-09 15:13] skaeringur97 commented on #1686
I also tried the servo implementation that the custom plugin implementation example used, with a few modifications because of the end-effector in that example, but I then get this warning msg in the driver terminal: `Joints on incoming trajectory don't match the controller joints.` I have verified the joint names in robot_command. The robot does follow the trajectory correctly, very slowly however

[2022-11-09 15:52] JafarAbdi commented on #1705
Should be fixed with https://github.com/JafarAbdi/latest-rosdistro-release-date-action/commit/4bd1c0ce4261b03d85c3ef29b0e507f20d2d60b1

[2022-11-09 17:53] AndyZe opened #1708 "MotionPlanResponse and MotionPlanDetailedResponse are redundant"
[MotionPlanResponse](https://github.com/ros-planning/moveit2/blob/72e29b4f738c6a8d1eef3f46ac631523027660da/moveit_core/planning_interface/include/moveit/planning_interface/planning_response.h#L48) and [MotionPlanDetailedResponse](https://github.com/ros-planning/moveit2/blob/72e29b4f738c6a8d1eef3f46ac631523027660da/moveit_core/planning_interface/include/moveit/planning_interface/planning_response.h

[2022-11-09 17:55] AndyZe commented on #1708
I'm curious what @sjahr would say about this b/c he's been poking around in this code recently.

[2022-11-10 08:28] sjahr commented on #1708
@henningkayser and I discussed that when I was working on that part of the code [here](https://github.com/ros-planning/moveit2/pull/1542#discussion_r982391876) but changing it was beyond the scope of the PR (Should have opened an issue like this though). I think this would be a good idea although, as Henning pointed out, the detailed response includes a vector of trajectories. We need decide if we

[2022-11-10 10:05] skaeringur97 commented on #1686
I found the issue! In the driver for the robot, there are position constraints set for each joint in the controllers.yaml file:
[code]
If I increase the limit or remove the constraints, the issue disappears.

[2022-11-10 11:10] skaeringur97 commented on #1686
Limiting the joints more also works!

[2022-11-10 11:24] henningkayser commented on #1708
The detailed version is for debugging and may produce some overhead. I wouldn't really remove any of those, since we would have to pass a debug flag with the request to either get the vectors filled or not. However, we could argue that a better debugging interface would report from the individual planning steps directly, e.g. with callbacks returning individual MotionPlanResponse messages from the

[2022-11-10 11:40] henningkayser commented on #1702
Interesting... That's the exact path that `robot_description_kinematics` defaults to. What happens if you use below?

[code]
@JafarAbdi any thoughts?

[2022-11-10 12:09] henningkayser commented on #1690
I've wondered about this as well. At least `trajectory_constraints` aren't used anywhere besides passing a seed trajectory to the old MoveIt 1 STOMP planner plugin (https://github.com/ros-industrial/stomp_ros/blob/melodic-devel/stomp_moveit/src/stomp_planner.cpp#L525). That use case would be better covered by using the [reference_trajectories](https://github.com/ros-planning/moveit_msgs/blob/maste

[2022-11-10 12:37] #1692 closed

[2022-11-10 12:37] henningkayser commented on #1685
Please try installing `moveit_ros_perception` manually, using

[code]

Also, if you project depends on `moveit_ros_perception`, it should be listed in your `package.xml` so that rosdep can pick it up and install it.

The reason you ran into this is probably because the meta-package `moveit_ros` [doesn't list the perception package](https://github.com/ros-planning/moveit2/blob/foxy/moveit_ros/movei

[2022-11-10 14:04] henningkayser commented on #1682
Hi @skaeringur97, apparently you are running a remote node (MoveGroup?) that is maintaining your planning scene. In that case, proper synchronization is indeed necessary, which can be done with `requestPlanningSceneState()` in the user code. But this is somewhat specific to your setup and doesn't account for all use cases, especially if it's not clear which one is the "main" planning scene. This i

[2022-11-10 16:43] henningkayser commented on #1640
You're right, the default values are really not ideal here. We're currently working on refactoring all of MoveIt's parameters to use proper declaration and defaults using the [generate_parameter_library](https://github.com/PickNikRobotics/generate_parameter_library). See https://github.com/ros-planning/moveit2/pulls?q=is%3Apr+generate_parameter_library for examples. Contributions are always welcom

[2022-11-10 16:49] henningkayser commented on #1637
Enabling an OMPL planner should be as easy as adding an entry to [this function](https://github.com/ros-planning/moveit2/blob/main/moveit_planners/ompl/ompl_interface/src/planning_context_manager.cpp#L280) and providing a [planner config entry](https://github.com/ros-planning/moveit_resources/blob/ros2/panda_moveit_config/config/ompl_planning.yaml#L10). Have you tried this yet? Looks promising.

[2022-11-10 17:20] henningkayser commented on #1603
Closing this, planning and dev will be continued in https://github.com/ros-planning/stomp_moveit

[2022-11-10 17:20] #1603 closed

[2022-11-11 01:17] jwson97 commented on #1702
Hi,

I tried your code. But same result with warn.

[2022-11-11 19:34] swiz23 commented on #1637
@henningkayser,

Yes, I've tried that, but I get an error message printed out from [here](https://github.com/ompl/ompl/blob/d8375d842a7f016d64f27a81d6f95eaa83fbe595/src/ompl/geometric/planners/rrt/src/STRRTstar.cpp#L44) that state space needs to be of type SpaceTimeStateSpace.

[2022-11-15 14:36] karolinajudzentyte opened #1717 "moveit_setup_assistant not posible to use setPositionTarget()"
### Description

I have used moveit_setup_assistant to generate launch files. Rviz plugging for random_value goal works and so does setJointValueTarget(), however the setPositionTarget() dose not (it newer finds a solution not even when solution is the current robot location)

### Your environment
* ROS Distro: Humble
* OS Version: Docker image moveit/moveit2:humble-source
* Source: feature/msa

#

[2022-11-16 22:56] ChrisThrasher opened #1720 "Replace `MOVEIT_LIB_NAME` with target names"
### Description

The `MOVEIT_LIB_NAME` CMake variable creates an extra layer of indirection when writing target-based CMake commands. This practice does not aid readability while harming the grep-ability of the build scripts. The variable ends up getting re-used for multiple targets which further harms ones' ability to understand the build scripts.

I propose we simply remove all instances of that

[2022-11-17 08:44] rd-bot opened #1722 "Perception pipeline tutorial uses ROS1 in ROS2 (Humble) documentation"
### Description

I'm trying to turn a point cloud topic (from an Oak-d lite stereo camera) into an octomap voxels to be used for motion planning with a 7 dof arm. However, the documentation in moveit for Humble is for ROS1:

https://moveit.picknik.ai/humble/doc/examples/perception_pipeline/perception_pipeline_tutorial.html?highlight=perception

### Your environment
* ROS Distro: Humble
* Docker Ub

[2022-11-17 21:26] tylerjw opened #1723 "Refactor logger names"
Refactor the logger names as `<package>.<library>.<file>` mode. In some situations, `<library>` is ignored if `<library>` and `<file>` are very similar or `<library>` makes the logger names too heavy. Refer to [MIGRATION_GUIDE](https://github.com/ros-planning/moveit2/blob/master/doc/MIGRATION_GUIDE.md) and discussions https://github.com/ros-planning/moveit2/pull/140#discussion_r360439235

See: htt

[2022-11-17 21:28] tylerjw opened #1724 "Standardize includes to use <> style"
As started here: https://github.com/ros-planning/moveit2/pull/170/files

Refactor all includes to use <> style. For example:

[code]

Becomes:

[code]

[2022-11-17 21:30] tylerjw opened #1725 "Support building on OSX"
This PR: https://github.com/ros-planning/moveit2/pull/353 includes some changes to make it easier to build MoveIt on OSX. Continue this work and provide documentation for supported methods of building MoveIt on OSX.

[2022-11-17 21:34] tylerjw opened #1726 "Add tests for PlanningPipeline using dependency injection"
- [ ] Rebase https://github.com/ros-planning/moveit2/pull/665 @abake48
- [ ] Review @tylerjw

[2022-11-17 21:36] tylerjw opened #1727 "Rename docker argument CATKIN_WS to ROS_WS"
See:

- https://github.com/ros-planning/moveit2/pull/705#issuecomment-938962840

[2022-11-17 21:41] tylerjw opened #1728 "Use rclcpp::Duration instead of double in RobotTrajectory"
Strong types for time should be used where possible.

[2022-11-17 21:47] tylerjw opened #1729 "Investigate CI times"
Investigate the causes of CI times and recommend changes that could speed up ci. Some potential things we could do are:

- Split up building/testing packages into parallel CI jobs
- Use newer build tools like lld and ninja
- Investigate caching approach to make sure caches are working as expected
- Build more upstream dependencies into the docker files
- Only rebuild docker images for changes to d

[2022-11-17 21:50] tylerjw opened #1730 "Enable -Wpendantic"
Enable the -Wpedantic error in builds and fix code that produces warnings.

Continuation of the work started here: https://github.com/ros-planning/moveit2/pull/798

[2022-11-17 22:02] tylerjw opened #1731 "Add ABI check to CI"
Continue where this PR left off:

- https://github.com/ros-planning/moveit2/pull/983

The comment was that we have to reduce CI times before we could merge this PR. The ABI check takes 2.5 hours to run. We should find some way to either speed this up or run this sort of check only on demand?

[2022-11-18 02:59] tylerjw opened #1735 "Remove random_numbers dependency"
As we are now using RSL can we remove all places where we are depending on random_numbers and remove it as a dependency?

[2022-11-18 03:06] tylerjw opened #1736 "Migrate to clang-format-14"
As we are now firmly on Ubuntu 22.04 it makes sense to migrate to clang-format-14.

[2022-11-18 03:31] tylerjw opened #1737 "Support both Node and LifecycleNode"
Here is a possible implementation of adapting moveit to support both the Node and LivecycleNode:

- https://github.com/ros-planning/moveit2/pull/1329

If users are going to use moveit and hand MoveIt a node object we should consider supporting both the Node and LifecycleNode.

[2022-11-18 08:57] marioesteban11 opened #1738 "Completed trajectory execution with status ABORTED"
Hi everyone,

I'm trying to move the ur3e robot with the URSIM, with moveit. but a have this error:

I'm in:
ROS2 HUMBLE
UBUNTU 22.04

As I said before, Im trying to emulate some moves in my ur3e robot with moveit, rviz and URSIM. My problem comes when I try to move the robot with the moveit interface. Because the following error shows up:

[code]

And I dont really know what is the problem, if it

[2022-11-18 09:07] gavanderhoorn commented on #1738
you'll want to check the terminal where you started the UR driver for information on *why* the goal was rejected.

It'd be nice if `moveit.simple_controller_manager` also logged the rejection reason (both an `error_code` as well as an `error_string` are part of the rejection result), but it doesn't seem like it does that any more (the ROS 1 version does I believe).

[2022-11-18 09:18] marioesteban11 commented on #1738
I've just seen that in the other terminal, this error shows up:

`[ur_ros2_control_node-1] [INFO] [1668761715.550004163] [scaled_joint_trajectory_controller]: Received new action goal
[ur_ros2_control_node-1] [ERROR] [1668761715.550047689] [scaled_joint_trajectory_controller]: Can't accept new action goals. Controller is not running.
`

But I dont really know how to solve it

[2022-11-18 09:21] gavanderhoorn commented on #1738
That's something you should ask the `Universal_Robots_ROS2_Driver` maintainers.

[2022-11-18 14:54] sea-bass opened #1740 "Finish Tool Path Constraint Implementation"
In https://github.com/ros-planning/moveit2/pull/377, there was some work done to create a nearest-neighbors data structure to allow a trajectory to effectively be "projected", or constrained, to a predefined path.

In favor of closing old PRs, I am creating this issue to continue that work, noting the following plan of action to get it done:

1. Rebase on `main`
2. Investigate whether instead of c

[2022-11-18 16:57] mamoll commented on #1740
Some context for this issue: the goal is to transform a tool path (workspace) trajectory, defined in terms of a polyline, into a continuous configuration space trajectory. This is different from repeatedly calling IK on a bunch of waypoints, since that doesn't ensure a continuous trajectory. We can treat a workspace path as a low-dimensional manifold embedded in config. space, where the start and

[2022-11-18 17:02] mamoll commented on #1740
(Side-note: there is also some related copying from OMPL in `moveit_kinematics/cached_ik_kinematics_plugin/*`.)

[2022-11-19 19:06] #1724 closed

[2022-11-19 20:45] tylerjw opened #1749 "Error building with new version of class_loader"
### Description

[code]

[2022-11-19 20:52] tylerjw commented on #1749
This is related to the overrides don't work bug for moveit. Notice the file path of the header that is being included in this build:

[code]

[2022-11-19 21:25] tylerjw opened #1750 "Make it easy for users to override"
https://colcon.readthedocs.io/en/released/user/overriding-packages.html#how-to-make-it-easier-for-your-users-to-override

[2022-11-21 20:02] #854 closed

[2022-11-22 00:51] #1720 closed

[2022-11-24 09:45] skaeringur97 opened #1761 "MoveIt stops/crashes after newest Humble update"
### Description
This morning, I did apt-update and apt-upgrade. There was a big update (took about 8 minutes) and after that all my demos "crash". A college did the same update but uses Nav2 and not MoveIt and he has no problems. On each demo, the robot first moves for about one second before stopping. There are no error msgs or warnings, the robot simply stops moving.

### Your environment
* ROS2

[2022-11-24 10:43] sjahr commented on #1761
Can you provide the terminal output when you run Moveit2?

[2022-11-24 13:50] vuva commented on #1279
Hi @peterdavidfagan , is time parameterization supported in the initial version of the python binding? And sorry to ask this again, when will you release it?
Thank you

[2022-11-24 15:43] SmarkSauer opened #1762 "Segmentation fault in kdl_kinematics_plugin.cpp"
### Description

Randomly when setting from IK the kdl_kinematics_plugin goes into a segemetation fault.

### Your environment
* ROS Distro: Humble
* OS Version: e.g. Ubuntu 22.04
* Moveit2Docker Binary
*
### Backtrace or Console output
kdl_kinematics_plugin
[app-2] [DEBUG] [1669304583.954376192] [moveit_kinematics_base.kinematics_base]: searchPositionIK: Position request pose is 2.3466 -0.26803 1

[2022-11-25 08:11] skaeringur97 commented on #1761
I have verified that it is the update by running the same code on a computer that hasn't updated for 2 weeks. The code runs fine there.

[2022-11-25 09:00] gavanderhoorn commented on #1761
Just to get it out of the way: have you rebuilt your workspace?

(there is no ABI compatibility guarantee in ROS (neither 1 nor 2). After updating with `apt`, workspaces *must* be rebuilt, or crashes are likely to occur)

[2022-11-25 09:23] skaeringur97 commented on #1761
@gavanderhoorn thanks for the reply. Yes, I have deleted my build, log and install folders and re-build. Unfortunately that didn't solve the problem

[2022-11-25 10:37] sjahr commented on #1761
What about this error?
[code]
Which version of ros2_control are you using and does this message always appear when you run the simple examples?

[2022-11-25 10:58] skaeringur97 commented on #1761
@sjahr this error only shows after the robot stops before finishing the trajectory. I meant that there is no error about why it stops.

I'm using version 2.16.0-1

The above error only shows up in the example where I use MoveItCpp to execute (with `planning_components->execute();`). In the hybrid planning example no error msg shows. In both examples the robot moves a little before stopping.

I'm n

[2022-11-25 12:07] sjahr commented on #1761
MoveItCpp uses the trajectory execution manager. Based on the error, it could be that for some reason, the execution doesn't finish successfully, that's what the error implies. Does the robot execute the whole trajectory before stopping?

[2022-11-25 12:10] skaeringur97 commented on #1761
@sjahr Sometimes it usually stops close to the end of the trajectory. When it manages to finish, it stops in the beginning of the next trajectory. I have only tested on fake hardware.

[2022-11-26 19:27] peterdavidfagan commented on #1279
Hi @vuva,

Apologies that you have had to ask this. Time parameterization will eventually be supported, it is not in the current set of code for the library but will be added.

The initial plan was to release the library by the end of GSoC, unfortunately, this deadline was not met. I have set aside time in December and January just for the completion of this library so I hope to have code ready to

[2022-11-26 19:53] abhijelly commented on #1728
@tylerjw does this apply to every `double` type or only ones with relation to time? just wanted to make sure...

[2022-11-26 20:06] tylerjw commented on #1728
Only the ones that represent time.

[2022-11-28 09:24] sjahr commented on #1761
Can you verify that the trajectory execution action finishes successful and the next trajectory gets send to the robot?

[2022-11-28 10:16] skaeringur97 commented on #1761
The next line after `planning_components->execute();` is not executed, if that answers your question. I tried installing the docker but I was unable to get it working.. I can try again later when I have more time

[2022-11-28 11:54] vatanaksoytezer commented on #1761
Seems like there are some ros2_control nodes dying, I would recommend checking the names. From your log:

[code]

[2022-11-29 10:31] sjahr commented on #1761
Ok, the planning_components->execute() calls moveit_cpp->execute() [here](https://github.com/ros-planning/moveit2/blob/8dcbe40e1e169225b935f7c9fcc552768d7c86b0/moveit_ros/planning/moveit_cpp/src/planning_component.cpp#L399). Can you take a look into moveit_cpp->execute() and check if this returns? [this is the code](https://github.com/ros-planning/moveit2/blob/8dcbe40e1e169225b935f7c9fcc552768d7c8

[2022-11-29 11:17] #1738 closed

[2022-11-29 15:21] tylerjw commented on #1762
Would you mind installing the debug symbols and reproducing the bug so we can get a stack trace?

[2022-11-29 17:05] vatanaksoytezer commented on #1761
I just tested this with a fresh container. Seems like MoveGroupInterface works but I can reproduce what @skaeringur97 sees here with MoveItCpp. It fails in the execution step with the same error. I will go deeper into this, in the meantime, I recommend using a source build of the latest MoveIt2 main branch (main supports both humble and rolling).

[2022-11-30 14:58] skaeringur97 opened #1768 "Hybrid planner crashes after succeeding"
### Description

Sometimes when running the hybrid planner, a ABORT signal is sent just before the plan succeeds. This makes the goal handle send SUCCEEDED just after sending ABBORTED. This results in the following error msg:
[code]

Maybe some lock might be good to make sure that only one state is sent.

### Your environment
* ROS2: [Humble]
* OS Version: Ubuntu 22.04
* Binary build

### Steps to

[2022-11-30 19:22] AndyZe opened #1769 "Add a capability to specify the exact num_waypoints of a trajectory"
I think Henning was the first one to propose this method to resample a trajectory, yielding the exact `num_waypoints` a user requests:

- Run TOTG once to figure out the optimal trajectory duration
- Calculate the timestep to get the desired num_waypoints:
-     delta_t = duration / (num_waypoints-1)     // subtract one for the initial waypoint
-     Run TOTG again with the new timestep. This shou